{%- from 'details/package_header/_publisher_info.html' import publisher_info -%}

{%- macro package_header_data(package, developer_validation, image) -%}
  <div class="p-media-object--large">
    <div class="p-media-object__details">
      <h1 class="u-sv-2">{{ package.store_front["display-name"] }}</h1>
      <div class="p-media-object__content u-no-margin--bottom">
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item">
            {{ publisher_info(package, developer_validation, image) }}
          </li>
          {% if package.store_front.categories %}
            <li class="p-inline-list__item">
              <a href="/?filter={{ package.store_front.categories[0].slug }}">{{
                package.store_front.categories[0].name }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{%- endmacro -%}