{%- macro publisher_info(publisher_name, username, developer_validation, package_type, image, tooltip_id_suffix='') -%}
{%- set verified_tooltip_id = 'verified-tooltip' -%}
{%- if tooltip_id_suffix -%}
  {%- set verified_tooltip_id = verified_tooltip_id ~ '-' ~ tooltip_id_suffix -%}
{%- endif -%}
<span class="p-tooltip--btm-center">
  {% if username is not none %}
    <a href="/publisher/{{ username | safe }}" title="View all packages from {{ publisher_name }}">
      {{ publisher_name }}
    </a>
  {% else %}
    {{ publisher_name }}
  {% endif %}
  <span class="p-tooltip__message">Publisher</span>
</span>

{%- if package_type == "bundle" -%}
  <span class="p-muted-heading u-no-padding" style="font-size: .9rem;">| bundle</span>
{%- endif -%}

{%- if developer_validation == "verified" -%}
  <span class="p-tooltip--top-center" aria-describedby="{{ verified_tooltip_id }}">
    {# forcing format to "svg" to avoid scaling issues with Cloudinary #}
    {{ image(url="https://assets.ubuntu.com/v1/75654c90-rosette.svg",
          alt="",
          width="12",
          height="12",
          hi_def=True,
          loading="auto",
          fmt="svg") | safe
    }}
    <span class="p-tooltip__message" role="tooltip" id="{{ verified_tooltip_id }}">Verified account</span>
  </span>
{%- endif -%}
{%- endmacro -%}
