beautifulsoup4==4.11.1
canonicalwebteam.docstring-extractor==1.1.2
python-slugify==7.0.0
ruamel.yaml.clib==0.2.7
PyGithub==1.57
-e git+https://git@github.com/codeEmpress1/canonicalwebteam.store-base.git@b1399d58be536311f7a98bdcd3e87c6ec13af073#egg=canonicalwebteam_store_base
