canonicalwebteam.flask-base==0.6.3
canonicalwebteam.discourse-docs==1.0.0
canonicalwebteam.search==0.2.1
canonicalwebteam.store-api==2.3.0
django-openid-auth==0.15
Flask-OpenID-Stateless==1.2.6
humanize==2.4.1
pymacaroons==0.13.0

# Temporal to mock data
faker==4.1.1
