{% extends 'base_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1YfwpLVaS-VybYAhrb9JIsj8pKiLYRhezvr-p9qWN4rw{% endblock meta_copydoc %}

{% block meta_description %}The Open Operator Collection{% endblock %}

{% block extra_meta %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block content %}
<section class="p-strip--overlap p-strip-topic--kubernetes">
  <div class="u-fixed-width">
    <h1 class="p-muted-heading" style="color: #fff; font-weight: 300;">Charmed Kubernetes</h1>
  </div>
  <div class="row">
    <div class="col-8">
      <h2 class="p-heading--1">Architectural freedom.<br>Fully automated operations.<br>Extensible Kubernetes for all.</h2>
      <p>The easiest way to automate the deployment, scaling, lifecycle and management of your applications. Operate the latest Kubernetes, from the experts behind Ubuntu and the Kubernetes community.</p>
      <h3 class="p-heading--4">Our Kubernetes operator collection</h3>
    </div>
    <div class="col-4 u-align--center u-hide--medium u-hide--small">
      <img src="https://assets.ubuntu.com/v1/331f3baf-kubernetes-logo.svg" alt="" width="165" height="163">
    </div>
  </div>
</section>
<section class="p-strip--overlap">
  <div class="row">
    <div class="col-x-small-1 col-small-2 col-medium-3 col-3 u-equal-height">
      <a href="/wordpress" class="p-card--button">
        <div class="p-card__header">
          <div>
            <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
          </div>
          <h3 class="p-card__title p-heading--4 u-no-margin--bottom">Postgresql</h3>
          <p class="u-text--muted">postgresql-charmers</p>
        </div>
        <div class="p-card__content">
          <p><small>Access a relational database management system with extensibility and SQL compliance.</small></p>
        </div>
        <div class="p-card__footer">
          <div class="p-item--left">Databases</div>
          <div class="p-item--right"><i class="p-icon--revisions"></i>12 days ago</div>
        </div>
      </a>
    </div>
    <div class="col-x-small-1 col-small-2 col-medium-3 col-3 u-equal-height">
      <a href="/wordpress" class="p-card--button">
        <div class="p-card__header">
          <div>
            <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
          </div>
          <h3 class="p-card__title p-heading--4 u-no-margin--bottom">Postgresql</h3>
          <p class="u-text--muted">postgresql-charmers</p>
        </div>
        <div class="p-card__content">
          <p><small>Access a relational database management system with extensibility and SQL compliance.</small></p>
        </div>
        <div class="p-card__footer">
          <div class="p-item--left">Databases</div>
          <div class="p-item--right"><i class="p-icon--revisions"></i>12 days ago</div>
        </div>
      </a>
    </div>
    <div class="col-x-small-1 col-small-2 col-medium-3 col-3 u-equal-height">
      <a href="/wordpress" class="p-card--button">
        <div class="p-card__header">
          <div>
            <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
          </div>
          <h3 class="p-card__title p-heading--4 u-no-margin--bottom">Postgresql</h3>
          <p class="u-text--muted">postgresql-charmers</p>
        </div>
        <div class="p-card__content">
          <p><small>Access a relational database management system with extensibility and SQL compliance.</small></p>
        </div>
        <div class="p-card__footer">
          <div class="p-item--left">Databases</div>
          <div class="p-item--right"><i class="p-icon--revisions"></i>12 days ago</div>
        </div>
      </a>
    </div>
    <div class="col-x-small-1 col-small-2 col-medium-3 col-3 u-equal-height">
      <a href="/wordpress" class="p-card--button">
        <div class="p-card__header">
          <div>
            <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
          </div>
          <h3 class="p-card__title p-heading--4 u-no-margin--bottom">Postgresql</h3>
          <p class="u-text--muted">postgresql-charmers</p>
        </div>
        <div class="p-card__content">
          <p><small>Access a relational database management system with extensibility and SQL compliance.</small></p>
        </div>
        <div class="p-card__footer">
          <div class="p-item--left">Databases</div>
          <div class="p-item--right"><i class="p-icon--revisions"></i>12 days ago</div>
        </div>
      </a>
    </div>
  </div>
</section>
<div class="u-fixed-width">
  <hr>
</div>
<section class="p-strip">
  <div class="row">
    <div class="col-4">
      <img src="https://assets.ubuntu.com/v1/60d9b81e-picto-canonical.svg" style="max-width: 2.5rem;" alt="">
      <h4>Pure upstream</h4>
      <p>Charmed Kubernetes is a well integrated, turn-key, conformant Kubernetes platform,optimised for your multi-cloud environments.</p>
      <p>Get started now and take advantage of our rapidly growing automation tooling ecosystem that is consistent across all infrastructures. Charmed Kubernetes provides users with a standardised workflow to develop, test and promote their cloud native apps up to production environments.</p>
    </div>
    <div class="col-4">
      <img src="https://assets.ubuntu.com/v1/60d9b81e-picto-canonical.svg" style="max-width: 2.5rem;" alt="">
      <h4>Automated Kubernetes updates</h4>
      <p>Developers demand the latest features as Kubernetes evolves rapidly in the open source community. On Bare-Metal, VMs or as a service - Charmed Kubernetes will keep your cluster up to date.</p>
      <p>Using snaps, point releases of Kubernetes are automatically installed. And whenever there is a new major version, Juju charms make upgrading easy.</p>
    </div>
    <div class="col-4">
      <img src="https://assets.ubuntu.com/v1/60d9b81e-picto-canonical.svg" style="max-width: 2.5rem;" alt="">
      <h4>Managed Kubernetes</h4>
      <p>Predictable OpEx for organisations looking to adopt production-ready Kubernetes. Focus on your business while we take care of your Kubernetes cluster.</p>
      <p>Canonical provides managed services for Kubernetes on-premises or on public clouds.</p>
    </div>
  </div>
  <div class="p-strip u-no-padding--bottom">
    <div class="u-fixed-width">
      <h2>Portable, validated, scalable</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <ul class="p-list">
          <li class="p-list__item is-ticked">Contains all the operational tooling needed to manage a production cluster — including upgrades and elastic scaling</li>
          <li class="p-list__item is-ticked">Upgrade, pause and resume, snapshot and restore your nodes</li>
          <li class="p-list__item is-ticked">Extensible and self-healing system</li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="p-list">
          <li class="p-list__item is-ticked">Tested on a wide range of infrastructures so you can avoid cloud lock-in and federate workloads between clouds or on-premise</li>
          <li class="p-list__item is-ticked">Optimised portability across all environments</li>
          <li class="p-list__item is-ticked">100% validated against the Kubernetes Conformance Tests</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2 class="u-sv3">Get started with charmed Kubernetes</h2>
    <ol class="p-stepped-list">
      <li class="p-stepped-list__item">
        <h4 class="p-stepped-list__title">Pick your cluster from production-grade blueprints</h4>
        <div class="row u-no-padding--left u-no-padding--right">
          <div class="col-6">
            <img class="p-image--bordered p-image--full-width" src="https://assets.ubuntu.com/v1/584903f3-iot-drone.png" alt="">
            <p class="p-heading--4 u-no-margin--bottom"><a href="/">Staging cluster</a></p>
            <p class="p-stepped-list__content">Start with a Kubernetes cluster of two machines — one master node and one worker node.</p>
          </div>
          <div class="col-6">
            <img class="p-image--bordered p-image--full-width" src="https://assets.ubuntu.com/v1/584903f3-iot-drone.png" alt="">
            <p class="p-heading--4 u-no-margin--bottom"><a href="/">Production cluster</a></p>
            <p class="p-stepped-list__content">Progress to a highly available Kubernetes cluster — 2 masters, 3 workers, 3 etc nodes and API load balancer.</p>
          </div>
        </div>

      </li>

      <li class="p-stepped-list__item">
        <h4 class="p-stepped-list__title">Add extra components</h4>
        <div class="row u-no-padding--left u-no-padding--right">
          <div class="col-x-small-1 col-small-2 col-medium-3 col-3 u-equal-height">
            <a href="/wordpress" class="p-card--button">
              <div class="p-card__header">
                <div>
                  <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
                </div>
                <h3 class="p-card__title p-heading--4 u-no-margin--bottom">Postgresql</h3>
                <p class="u-text--muted">postgresql-charmers</p>
              </div>
              <div class="p-card__content">
                <p><small>Access a relational database management system with extensibility and SQL compliance.</small></p>
              </div>
              <div class="p-card__footer">
                <div class="p-item--left">Databases</div>
                <div class="p-item--right"><i class="p-icon--revisions"></i>12 days ago</div>
              </div>
            </a>
          </div>
          <div class="col-x-small-1 col-small-2 col-medium-3 col-3 u-equal-height">
            <a href="/wordpress" class="p-card--button">
              <div class="p-card__header">
                <div>
                  <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
                </div>
                <h3 class="p-card__title p-heading--4 u-no-margin--bottom">Postgresql</h3>
                <p class="u-text--muted">postgresql-charmers</p>
              </div>
              <div class="p-card__content">
                <p><small>Access a relational database management system with extensibility and SQL compliance.</small></p>
              </div>
              <div class="p-card__footer">
                <div class="p-item--left">Databases</div>
                <div class="p-item--right"><i class="p-icon--revisions"></i>12 days ago</div>
              </div>
            </a>
          </div>
          <div class="col-x-small-1 col-small-2 col-medium-3 col-3 u-equal-height">
            <a href="/wordpress" class="p-card--button">
              <div class="p-card__header">
                <div>
                  <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
                </div>
                <h3 class="p-card__title p-heading--4 u-no-margin--bottom">Postgresql</h3>
                <p class="u-text--muted">postgresql-charmers</p>
              </div>
              <div class="p-card__content">
                <p><small>Access a relational database management system with extensibility and SQL compliance.</small></p>
              </div>
              <div class="p-card__footer">
                <div class="p-item--left">Databases</div>
                <div class="p-item--right"><i class="p-icon--revisions"></i>12 days ago</div>
              </div>
            </a>
          </div>
          <div class="col-x-small-1 col-small-2 col-medium-3 col-3 u-equal-height">
            <a href="/wordpress" class="p-card--button">
              <div class="p-card__header">
                <div>
                  <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
                </div>
                <h3 class="p-card__title p-heading--4 u-no-margin--bottom">Postgresql</h3>
                <p class="u-text--muted">postgresql-charmers</p>
              </div>
              <div class="p-card__content">
                <p><small>Access a relational database management system with extensibility and SQL compliance.</small></p>
              </div>
              <div class="p-card__footer">
                <div class="p-item--left">Databases</div>
                <div class="p-item--right"><i class="p-icon--revisions"></i>12 days ago</div>
              </div>
            </a>
          </div>
        </div>
        <a href="/" class="p-button--base" style="margin-block-start: 2rem;">Browse more Kubernetes charms</a>
      </li>

      <li class="p-stepped-list__item">
        <h4 class="p-stepped-list__title">
          Put your cluster to work
        </h4>
        <div class="row u-no-padding--left u-no-padding--right">
          <div class="col-4">
            <p class="p-heading--4">
              <a href="/">The easy way to commoditise GPUs for Kubernetes</a>
            </p>
            <p>Setting up your Deep Learning framework is now easier than ever with the new GPU integration of the Charmed Distribution of Kubernetes*. Perfect for production grade, on bare metal or in the cloud.</p>
          </div>
          <div class="col-4">
            <p class="p-heading--4">
              <a href="/">Build a transcoding platform
                in minutes</a>
            </p>
            <p>The Charmed Distribution of Kubernetes enables automatic discovery of GPU devices. Work as well with LXD to get a fine grain control mechanism to orchestrate video workflows and maximise the throughput of your clusters.</p>
          </div>
          <div class="col-4">
            <p class="p-heading--4">
              <a href="/">Transform your solution into a private PaaS</a>
            </p>
            <p>Kubernetes can be complemented by another layer to transform it into a PaaS, to maximise the proficiency of the development teams. It will provide complete freedom to deploy and manage your applications.</p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
<section class="p-strip u-extra-space">
  <div class="u-fixed-width">
    <h2>Charmed Kubernetes fits perfectly on top of OpenStack, VMware, and bare metal</h2>
    <p>There’s no doubt that Kubernetes is the new standard operational layer for every multi-cloud business. Canonical enables K8s on demand for your DevOps teams — on OpenStack, VMware, public clouds, and bare metal clusters with MAAS.</p>
    <p>With Charmed Kubernetes, you can deliver ‘Containers as a Service’ across the enterprise, to enable each project to spin up a standardised K8s environment of arbitrary scale, on demand, with centralised operational control.</p>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator--deep">
  </div>
  <div class="u-fixed-width">
    <h2>Networking</h2>
    <p>Kubernetes imposes fundamental requirements on your networking implementation including:</p>
    <ul class="p-list">
      <li class="p-list__item is-ticked">All containers have to communicate with all other containers without NAT</li>
      <li class="p-list__item is-ticked">All nodes have to communicate with all containers (and vice-versa) without NAT</li>
      <li class="p-list__item is-ticked">The IP that a container sees itself as needs to be the same IP that others see it as</li>
    </ul>
    <p>Kubernetes uses Container Network Interface (CNI) as an interface between network providers and Kubernetes networking. CNI is a library definition and a set of tools, under the umbrella of the Cloud Native Computing Foundation project.</p>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator--deep">
  </div>
  <div class="u-fixed-width">
    <h2>Storage</h2>
    <p>Kubernetes comes with a powerful volume plugin system that enables many different types of storage systems to:</p>
    <ul class="p-list">
      <li class="p-list__item is-ticked">Automatically create storage when required</li>
      <li class="p-list__item is-ticked">Make storage available to containers wherever they’re scheduled</li>
      <li class="p-list__item is-ticked">Automatically delete the storage when no longer needed</li>
    </ul>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator--deep">
  </div>
  <div class="u-fixed-width">
    <h2>Logging and monitoring</h2>
    <p>Kubernetes comes with a powerful volume plugin system that enables many different types of storage systems to:</p>
    <p>Operations in highly coherent large-scale distributed clusters require a new level of operational monitoring and observability. Charmed Kubernetes provides a standardised set of open source log aggregation and systems monitoring dashboards with every cloud, using Prometheus, the Elasticsearch and Kibana stack (ELK), and Nagios.</p>
  </div>
</section>
{% endblock %}
