{% extends 'publisher/publisher_layout.html' %}

{% block title %}Publicise {{ package.name }}{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% set selected_tab='punlicise' %}

{% block publisher_content %}
<div class="p-strip is-shallow">
  <div class="row is-wide">
    <div class="col-3 has-space--right">
      <div class="p-side-navigation " id="drawer">
        <a href="#drawer" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="drawer">
          Toggle side navigation
        </a>
        <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="drawer"></div>
        <nav class="p-side-navigation__drawer" aria-label="Example side navigation">
          <div class="p-side-navigation__drawer-header">
            <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="drawer">
              Toggle side navigation
            </a>
          </div>
          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link" {% if request.path.endswith('/publicise') %}aria-current="page"{% endif %} href="/{{ package.name }}/publicise">Charmhub buttons</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link" {% if request.path.endswith('/publicise/badges') %}aria-current="page"{% endif %} href="/{{ package.name }}/publicise/badges">Github badges</a>
            </li>
            <li class="p-side-navigation__item">
              <a class="p-side-navigation__link" {% if request.path.endswith('/publicise/cards' )%}aria-current="page"{% endif %} href="/{{ package.name }}/publicise/cards">Embeddable cards</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-8">
      {% block publicise_content %}{% endblock publicise_content %}
    </div>
  </div>
</div>
{% endblock %}

