{% extends 'publisher/publicise/publicise_layout.html' %}

{% block publicise_content %}
  <h4>Promote your charm using Charmhub buttons</h4>
  <div class="row">
    <div class="col-2">
      <label>Language:</label>
    </div>
    <div class="col-7">
      <form class="p-form--inline">
        <select name="language" data-js="language-select">

          <option value="ar">
            العربية
          </option>

          <option value="bg">
            български
          </option>

          <option value="bn">
            বাংলা
          </option>

          <option value="de">
            Deutsch
          </option>

          <option value="en" selected>
            English
          </option>

          <option value="es">
            Español
          </option>

          <option value="fr">
            Français
          </option>

          <option value="it">
            Italiano
          </option>

          <option value="jp">
            日本語
          </option>

          <option value="pl">
            Polski
          </option>

          <option value="pt">
            Português
          </option>

          <option value="ro">
            Română
          </option>

          <option value="ru">
            русский язык
          </option>

          <option value="tw">
            中文（台灣）
          </option>

          <option value="ua">
            українськa мовa
          </option>

        </select>
      </form>
    </div>
  </div>
  <hr class="p-separator--shallower">

  {% for lang, data in languages.items() %}
    <div id="{{ lang }}-content" class="{% if loop.index > 1 %} u-hide{% endif %}" data-js="language-content">
      <p class="p-heading--4">Dark version</p>
      <div class="row">
        <div class="col-7 col-start-large-3">
          <p>
            {% set url="images/badges/"+ lang + "/charmhub-black.svg" %}
            <a href="/{{ package.name }}">
              <img alt="" src="{{ versioned_static(url) }}" />
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <p>HTML:</p>
        </div>
        <div class="col-7">
          <div class="p-code-snippet">
            <pre class="p-code-snippet__block is-wrapped"><code>&lt;a href="https://charmhub.io/{{ package.name }}"&gt;
  &lt;img alt="" src="https://charmhub.io/static/images/badges/{{ lang }}/charmhub-black.svg" /&gt;
&lt;/a&gt;</code></pre>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <p>Markdown:</p>
        </div>
        <div class="col-7">
          <div class="p-code-snippet">
            <pre class="p-code-snippet__block is-wrapped"><code>[![{{ data.text }}](https://charmhub.io/{{ package.name }}/badge.svg)](https://charmhub.io/{{ package.name }})</code></pre>
          </div>
        </div>
      </div>
      <hr class="p-separator--shallower">
      <p class="p-heading--4">Light version</p>
      <div class="row">
        <div class="col-7 col-start-large-3">
          <p>
            {% set url="images/badges/"+ lang + "/charmhub-white.svg" %}
            <a href="/{{ package.name }}">
              <img alt="" src="{{ versioned_static(url) }}" />
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <p>HTML:</p>
        </div>
        <div class="col-7">
          <div class="p-code-snippet">
            <pre class="p-code-snippet__block is-wrapped"><code>&lt;a href="https://charmhub.io/{{ package.name }}"&gt;
  &lt;img alt="" src="https://charmhub.io/{{ package.name }}/badge.svg" /&gt;
&lt;/a&gt;</code></pre>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <p>Markdown:</p>
        </div>
        <div class="col-7">
          <div class="p-code-snippet">
            <pre class="p-code-snippet__block is-wrapped"><code>[![{{ data.text }}](https://charmhub.io/{{ package.name }}/badge.svg)](https://charmhub.io/{{ package.name }})</code></pre>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block page_scripts %}
  <script src="{{ versioned_static('js/dist/publicise.js') }}" defer></script>
  <script>
    window.addEventListener("DOMContentLoaded", function () {
      charmhub.publisher.publicise.initSnapButtonsPicker("[data-js='language-select']", "[data-js='language-content']");
    });
  </script>
{% endblock %}
