{% extends 'base_layout.html' %}

{% block content %}
<section class="p-strip">
  <div class="u-fixed-width">
    <h1>Accept invite</h1>

    <div class="p-notification--positive u-hide" id="accept-invite-success-notification" aria-live="polite">
      <div class="p-notification__content">
        <h5 class="p-notification__title">Success</h5>
        <p class="p-notification__message">You're invite has been accepted.</p>
        <button class="p-notification__close" aria-controls="accept-invite-success-notification">Close this notification</button>
      </div>
    </div>

    <div class="p-notification--positive u-hide" id="reject-invite-success-notification" aria-live="polite">
      <div class="p-notification__content">
        <h5 class="p-notification__title">Success</h5>
        <p class="p-notification__message">You're invite has been rejected.</p>
        <button class="p-notification__close" aria-controls="reject-invite-success-notification">Close this notification</button>
      </div>
    </div>

    <div class="p-notification--negative u-hide" id="accept-invite-error-notification" aria-live="polite">
      <div class="p-notification__content">
        <h5 class="p-notification__title">Error</h5>
        <p class="p-notification__message">There has been an error accepting this invite. Please try again or contact your administrator.</p>
        <button class="p-notification__close" aria-controls="accept-invite-error-notification">Close this notification</button>
      </div>
    </div>

    <div class="p-notification--negative u-hide" id="reject-invite-error-notification" aria-live="polite">
      <div class="p-notification__content">
        <h5 class="p-notification__title">Error</h5>
        <p class="p-notification__message">There has been an error rejecting this invite. Please try again or contact your administrator.</p>
        <button class="p-notification__close" aria-controls="reject-invite-error-notification">Close this notification</button>
      </div>
    </div>

    <div id="invite-actions-panel">
      <p>You have been invited to be a collaborator on the following charm: <strong>{{ request.args.get("package") }}</strong>.</p>
      <button class="p-button--positive" id="accept-invite-button">Accept invite</button>
      <button id="reject-invite-button">Reject invite</button>
    </div>

    <p class="u-hide" id="invite-success-panel">
      <i class="p-icon--spinner u-animation--spin"></i>&nbsp;Redirecting to the {{ request.args.get("package") }} listing page...
    </p>
  </div>
</section>

<script>
  const acceptInviteButton = document.querySelector("#accept-invite-button");
  const rejectInviteButton = document.querySelector("#reject-invite-button");
  const acceptInviteSuccessNotification = document.querySelector("#accept-invite-success-notification");
  const acceptInviteErrorNotification = document.querySelector("#accept-invite-error-notification");
  const rejectInviteSuccessNotification = document.querySelector("#reject-invite-success-notification");
  const rejectInviteErrorNotification = document.querySelector("#reject-invite-error-notification");
  const inviteActionsPanel = document.querySelector("#invite-actions-panel");
  const inviteSuccessPanel = document.querySelector("#invite-success-panel");
  const closeNotificationButtons = document.querySelectorAll(".p-notification__close");
  const searchParams = new URL(window.location).searchParams;
  const token = searchParams.get("token");
  const package = searchParams.get("package");
  const CSRF_TOKEN = "{{ csrf_token() }}";

  function closeAllNotifcations() {
    acceptInviteSuccessNotification.classList.add("u-hide");
    acceptInviteErrorNotification.classList.add("u-hide");
    rejectInviteSuccessNotification.classList.add("u-hide");
    rejectInviteErrorNotification.classList.add("u-hide");
  }

  closeNotificationButtons.forEach((closeNotificationButton) => {
    closeNotificationButton.addEventListener("click", (event) => {
      const target = event.target;
      const notification = document.getElementById(target.getAttribute("aria-controls"));
      notification.classList.add("u-hide");
    });
  });
  

  acceptInviteButton.addEventListener("click", () => {
    const formData = new FormData();
    formData.set("token", token);
    formData.set("package", package);
    formData.set("csrf_token", CSRF_TOKEN);

    fetch("/accept-invite", {
      method: "POST",
      body: formData
    }).then((response) => {
      if (response.status !== 200) {
        closeAllNotifcations();
        acceptInviteErrorNotification.classList.remove("u-hide");
        throw new Error("Unable to accept invite");
      }

      closeAllNotifcations();
      acceptInviteSuccessNotification.classList.remove("u-hide");
      inviteActionsPanel.classList.add("u-hide");
      inviteSuccessPanel.classList.remove("u-hide");

      setTimeout(() => {
        window.location = `/${package}/listing`;
      }, 3000);
    }).catch((error) => {
      closeAllNotifcations();
      acceptInviteErrorNotification.classList.remove("u-hide");
      throw new Error(error.message);
    });
  });

  rejectInviteButton.addEventListener("click", () => {
    const formData = new FormData();
    formData.set("token", token);
    formData.set("package", package);
    formData.set("csrf_token", CSRF_TOKEN);

    fetch("/reject-invite", {
      method: "POST",
      body: formData
    }).then((response) => {
      if (response.status !== 200) {
        closeAllNotifcations();
        rejectInviteErrorNotification.classList.remove("u-hide");
        throw new Error("Unable to reject invite");
      }

      closeAllNotifcations();
      rejectInviteSuccessNotification.classList.remove("u-hide");
    }).catch((error) => {
      closeAllNotifcations();
      rejectInviteErrorNotification.classList.remove("u-hide");
      throw new Error(error.message);
    });
  });
</script>
{% endblock %}
