{% extends 'publisher/publisher_layout.html' %}

{% block title %}Account details{% endblock %}
{% block meta_description%}Account details{% endblock %}

{% block content %}
<section class="p-strip">
  <div class="u-fixed-width">
    <h1 class="p-heading--3">Publisher account details</h1>
  </div>
  <div class="row">
    <div class="col-2">
      Full name:
    </div>
    <div class="col-6">
      <p class="u-no-padding--top"><strong>{{ publisher["display-name"] }}</strong></p>
      <p class="p-form-help-text">
        Who your users will see as the publisher of your charms and bundles.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Username:
    </div>
    <div class="col-6">
      <p class="u-no-padding--top"><strong>{{ publisher["username"] }}</strong></p>
      <p class="p-form-help-text">
        This is a shorthand version of your name, used when space on screen is limited.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    Email address:
    </div>
    <div class="col-6">
      <p class="u-no-padding--top"><strong>{{ publisher["email"] }}</strong></p>
      <p class="p-form-help-text">
      Your email address will not be shared publicly.
      </p>
    </div>
  </div>
</section>
{% endblock %}
