{% extends 'base_layout.html' %}

{% set selected_tab = "bundles"%}

<!-- To DO - add copy -->
{% block meta_copydoc %}{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip u-extra-space is-shallow">
  <div class="u-fixed-width">
    {% include "partial/_tabs-publisher-packages.html" %}
  </div>
  <div class="p-tabs__content" id="bundles">
    <div class="u-fixed-width">
      <ul class="p-inline-list u-no-margin--bottom">
        <li class="p-inline-list__item">
          <h2 class="p-heading--4" style="display: inline-block;">My published bundles</h2>
        </li>
        <li class="p-inline-list__item">
          <a href="/account/register-bundle" class="p-button--neutral">Register a bundle name</a>
        </li>
      </ul>
    </div>
    <div class="u-fixed-width">
      <table class="p-table--mobile-card" role="grid">
        <thead>
          <tr role="row">
            <th style="width: 30%;">Name</th>
            <th style="width: 10%;">Visibility</th>
            <th style="width: 15%;">Latest release</th>
            <th style="width: 10%;">Version</th>
            <th style="text-align: right; width: 10%;">Active models</th>
            <th style="width: 10%;">Weekly trend</th>
            <th style="width: 15%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr role="row">
            <td role="rowheader" class="p-table--mobile-card__header">
              <a href="/hadoop-spark/listing" class="p-heading-icon--x-small">
                <div class="p-bundle-icons">
                  <img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/02/MANO-Color.png" alt="" class="p-card__thumbnail">
                  <img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/02/MANO-Color.png" alt="" class="p-card__thumbnail">
                  <img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/02/MANO-Color.png" alt="" class="p-card__thumbnail">
                  <p class="u-no-margin--bottom u-no-padding--top">hadoop spark</p>
                </div>
              </a>
            </td>
            <td role="gridcell" aria-label="visibility">
              Public
            </td>
            <td role="gridcell" aria-label="Latest release">
              latest/stable
            </td>
            <td role="gridcell" aria-label="Version">
              2019.2.3
            </td>
            <td role="gridcell" aria-label="Active models" style="text-align: right;">
              129,597
            </td>
            <td role="gridcell" class="is-color--positive" aria-label="Weekly trend">
              <i class="p-icon--arrow-up"></i> 1,923
            </td>
            <td role="gridcell" aria-label="Graph">
              <div class="charmhub-metrics__graph" data-js="active-devices-trend" data-svg="hadoop-spark">
                <svg width="100%" height="20"></svg>
              </div>
            </td>
          </tr>
          <tr role="row">
            <td role="rowheader" class="p-table--mobile-card__header">
              <a href="/hadoop-hammer/listing" class="p-heading-icon--x-small">
                <div class="p-bundle-icons">
                  <img src="https://api.jujucharms.com/charmstore/v5/ceph/icon.svg" class="p-bundle-icons__image" alt="">
                  <img src="https://api.jujucharms.com/charmstore/v5/ceph/icon.svg" class="p-bundle-icons__image" alt="">
                  <img src="https://api.jujucharms.com/charmstore/v5/ceph/icon.svg" class="p-bundle-icons__image" alt="">
                  <p class="u-no-margin--bottom u-no-padding--top">hadoop hammer</p>
                </div>
              </a>
            </td>
            <td role="gridcell" aria-label="visibility">
              Public
            </td>
            <td role="gridcell" aria-label="Latest release">
              latest/edge
            </td>
            <td role="gridcell" aria-label="Version">
              1.2.3
            </td>
            <td role="gridcell" aria-label="Active models" style="text-align: right;">
              15,424
            </td>
            <td role="gridcell" class="is-color--negative" aria-label="Weekly trend">
              <i class="p-icon--arrow-down"></i> 108
            </td>
            <td role="gridcell" aria-label="Graph">
              <div class="charmhub-metrics__graph" data-js="active-devices-trend" data-svg="hadoop-hammer">
                <svg width="100%" height="20"></svg>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="p-strip is-shallow">
      <div class="u-fixed-width">
        <h4 class="p-heading--5">Registered bundle names (3)</h4>
      </div>
      <div class="row">
        <div class="col-6">
          <table>
            <tbody>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-waiter
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-spanner
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-hammer
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/list.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.publisher.list.init();
  });
</script>
{% endblock %}
