{% extends 'base_layout.html' %}

{% set package_type = "bundle"%}

{% block meta_description %}{% endblock meta_description %}
{% block meta_copydoc %}{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip u-extra-space is-shallow">
  <div class="u-fixed-width is-wide">
    {% include "partial/_tabs-publisher-packages.html" %}
  </div>
  <div class="p-details-tab__content" id="bundles">
    {% include "partial/_header-publisher-packages.html" %}
  </div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/list.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.publisher.list.init();
  });
</script>
{% endblock %}
