{% extends 'base_layout.html' %}

{% set package.type = "bundle"%}

<!-- To DO - add copy -->
{% block meta_copydoc %}{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip u-extra-space is-shallow">
  <div class="u-fixed-width">
    {% include "partial/_tabs-publisher-packages.html" %}
  </div>
  <div class="p-tabs__content" id="bundles">
    <div class="u-fixed-width">
      <ul class="p-inline-list u-no-margin--bottom">
        <li class="p-inline-list__item">
          <h2 class="p-heading--4" style="display: inline-block;">My published bundles</h2>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/list.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.publisher.list.init();
  });
</script>
{% endblock %}
