{% extends 'base_layout.html' %}

<!-- To DO - add copy -->
{% block meta_copydoc %}{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip u-extra-space is-shallow">
  <div class="u-fixed-width">
    <nav class="p-tabs" data-js="tabs">
      <ul class="p-tabs__list" role="tablist">
        <li class="p-tabs__item" role="presentation">
          <a href="#charms" class="p-tabs__link" tabindex="0" role="tab" aria-controls="charms" aria-selected="false">Charms</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="#bundles" class="p-tabs__link" tabindex="-1" role="tab" aria-controls="bundles">Bundles</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="p-tabs__content" id="charms">
    <div class="u-fixed-width">
      <ul class="p-inline-list u-no-margin--bottom">
        <li class="p-inline-list__item">
          <h2 class="p-heading--4" style="display: inline-block;">My published charms</h2>
        </li>
        <li class="p-inline-list__item">
          <a href="/account/register-charm" class="p-button--neutral">Register a charm name</a>
        </li>
      </ul>
    </div>
    <div class="u-fixed-width">
      <table class="p-table--mobile-card" role="grid">
        <thead>
          <tr role="row">
            <th style="width: 30%;">Name</th>
            <th style="width: 10%;">Visibility</th>
            <th style="width: 15%;">Latest release</th>
            <th style="width: 10%;">Version</th>
            <th style="text-align: right; width: 10%;">Active models</th>
            <th style="width: 25%;">Weekly trend</th>
          </tr>
        </thead>
        <tbody>
          <tr role="row">
            <td role="rowheader" class="p-table--mobile-card__header">
              <a href="/spark/listing" class="p-heading-icon--x-small">
                <span class="p-heading-icon__header">
                  <img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/04/products-hero-ubuntu.svg.png" width="24" height="24" class="p-heading-icon__img">
                  <p class="u-no-margin--bottom u-no-padding--top">
                    Spark
                  </p>
                </span>
              </a>
            </td>
            <td role="gridcell" aria-label="visibility">
              Public
            </td>
            <td role="gridcell" aria-label="Latest release">
              latest/stable
            </td>
            <td role="gridcell" aria-label="Version">
              2019.2.3
            </td>
            <td role="gridcell" aria-label="Active models" style="text-align: right;">
              129,597
            </td>
            <td role="gridcell" class="is-color--positive" aria-label="Weekly trend">
              <span><i class="p-icon--arrow-up"></i> 1,923</span>
            </td>
          </tr>
          <tr role="row">
            <td role="rowheader" class="p-table--mobile-card__header">
              <a href="/hadoop-resource-manager/listing" class="p-heading-icon--x-small">
                <span class="p-heading-icon__header">
                  <img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/04/products-hero-ubuntu.svg.png" width="24" height="24" class="p-heading-icon__img">
                  <p class="u-no-margin--bottom u-no-padding--top">
                    Hadoop Resource Manager
                  </p>
                </span>
              </a>
            </td>
            <td role="gridcell" aria-label="visibility">
              Public
            </td>
            <td role="gridcell" aria-label="Latest release">
              latest/candidate
            <td role="gridcell" aria-label="Version">
              2019.1.3
            </td>
            <td role="gridcell" aria-label="Active models" style="text-align: right;">
              15,424
            </td>
            <td role="gridcell" class="is-color--negative" aria-label="Weekly trend">
              <span><i class="p-icon--arrow-down"></i> 108</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="p-strip is-shallow">
      <div class="u-fixed-width">
        <h4 class="p-heading--5">Registered charm names (4)</h4>
      </div>
      <div class="row">
        <div class="col-6">
          <table>
            <tbody>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-waiter
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-link--external p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-spanner
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-hammer
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-link--external p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-driver
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-link--external p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="p-tabs__content" id="bundles">
    <div class="u-fixed-width">
      <ul class="p-inline-list u-no-margin--bottom">
        <li class="p-inline-list__item">
          <h2 class="p-heading--4" style="display: inline-block;">My published bundles</h2>
        </li>
        <li class="p-inline-list__item">
          <a href="/account/register-bundle" class="p-button--neutral">Register a bundle name</a>
        </li>
      </ul>
    </div>
    <div class="u-fixed-width">
      <table class="p-table--mobile-card" role="grid">
        <thead>
          <tr role="row">
            <th style="width: 30%;">Name</th>
            <th style="width: 10%;">Visibility</th>
            <th style="width: 15%;">Latest release</th>
            <th style="width: 10%;">Version</th>
            <th style="text-align: right; width: 10%;">Active models</th>
            <th style="width: 25%;">Weekly trend</th>
          </tr>
        </thead>
        <tbody>
          <tr role="row">
            <td role="rowheader" class="p-table--mobile-card__header">
              <a href="/hadoop-spark/listing" class="p-heading-icon--x-small">
                <div class="p-bundle-icons">
                  <img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/02/MANO-Color.png" alt="" class="p-card__thumbnail">
                  <img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/02/MANO-Color.png" alt="" class="p-card__thumbnail">
                  <img src="https://dashboard.snapcraft.io/site_media/appmedia/2020/02/MANO-Color.png" alt="" class="p-card__thumbnail">
                  <p class="u-no-margin--bottom u-no-padding--top">hadoop spark</p>
                </div>
              </a>
            </td>
            <td role="gridcell" aria-label="visibility">
              Public
            </td>
            <td role="gridcell" aria-label="Latest release">
              latest/stable
            </td>
            <td role="gridcell" aria-label="Version">
              2019.2.3
            </td>
            <td role="gridcell" aria-label="Active models" style="text-align: right;">
              129,597
            </td>
            <td role="gridcell" class="is-color--positive" aria-label="Weekly trend">
              <span><i class="p-icon--arrow-up"></i> 1,923</span>
            </td>
          </tr>
          <tr role="row">
            <td role="rowheader" class="p-table--mobile-card__header">
              <a href="/hadoop-hammer/listing" class="p-heading-icon--x-small">
                <div class="p-bundle-icons">
                  <img src="https://api.jujucharms.com/charmstore/v5/ceph/icon.svg" class="p-bundle-icons__image" alt="">
                  <img src="https://api.jujucharms.com/charmstore/v5/ceph/icon.svg" class="p-bundle-icons__image" alt="">
                  <img src="https://api.jujucharms.com/charmstore/v5/ceph/icon.svg" class="p-bundle-icons__image" alt="">
                  <p class="u-no-margin--bottom u-no-padding--top">hadoop hammer</p>
                </div>
              </a>
            </td>
            <td role="gridcell" aria-label="visibility">
              Public
            </td>
            <td role="gridcell" aria-label="Latest release">
              latest/edge
            </td>
            <td role="gridcell" aria-label="Version">
              1.2.3
            </td>
            <td role="gridcell" aria-label="Active models" style="text-align: right;">
              15,424
            </td>
            <td role="gridcell" class="is-color--negative" aria-label="Weekly trend">
              <span><i class="p-icon--arrow-down"></i> 108</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="p-strip is-shallow">
      <div class="u-fixed-width">
        <h4 class="p-heading--5">Registered bundle names (3)</h4>
      </div>
      <div class="row">
        <div class="col-6">
          <table>
            <tbody>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-waiter
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-link--external p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-spanner
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-link--external p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
              <tr class="p-charmhub-dispute-list__item">
                <td style="width: 50%;">
                  hadoop-hammer
                </td>
                <td>
                  <a href="/docs/releasing-your-app" target="_blank" class="p-link--external p-charmhub-dispute-list__link u-float-right">Publish to this name</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/list.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.publisher.list.init();
  });
</script>
{% endblock %}
