{% extends 'publisher/publisher_layout.html' %}

{% block title %}Listing details for {{ package.name }}{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% set selected_tab='listing' %}

{% block publisher_content %}
<form id="market-form" class="p-form p-form--stacked p-strip u-no-padding--top" method="POST" enctype="multipart/form-data">
  <section class="p-strip is-shallow">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="u-fixed-width">
        {% for category, message in messages %}
        <div id="market-form-status" class="p-notification--{{ category }}">
          <p class="p-notification__response">
            {{ message }}
          </p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <div class="u-fixed-width">
      <h2 class="p-heading--4">
        Listing details
      </h2>
    <div class="row p-form__group p-form-validation u-no-padding--left u-no-padding--right">
      <div class="col-2">
        <p class="is-label">{{ package.type|capitalize }} icon:</p>
      </div>
      <div class="col-8 col-x-large-6 u-sv2">
        <div class="p-form__control">
          {% if package.media %}
            {{
              image(
                url=package.media[0].url,
                alt=package.name,
                width="64",
                height="64",
                hi_def=True,
                fill=True,
                attrs={"class": "p-media-object__image", "style": "border-radius: 50%;"},
              ) | safe
            }}
          {% else %}
            {{
              image(
                url="https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg",
                alt=package.name,
                width="64",
                height="64",
                hi_def=True,
                fill=True,
                attrs={"class": "p-media-object__image", "style": "border-radius: 50%;"},
              ) | safe
            }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row p-form__group p-form-validation u-no-padding--left u-no-padding--right">
      <div class="col-2">
        <label for="title" class="p-form__label">Title:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" id="title" type="text" name="title" value="{{ package.title or '' }}" required="" maxlength="40">
        </div>
      </div>
    </div>
    <div class="row p-form__group p-form-validation u-no-padding--left u-no-padding--right">
      <div class="col-2">
        <label class="p-form__label" for="summary">Summary: </label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" type="text" id="summary" name="summary" required="" maxlength="100" value="{{ package.summary or ''}}">
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-8 col-x-large-6 col-start-large-3">
            <p class="p-form-help-text">Maximum length 100 characters. This will appear on your charm card on the store</p>
          </div>
        </div>
      </div>
    </div>

    {% if package.type == "bundle" %}
      <div class="row p-form__group p-form__group--top u-no-padding--left u-no-padding--right">
        <div class="col-2">
          <label for="bundle-topology" class="p-form__label">Bundle topology:</label>
        </div>
        <div class="col-8 col-x-large-6">
          <div class="p-form__control p-market-banner">
            <div class="p-market-banner__image-holder">
              <div class=" p-file-input">
                <div class="p-market-banner__image is-empty" tabindex="0">
                  <div class="u-align-text--center"><i class="p-icon--plus"></i>Add topology</div>
                </div><input type="file" name="bundle-topology" id="bundle-topology" accept="image/png,image/jpeg" hidden="">
              </div>
            </div>
            <p class="p-form-help-text">Reposition charm icons in a manner that is both meaningful and memorable. To manipulate charms in the canvas, click and drag.</p>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="p-strip is-shallow">
      <div class="u-fixed-width">
        <hr class="u-no-margin--bottom">
      </div>
    </div>
    <div class="u-fixed-width">
      <h2 class="p-heading--4">Additional information</h2>
    </div>

    <div class="row p-form__group p-form-validation u-no-padding--left u-no-padding--right">
      <div class="col-2">
        <label for="website" class="p-form__label">Project homepage:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" id="website" type="url" name="website" value="{{ package.website or '' }}" maxlength="256" placeholder="https://charmhub.io">
        </div>
      </div>
    </div>

    <div class="row p-form__group p-form-validation u-no-padding--left u-no-padding--right">
      <div class="col-2">
        <label for="contact" class="p-form__input">Contact:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input id="contact" class="p-form-validation__input" type="url" name="contact" value="{{ package.contact or '' }}" maxlength="256" placeholder="mailto:example@example.com">
        </div>
      </div>
    </div>

  </section>
  <div data-js="sticky-menu-observer">
    <div class="u-position-sticky--bottom is-sticky u-hide" data-js="sticky-menu">
      <div class="u-fixed-width">
        <hr>
      </div>
      <div class="row" style="padding-block-start: 1rem;">
        <div class="col-7">
          <p>
            Updates to this information will appear immediately on the <a href="/{{ package.name }}">{{ package.type }} listing page</a>.
          </p>
        </div>
        <div class="col-5">
          <div class="u-align--right u-clearfix">
            <a class="p-button--neutral" href="/{{ package.name }}/listing" style="margin-inline-end: 1rem;">Revert</a>
            <button type="submit" class="p-button--positive" name="submit_apply" value="Save">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="changes" value="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/listing.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    const formFields = {
      name: {{ package.name|tojson }},
      title: {{ package.title|tojson }},
      summary: {{ package.summary|tojson }},
      website: {{ package.website|tojson }},
      contact: {{ package.contact|tojson }},
    };
    charmhub.publisher.listing.init(formFields);
  });
</script>
{% endblock%}
