{% extends 'publisher/publisher_layout.html' %}

{% block title %}Listing details for {{ package.name }}{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% set selected_tab='listing' %}

{% block publisher_content %}
<form id="market-form" class="p-form p-form--stacked p-strip u-no-padding--top" method="POST" enctype="multipart/form-data">
  <section class="p-strip is-shallow">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="u-fixed-width is-wide">
      {% for category, message in messages %}
      <div id="market-form-status" class="p-notification--{{ category }}">
        <p class="p-notification__response">
          {{ message }}
        </p>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="u-fixed-width is-wide">
      <h2 class="p-heading--4">
        Listing details
      </h2>
    </div>
    <div class="row is-wide p-form__group p-form__group--top">
      <div class="col-2 u-flex">
      {% if package.type == "charm" %}
        <label class="p-form__label" for="{{ package.type }}-icon">Charm icon:</label>
      {% elif package.type == "bundle" %}
        <p class="is-label">Bundle icon:</p>
      {% endif %}
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          {% if package.type == "charm" %}
            <div class="u-flex u-vertically-center">
              <div class="p-editable-icon">
                <div class="p-editable-icon__icon" tabindex="0">
                  <img class="p-editable-icon__image" src="https://dashboard.snapcraft.io/site_media/appmedia/2020/04/products-hero-ubuntu.svg.png" alt="{{ package.name }} {{ package.type }}">
                  <span class="p-editable-icon__change">Edit</span>
                  <input type="file" name="icon" id="{{ package.type }}-icon" accept="image/png,image/jpeg,image/svg+xml" hidden="">
                </div>
              </div>
              <div class="p-editable-icon__actions">
                <a href="#" role="button" tabindex="0" class="p-editable-icon__delete">
                  <i class="p-icon--delete"></i>
                </a>
              </div>
            </div>
          {% elif package.type == "bundle" %}
            <div class="p-bundle-icons" style="margin-block-end: 1.2rem;">
              <img src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-271/icon.svg" class="p-bundle-icons__image" alt="">
              <img src="https://api.jujucharms.com/charmstore/v5/lxd-22/icon.svg" class="p-bundle-icons__image" alt="">
              <img src="https://api.jujucharms.com/charmstore/v5/ceph/icon.svg" class="p-bundle-icons__image" alt="">
            </div>
            <p class="p-form-help-text">
              A bundle icon is created from its included charms.
            </p>
          {% endif %}
        </div>
      </div>
      <div class="col-12">
        <div class="row is-wide">
          <div class="col-6 col-x-large-4 col-start-large-3">
            <details class="u-no-margin--bottom" style="margin-block-start: -1rem;">
              <summary>Charm icon restrictions</summary>
              <ul class="p-list--key-value">
                <li class="p-list__item">
                  <span class="p-list__key">Accepted image formats</span>
                  <span class="p-list__value">PNG, JPEG &amp; SVG</span>
                </li>
                <li class="p-list__item">
                  <span class="p-list__key">Min resolution</span>
                  <span class="p-list__value">40 x 40 pixels</span>
                </li>
                <li class="p-list__item">
                  <span class="p-list__key">Max resolution</span>
                  <span class="p-list__value">512 x 512 pixels</span>
                </li>
                <li class="p-list__item">
                  <span class="p-list__key">Aspect ratio</span>
                  <span class="p-list__value">1:1</span>
                </li>
                <li class="p-list__item">
                  <span class="p-list__key">Size limit</span>
                  <span class="p-list__value">256kB</span>
                </li>
              </ul>
            </details>
          </div>
        </div>
      </div>
    </div>
    <div class="row is-wide p-form__group p-form-validation">
      <div class="col-2">
        <label for="{{ package.type }}-title" class="p-form__label">Title:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" id="{{ package.type }}-title" type="text" name="title" value="{{ package.title or package.name }}" required="" maxlength="40">
        </div>
      </div>
    </div>
    <div class="row is-wide p-form__group">
      <div class="col-2">
        <label class="p-form__label" for="primary_category">Category:</label>
      </div>
      <div class="col-4 col-x-large-3">
        <div class="p-form__control">
          <select name="primary_category" id="primary_category">
            <option value="" disabled="disabled" selected="">Primary category</option>
            <option value="art-and-design">Art and Design</option>
            <option value="books-and-reference">Books and Reference</option>
            <option value="development">Development</option>
            <option value="devices-and-iot">Devices and IoT</option>
            <option value="education">Education</option>
            <option value="entertainment">Entertainment</option>
            <option value="finance">Finance</option>
            <option value="games">Games</option>
            <option value="health-and-fitness">Health and Fitness</option>
            <option value="music-and-audio">Music and Audio</option>
            <option value="news-and-weather">News and Weather</option>
            <option value="personalisation">Personalisation</option>
            <option value="photo-and-video">Photo and Video</option>
            <option value="productivity">Productivity</option>
            <option value="science">Science</option>
            <option value="security">Security</option>
            <option value="server-and-cloud">Server and Cloud</option>
            <option value="social">Social</option>
            <option value="utilities">Utilities</option>
            <option value="">None</option>
          </select>
        </div>
      </div>
      <div class="col-4 col-x-large-3">
        <div class="p-form__control">
          <select name="secondary_category" id="secondary_category">
            <option value="" disabled="disabled" selected="">Secondary category</option>
            <option value="art-and-design">Art and Design</option>
            <option value="books-and-reference">Books and Reference</option>
            <option value="development">Development</option>
            <option value="devices-and-iot">Devices and IoT</option>
            <option value="education">Education</option>
            <option value="entertainment">Entertainment</option>
            <option value="finance">Finance</option>
            <option value="games">Games</option>
            <option value="health-and-fitness">Health and Fitness</option>
            <option value="music-and-audio">Music and Audio</option>
            <option value="news-and-weather">News and Weather</option>
            <option value="personalisation">Personalisation</option>
            <option value="photo-and-video">Photo and Video</option>
            <option value="productivity">Productivity</option>
            <option value="science">Science</option>
            <option value="security">Security</option>
            <option value="server-and-cloud">Server and Cloud</option>
            <option value="social">Social</option>
            <option value="utilities">Utilities</option>
            <option value="">None</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row is-wide p-form__group p-form-validation">
      <div class="col-2">
        <label class="p-form__label" for="summary">Summary: </label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" type="text" id="summary" name="summary" required="" maxlength="100" value="{{ package.summary or ''}}">
        </div>
      </div>
      <div class="col-12">
        <div class="row is-wide">
          <div class="col-8 col-x-large-6 col-start-large-3">
            <p class="p-form-help-text">Maximum length 100 characters. This will appear on your charm card on the store</p>
          </div>
        </div>
      </div>
    </div>

    {% if package.type == "bundle" %}
      <div class="row is-wide p-form__group p-form__group--top">
        <div class="col-2">
          <label for="bundle-topology" class="p-form__label">Bundle topology:</label>
        </div>
        <div class="col-8 col-x-large-6">
          <div class="p-form__control p-market-banner">
            <div class="p-market-banner__image-holder">
              <div class=" p-file-input">
                <div class="p-market-banner__image is-empty" tabindex="0">
                  <div class="u-align-text--center"><i class="p-icon--plus"></i>Add topology</div>
                </div><input type="file" name="bundle-topology" id="bundle-topology" accept="image/png,image/jpeg" hidden="">
              </div>
            </div>
            <p class="p-form-help-text">Reposition charm icons in a manner that is both meaningful and memorable. To manipulate charms in the canvas, click and drag.</p>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="p-strip is-shallow">
      <div class="u-fixed-width is-wide">
        <hr class="u-no-margin--bottom">
      </div>
    </div>
    <div class="u-fixed-width is-wide">
      <h2 class="p-heading--4">Additional information</h2>
    </div>

    <div class="row is-wide p-form__group p-form-validation ">
      <div class="col-2">
        <label for="website" class="p-form__label">Project homepage:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" id="website" type="url" name="website" value="{{ package.website or '' }}" maxlength="256" placeholder="https://charmhub.io">
        </div>
      </div>
    </div>

    <div class="row is-wide p-form__group p-form-validation ">
      <div class="col-2">
        <label for="repository" class="p-form__label">Repository:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" id="repository" type="url" name="repository" value="" maxlength="256" placeholder="GitHub, Launchpad, BitBucket&hellip;">
        </div>
      </div>
    </div>

    <div class="row is-wide p-form__group p-form-validation ">
      <div class="col-2">
        <label for="submit-bug" class="p-form__label">Submit bug:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" id="submit-bug" type="url" name="submit-bug" value="" maxlength="256" placeholder="GitHub, Launchpad, BitBucket&hellip;">
        </div>
      </div>
    </div>

    <div class="row is-wide p-form__group p-form-validation ">
      <div class="col-2">
        <label for="contact" class="p-form__input">Contact:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input id="contact" class="p-form-validation__input" type="text" name="contact" value="{{ package.contact or '' }}" maxlength="256" placeholder="mailto:example@example.com">
        </div>
      </div>
    </div>
  </section>
  <div class="u-fixed-width is-wide">
    <hr>
  </div>
  <div data-js="sticky-menu-observer">
    <div class="u-position-sticky--bottom is-sticky" data-js="sticky-menu">
      <div class="row is-wide" style="padding-block-start: 1rem;">
        <div class="col-7">
          <p>
            Updates to this information will appear immediately on the <a href="/{{ package.name }}">{{ package.type }} listing page</a>.
          </p>
        </div>
        <div class="col-5">
          <div class="u-align--right u-clearfix">
            <button class="js-listing-preview p-button--base p-tooltip p-tooltip--btm-center" form="preview-form" area-describedby="preview-tooltip">
              Preview
              <span class="p-tooltip__message" role="tooltip" id="preview-tooltip">Previews will only work in the same browser, locally</span>
            </button>
            <a class="p-button--neutral is-disabled" href="javascript:void(0);" style="margin-inline-end: 1rem;">Revert</a>
            <button type="submit" class="p-button--positive" name="submit_apply" value="Save">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="changes" value="">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/listing.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.publisher.listing.initTooltips();
    charmhub.publisher.listing.initMultiselect('.js-license',  {{ licenses | tojson }}, ' OR ');
    charmhub.publisher.listing.initLicenses([
        document.getElementById('license-simple-input'),
        document.getElementById('license-custom-input')
      ]);
    charmhub.publisher.listing.initStickyMenu("[data-js='sticky-menu-observer']");
  });
</script>
{% endblock%}
