{% extends 'base_layout.html' %}

{% block content %}
<section class="p-strip--grey is-shallow">
  <div class="u-fixed-width">
    <a href="/charms">&lsaquo;&nbsp;My charms &amp; bundles</a>
    <h1 class="p-heading--3">
      {{package.name}}
      <small>by {{ package['publisher']['display-name'] }}</small>
    </h1>
  </div>
</section>
<section class="p-strip is-shallow u-no-padding--bottom">
  <div class="u-fixed-width">
    <nav class="p-tabs">
      <ul class="p-tabs__list u-no-margin--bottom" role="tablist">
        <li class="p-tabs__item" role="presentation">
          <a href="/{{package.name}}/listing" class="p-tabs__link" tabindex="0" role="tab" {% if selected_tab == "listing" %}aria-selected="true"{% endif %}>
            Listing
          </a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="/{{package.name}}/publicise" class="p-tabs__link" tabindex="0" role="tab" {% if selected_tab == "publicise" %}aria-selected="true"{% endif %}>
            Publicise
          </a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="/{{package.name}}/settings" class="p-tabs__link" tabindex="0" role="tab" {% if selected_tab == "settings" %}aria-selected="true"{% endif %}>
            Settings
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>

{% block publisher_content %}{% endblock publisher_content %}

{% endblock %}
