{% extends 'publisher/publisher_layout.html' %}

{% block title %}Register a new charm or bundle{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% block content %}
<section class="p-strip is-shallow">
  <div class="u-fixed-width is-wide">
    <a href="/charms">&lsaquo;&nbsp;My charms &amp; bundles</a>
    <h1 class="p-heading--2">
      Register a new charm or bundle
    </h1>
    <p>You must register a name before you publish a new charm or bundle to the store.</p>
    <form class="p-form" action="">
      <div>
        <label for="name">Name:</label>
        <input class="is-input--narrow" id="name" name="name" type="text" autocomplete="name">
        <p class="p-form-help-text u-no-max-width">It should only have ASCII lowercase letters, numbers, and hyphens, and must have at least one letter</p>
      </div>
      <div>
        <label class="p-radio">
          <p class="is-label">Type:</p>
          <p class="p-form-help-text">This can NOT be changed after the initial upload</p>
          <input type="radio" class="p-radio__input" name="type" checked="" aria-labelledby="charm" value="charm">
          <span class="p-radio__label" id="charm">Charm</span>
        </label>
        <label class="p-radio">
          <input type="radio" class="p-radio__input" name="type" aria-labelledby="bundle" value="bundle">
          <span class="p-radio__label" id="bundle">Bundle</span>
        </label>
      </div>
      <div style="margin-block-end: 2.5rem;">
        <label class="p-radio">
          <p class="is-label">Visibility:</p>
          <p class="p-form-help-text">This can be changed at any time after the initial upload</p>
          <input type="radio" class="p-radio__input" name="visibility" checked="" aria-labelledby="public" value="pubic">
          <span class="p-radio__label" id="public">Public</span>
        </label>
        <p class="p-form-help-text" style="padding-inline-start: 2rem;">Anyone can find your charm in the Charmhub</p>
        <label class="p-radio">
          <input type="radio" class="p-radio__input" name="visibility" aria-labelledby="private" value="private">
          <span class="p-radio__label" id="private">Private</span>
        </label>
        <p class="p-form-help-text" style="padding-inline-start: 2rem;">Charm is hidden in the store and only accessible by the publisher and collaborators</p>
      </div>
      <hr class="p-separator--shallow">
      <div class="u-align--right">
        <a class="p-button--neutral" href="/charms" style="margin-inline-end: 1rem;">Cancel</a>
        <button type="submit" class="p-button--positive">
          Register
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
