{% extends 'publisher/publisher_layout.html' %}

{% block title %}Register a new charm or bundle{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% block content %}
<section class="p-strip is-shallow">
  <div class="u-fixed-width is-wide">
    <a href="/charms">&lsaquo;&nbsp;My charms &amp; bundles</a>
    <h1 class="p-heading--2">
      Register a new charm or bundle
    </h1>
    <p>You must register a name before you publish a new charm or bundle to the store.</p>
  </div>

  {% if invalid_name %}
    <div class="row is-wide">
      <div class="col-8">
        <div class="p-notification--negative">
          <p class="p-notification__response" role="status">
            <span class="p-notification__status">The name '{{ entity_name }}' is not valid.</span> It should only have ASCII lowercase letters, numbers, and hyphens, and must have at least one letter.
          </p>
        </div>
      </div>
    </div>
  {% endif %}

  {% if already_registered %}
    <div class="row is-wide">
      <div class="col-8">
        <div class="p-notification--negative">
          <p class="p-notification__response" role="status">
            <span class="p-notification__status">Another publisher already registered {{ entity_name }}.</span> You can email <a href="mailto:concierge@canonical.com">concierge@canonical.com</a> to file a dispute.
          </p>
        </div>
      </div>
    </div>
  {% endif %}

  {% if already_owned %}
    <div class="row is-wide">
      <div class="col-8">
        <div class="p-notification--negative">
          <p class="p-notification__response" role="status">
            You already own '<a href="/{{ entity_name }}/listing"><strong>{{ entity_name }}</strong></a>'.
          </p>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="u-fixed-width is-wide">
    <form class="p-form" method="POST">
      <div class="p-form-validation{% if entity_name %} is-error{% endif %}">
        <label for="name">Name:</label>
        <input class="p-form-validation__input is-input--narrow" id="name" name="name" type="text" autocomplete="name" {% if entity_name %}value="{{ entity_name }}"{% endif %}>
        <p class="p-form-help-text u-no-max-width{% if entity_name %} u-hide{% endif %}">It should only have ASCII lowercase letters, numbers, and hyphens, and must have at least one letter</p>
        <p class="p-form-validation__message u-no-max-width" role="alert">
          <strong>Error:</strong>
          {% if invalid_name %}The name should only have ASCII lowercase letters, numbers, and hyphens, and must have at least one letter.{% endif %}
          {% if already_registered %}This name is already taken.{% endif %}
          {% if already_owned %}You already own this name.{% endif %}
        </p>
      </div>
      <div>
        <label class="p-radio">
          <p class="is-label">Type:</p>
          <p class="p-form-help-text">This can NOT be changed after the initial upload</p>
          <input type="radio" class="p-radio__input" name="type" checked="" aria-labelledby="charm" value="charm">
          <span class="p-radio__label" id="charm">Charm</span>
        </label>
        <label class="p-radio">
          <input type="radio" class="p-radio__input" name="type" aria-labelledby="bundle" value="bundle">
          <span class="p-radio__label" id="bundle">Bundle</span>
        </label>
      </div>
      <div style="margin-block-end: 2.5rem;">
        <label class="p-radio">
          <p class="is-label">Visibility:</p>
          <p class="p-form-help-text">This can be changed at any time after the initial upload</p>
          <input type="radio" class="p-radio__input" name="private" checked="" aria-labelledby="is-public" value="public">
          <span class="p-radio__label" id="is-public">Public</span>
        </label>
        <p class="p-form-help-text" style="padding-inline-start: 2rem;">Anyone can find your charm in the Charmhub</p>
        <label class="p-radio">
          <input type="radio" class="p-radio__input" name="private" aria-labelledby="is-private" value="private">
          <span class="p-radio__label" id="is-private">Private</span>
        </label>
        <p class="p-form-help-text" style="padding-inline-start: 2rem;">Charm is hidden in the store and only accessible by the publisher and collaborators</p>
      </div>
      <hr class="p-separator--shallow">
      <div class="u-align--right">
        <a class="p-button--neutral" href="/charms" style="margin-inline-end: 1rem;">Cancel</a>
        <button type="submit" class="p-button--positive">
          Register
        </button>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
  </div>
</section>
{% endblock %}
