{% extends 'publisher/publisher_layout.html' %}

{% block title %}Register a new charm or bundle{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% block content %}
<section class="p-strip--grey is-shallow">
  <div class="u-fixed-width">
    <a href="/charms">&lsaquo;&nbsp;My charms &amp; bundles</a>
    <h1 class="p-heading--2">
      Register a new charm or bundle
    </h1>
    <p>You must register a name before you publish a new charm or bundle to the store.</p>
  </div>
</section>
<section class="p-strip is-shallow">
  {% if invalid_name %}
    <div class="u-fixed-width">
      <div class="p-notification--negative">
        <p class="p-notification__response" role="status">
          <span class="p-notification__status">The name '{{ entity_name }}' is not valid.</span> It should only have ASCII lowercase letters, numbers, and hyphens, and must have at least one letter.
        </p>
      </div>
    </div>
  {% endif %}

  {% if already_registered %}
    <div class="u-fixed-width">
      <div class="p-notification--negative">
        <p class="p-notification__response" role="status">
          <span class="p-notification__status">Another publisher already registered {{ entity_name }}.</span> You can email <a href="mailto:concierge@canonical.com">concierge@canonical.com</a> to file a dispute.
        </p>
      </div>
    </div>
  {% endif %}

  {% if already_owned %}
    <div class="u-fixed-width">
      <div class="p-notification--negative">
        <p class="p-notification__response" role="status">
          You already own '<a href="/{{ entity_name }}/listing"><strong>{{ entity_name }}</strong></a>'.
        </p>
      </div>
    </div>
  {% endif %}

  <form class="p-form" method="POST">
    <div class="p-form__group row p-form-validation{% if entity_name %} is-error{% endif %}">
      <div class="col-2">
        <label for="name" class="p-form__label">Name:</label>
      </div>
      <div class="col-8 col-x-large-6">
        <div class="p-form__control">
          <input class="p-form-validation__input" id="name" name="name" type="text" autocomplete="name" {% if entity_name %}value="{{ entity_name }}" {% endif %} aria-describedby="entity-name-error-message" {% if entity_name %}aria-invalid="true"{% endif %}>
          <p class="p-form-help-text{% if entity_name %} u-hide{% endif %}">It should only have ASCII lowercase letters, numbers, and hyphens, and must have at least one letter</p>
          {% if entity_name %}
            <p class="p-form-validation__message" role="alert" id="entity-name-error-message">
              <strong>Error:</strong>
              {% if invalid_name %}The name should only have ASCII lowercase letters, numbers, and hyphens, and must have at least one letter.{% endif %}
              {% if already_registered %}This name is already taken.{% endif %}
              {% if already_owned %}You already own this name.{% endif %}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="u-fixed-width">
      <hr class="p-separator--2rem">
    </div>
    <div class="row p-form__group">
      <div class="col-2">
        <p class="is-label p-form__label">Type:</p>
      </div>
      <div class="col-8 col-x-large-6">
        <p>This can <strong>NOT</strong> be changed after the initial upload</p>
        <label class="p-radio">
          <input type="radio" class="p-radio__input" name="type" checked="" aria-labelledby="charm" value="charm">
          <span class="p-radio__label" id="charm">Charm</span>
        </label>
        <p class="p-form-help-text">Contains all the instructions necessary for deploying and configuring application units</p>
        <label class="p-radio">
          <input type="radio" class="p-radio__input" name="type" aria-labelledby="bundle" value="bundle">
          <span class="p-radio__label" id="bundle">Bundle</span>
        </label>
        <p class="p-form-help-text">A collection of charms which have been carefully combined and configured in order to automate a multi-charm solution</p>
      </div>
    </div>
    <div class="u-fixed-width">
      <hr style="margin-block-end: 1rem; margin-block-start: 2rem;">
      <div class="u-align--right">
        <a class="p-button--base" href="/charms" style="margin-inline-end: 1rem;">Cancel</a>
        <button type="submit" class="p-button--positive">
          Register
        </button>
      </div>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </form>
</section>
{% endblock %}
