{% extends 'publisher/publisher_layout.html' %}

{% block title %}Settings for {{ package.name }}{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% set selected_tab='settings' %}

{% block publisher_content %}
<form id="settings-form" class="p-form p-form--stacked p-strip u-no-padding--top" data-js="settings-form" method="POST" enctype='multipart/form-data'>
  <section class="p-strip is-shallow">
    <div class="row p-form__group">
      <div class="col-2">
        <p class="is-label">Visibility:</p>
      </div>
      <div class="col-8">
        <div class="p-form__control">
          <input type="radio" name="private" id="is-public" {% if not private and not unlisted %}checked="checked" {% endif %} value="public">
          <label for="is-public">Public
          </label>
          <p class="p-form-help-text">Anyone can find your charm in the Charmhub</p>
        </div>
        <div class="p-form__control">
          <input type="radio" name="private" id="is-private" {% if private %}checked="checked" {% endif %} value="private">
          <label for="is-private">Private
          </label>
          <p class="p-form-help-text u-no-margin--bottom">Hidden in the Charmhub. Only accessible by the publisher and collaborators.</p>
        </div>
      </div>
    </div>
    <div class="u-fixed-width">
      <hr class="p-separator--2rem">
    </div>
    <div class="row p-form__group">
      <div class="col-2">
        <p class="is-label">Collaborators:</p>
      </div>
      <div class="col-5">
        <table aria-label="{{ package.name }} collaborators table">
          <thead>
            <tr>
              <th style="width: 25%;">Status</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Accepted</td>
              <td class="u-no-padding--top u-no-padding--bottom u-no-padding--right">
                <ul class="p-list--divided has-padding u-no-margin--bottom">
                  <li class="p-list__item">
                    <ul class="p-inline-list--stretch u-no-margin--bottom">
                      <li class="p-inline-list__item">test@collaborator.one</li>
                      <li class="p-inline-list__item u-align--right show-on-hover">
                        <a href="#"><i class="p-icon--delete">Delete</i></a>
                      </li>
                    </ul>
                  </li>
                  <li class="p-list__item">
                    <ul class="p-inline-list--stretch u-no-margin--bottom">
                      <li class="p-inline-list__item">test@collaborator.one</li>
                      <li class="p-inline-list__item u-align--right show-on-hover">
                        <a href="#"><i class="p-icon--delete">Delete</i></a>
                      </li>
                    </ul>
                  </li>
                  <li class="p-list__item">
                    <ul class="p-inline-list--stretch u-no-margin--bottom">
                      <li class="p-inline-list__item">test@collaborator.one</li>
                      <li class="p-inline-list__item u-align--right show-on-hover">
                        <a href="#"><i class="p-icon--delete">Delete</i></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Pending</td>
              <td class="u-no-padding--top u-no-padding--bottom u-no-padding--right">
                <ul class="p-list--divided has-padding u-no-margin--bottom">
                  <li class="p-list__item">
                    <ul class="p-inline-list--stretch u-no-margin--bottom">
                      <li class="p-inline-list__item">test@collaborator.one</li>
                      <li class="p-inline-list__item u-align--right show-on-hover">
                        <a href="#"><i class="p-icon--delete">Delete</i></a>
                      </li>
                    </ul>
                  </li>
                  <li class="p-list__item">
                    <ul class="p-inline-list--stretch u-no-margin--bottom">
                      <li class="p-inline-list__item">test@collaborator.one</li>
                      <li class="p-inline-list__item u-align--right show-on-hover">
                        <a href="#"><i class="p-icon--delete">Delete</i></a>
                      </li>
                    </ul>
                  </li>
                  <li class="p-list__item">
                    <ul class="p-inline-list--stretch u-no-margin--bottom">
                      <li class="p-inline-list__item">test@collaborator.one</li>
                      <li class="p-inline-list__item u-align--right show-on-hover">
                        <a href="#"><i class="p-icon--delete">Delete</i></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="new-collaborator">Add collaborator:</label>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-4">
            <input id="new-collaborator" placeholder="example@example.com" type="email">
          </div>
          <div class="col-1">
            <a href="#" class="p-button--neutral u-no-margin--bottom">Add</a>
          </div>
        </div>
      </div>
    </div>
    <div class="u-fixed-width">
      <hr class="p-separator--2rem">
    </div>
    <div class="row p-form__group">
      <div class="col-2">
        <p class="is-label">Status:</p>
      </div>
      <div class="col-8">
        <p class="is-label">
          Published
        </p>
      </div>
    </div>
  </section>
  <div data-js="sticky-menu-observer">
    <div class="u-position-sticky--bottom" data-js="sticky-menu">
      <div class="u-fixed-width">
        <hr>
      </div>
      <div class="row" style="padding-block-start: 1rem;">
        <div class="col-7">
          <p>
            Updates to this information will appear immediately on the <a href="/{{ package.name }}">{{ package.type }} listing page</a>.
          </p>
        </div>
        <div class="col-5">
          <div class="u-align--right u-clearfix">
            <a class="p-button--neutral" href="/{{ package.name }}/listing" style="margin-inline-end: 1rem;">Revert</a>
            <button type="submit" class="p-button--positive" name="submit_apply" value="Save">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/settings.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.publisher.settings.initStickyMenu("[data-js='sticky-menu-observer']")
  });
</script>
{% endblock %}
