{% set current_tab = "libraries" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}

  <div class="row p-details-tab__content">
    <div class="col-3">
      <div class="p-side-navigation is-sticky" id="drawer" style="overflow-y: visible;">
        <a href="#drawer" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="drawer">
          Toggle side navigation
        </a>
        <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="drawer"></div>
        <nav class="p-side-navigation__drawer" aria-label="Example side navigation">
          <div class="p-side-navigation__drawer-header">
            <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="drawer">
              Toggle side navigation
            </a>
          </div>
          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item--title">
              <a class="p-side-navigation__link" {% if request.path.endswith('libraries') %}aria-current="page"{% endif %} href="/{{ entity_name }}/libraries">Introduction</a>
            </li>
          </ul>
          {% if libraries %}
          <ul class="p-side-navigation__list">
            <li class="p-side-navigation__item--title">
              <span class="p-side-navigation__text">
                Publisher suggests
                <div class="p-side-navigation__status u-no-margin--left u-hide--small">
                  <span class="p-tooltip--right" aria-describedby="rght">
                    <i class="p-icon--information" class="p-tooltip--right" aria-describedby="publisher-suggests-info"></i>
                    <span class="p-tooltip__message" role="tooltip" id="publisher-suggests-info">These are libraries that the charm author has chosen to share
with other developers to use in conjunction with this charm.
The libraries recommended here could be from an older version
than the latest.</span>
                  </a>
                </div>
              </span>
            </li>
            {% for group in libraries.keys() %}
            <li class="p-side-navigation__item">
            {% if group == "others" %}
              {% for lib in libraries[group] %}
                <a class="p-side-navigation__link" {% if request.path.endswith(lib['name']) or request.path.endswith(lib['name'] + '/source-code') %}aria-current="page"{% endif %} href="/{{ entity_name }}/libraries/{{ lib['name'] }}" style="color: #111;">{{ lib["name"] }}</a>
              {% endfor %}
            {% else %}
              <span class="p-side-navigation__text" style="color: #111;">{{ group }}</span>
              <ul class="p-side-navigation__list">
                {% for lib in libraries[group] %}
                <li class="p-side-navigation__item">
                  <a class="p-side-navigation__link" {% if request.path.endswith(lib['name']) or request.path.endswith(lib['name'] + '/source-code') %}aria-current="page"{% endif %} href="/{{ entity_name }}/libraries/{{ group }}{{ lib['name'] }}">{{ lib["name"] }}</a>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </nav>
      </div>
    </div>

    <div class="col-9">
      {% if not is_introduction %}
      <div class="u-fixed-width">
        <h2>{{ library_name }}</h2>
        <ul class="p-inline-list--stretch p-list--reversed u-no-margin--bottom">
          <li class="p-inline-list__item u-no-margin--right">
            <div class="p-button-group">
              <div class="p-button-group__inner">
                <div class="p-button-group__buttons">
                  <a href="/{{ entity_name }}/libraries/{{ library_name }}" class="p-button-group__button is-smaller{% if not is_source_code%} is-selected{% endif %}"">
                    <i class="p-icon--docstrings">Docstrings</i><span>Docstrings</span>
                  </a>
                  <a href="/{{ entity_name }}/libraries/{{ library_name }}/source-code" class="p-button-group__button is-smaller{% if is_source_code%} is-selected{% endif %}"><i class="p-icon--code">Code</i><span>Source code</span></a>
                </div>
              </div>
            </div>
          </li>
          <li class="p-inline-list__item">
            <ul class="p-inline-list has-vertical-separator">
              <li class="p-inline-list__item u-hide--small">
                <span class="p-contextual-menu--left">
                  <button class="p-button--base p-contextual-menu__toggle" aria-controls="menu-3" aria-expanded="false" aria-haspopup="true">
                    <i class="p-icon--download"></i> Download
                  </button>
                  <span class="p-contextual-menu__dropdown--wide" id="menu-3" aria-hidden="true">
                    <span class="p-contextual-menu__group">
                      <div class="p-contextual-menu__body">
                        <p class="u-no-padding--top"><i class="p-icon--code"></i> Fetch library</p>
                        <pre class="u-no-margin--bottom">charmcraft fetch-lib {{ fetch_string }}</pre>
                      </div>
                    </span>
                    <span class="p-contextual-menu__group">
                      <a class="p-contextual-menu__link--deep" href="/{{ library['charm-name'] }}/libraries/{{ library_name }}/download" download>
                        <i class="p-icon--download"></i> Download {{ library_name }}.py
                      </a>
                    </span>
                  </span>
                </span>
              </li>
              <li class="p-inline-list__item">
                <i class="p-icon--update">Last updated</i> {{ creation_date }}
              </li>
              <li class="p-inline-list__item">
                <i class="p-icon--revision">Revision</i> Library version {{ library['api'] }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
      {% endif %}
      {% block libraries_content %} {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block details_scripts %}
  <script>
    {% if not is_source_code %}
      // Fix to see the content under the sticky nav when you navigate using # on the docstring page
        window.addEventListener("hashchange", () => { scrollBy(0, -55) })
    {% endif %}

    function toggleMenu(element, show, top) {
      var target = document.getElementById(element.getAttribute('aria-controls'));

      if (target) {
        element.setAttribute('aria-expanded', show);
        target.setAttribute('aria-hidden', !show);

        if (typeof top !== 'undefined') {
          target.style.top = top + 'px';
        }
      }
    }

    function setupContextualMenu(menuToggle) {
      menuToggle.addEventListener('click', function (event) {
        event.preventDefault();
        var menuAlreadyOpen = menuToggle.getAttribute('aria-expanded') === 'true';

        var top = menuToggle.offsetHeight;

        if (window.getComputedStyle(menuToggle).display === 'inline') {
          top += 5;
        }

        toggleMenu(menuToggle, !menuAlreadyOpen, top);
      });
    }

    function setupAllContextualMenus(contextualMenuToggleSelector) {
      var toggles = document.querySelectorAll(contextualMenuToggleSelector);

      for (var i = 0, l = toggles.length; i < l; i++) {
        setupContextualMenu(toggles[i]);
      }

      document.addEventListener('click', function (event) {
        for (var i = 0, l = toggles.length; i < l; i++) {
          var toggle = toggles[i];
          var contextualMenu = document.getElementById(toggle.getAttribute('aria-controls'));
          var clickOutside = !(toggle.contains(event.target) || contextualMenu.contains(event.target));

          if (clickOutside) {
            toggleMenu(toggle, false);
          }
        }
      });

      document.addEventListener('keydown', function (e) {
        e = e || window.event;

        if (e.keyCode === 27) {
          for (var i = 0, l = toggles.length; i < l; i++) {
            toggleMenu(toggles[i], false);
          }
        }
      });
    }

    setupAllContextualMenus('.p-contextual-menu__toggle');
  </script>
{% endblock%}
