{% set current_tab = "libraries" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
  <div class="p-strip u-no-padding--top">
    <div class="u-fixed-width u-equal-height">
      <div class="charm-empty-docs-icon u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/3234f995-Generic_chamhub_NoDocs.svg" alt="" width="121" height="121">
      </div>
      <div class="col-9 charm-empty-docs-content">
        <h4>No libraries have been added for this charm</h4>
        <p>Charm libraries provide a means for charm developers to make the implementation of any relation they define as simple as possible for other developers.</p>
        <p class="u-no-margin--bottom"><a class="p-button--positive u-no-margin--bottom" href="https://canonical-charmcraft.readthedocs-hosted.com/en/stable/howto/manage-libraries/">Learn how to add libraries to a charm</a></p>
      </div>
    </div>
  </div>
{% endblock%}
