<div class="u-fixed-width">
  <h4 class="p-heading--4">Architecture Information</h4>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="architecture_diagram_url" class="is-required">Architecture Diagram URL:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <input class="is-dense"
      id="architecture_diagram_url"
      name="architecture_diagram_url"
      type="url"
      required
      value="{{ form_value(form_data, solution, 'architecture_diagram_url', 'media.architecture_diagram') | e }}"
    >
    <p class="p-form-help-text">URL to architecture diagram on <a href="https://assets.ubuntu.com/manager/create" target="_blank">Asset Manager</a>
      <span class="p-tooltip--right" aria-describedby="rght">
        <i class="p-icon--information"></i>
        <span class="p-tooltip__message" role="tooltip" id="rght">Upload your asset to the Canonical Asset Manager and paste the Asset link provided here.</span>
      </span>
    </p>
  </div>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="architecture_explanation">Architecture Description:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <textarea class="is-dense"
      id="architecture_explanation"
      name="architecture_explanation"
      rows="6"
    >{{ form_value(form_data, solution, 'architecture_explanation', 'documentation.architecture_explanation') | e }}</textarea>
    <p class="p-form-help-text">Explanation of the solution architecture (Markdown supported)</p>
  </div>
</div>