<div class="u-fixed-width">
  <h4 class="p-heading--4">Basic Information</h4>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="title">Title:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <input id="title"
      name="title"
      type="text"
      class="is-dense p-form-validation is-required"
      required
      value="{{ form_value(form_data, solution, 'title') | e }}"
    >
    <p class="p-form-help-text">A human-readable title for your solution</p>
  </div>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="summary">Summary:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <textarea
      id="summary"
      name="summary"
      class="is-dense"
      rows="4"
    >{{ form_value(form_data, solution, 'summary') | e }}</textarea>
    <p class="p-form-help-text">A brief summary of what your solution does</p>
  </div>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="description">Description:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <textarea
      id="description"
      name="description"
      class="is-dense"
      rows="8"
    >{{ form_value(form_data, solution, 'description') | e }}</textarea>
    <p class="p-form-help-text">Detailed description of your solution (Markdown supported)</p>
  </div>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="get_started_url">Get Started URL:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <input class="is-dense"
      id="get_started_url"
      name="get_started_url"
      type="url"
      value="{{ form_value(form_data, solution, 'get_started_url', 'documentation.get_started') | e }}"
    >
    <p class="p-form-help-text">URL to a Getting Started or Implementation Guide</p>
  </div>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="icon">Icon URL:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <input class="is-dense"
      id="icon"
      name="icon"
      type="url"
      value="{{ form_value(form_data, solution, 'icon', 'media.icon') | e }}"
    >
    <p class="p-form-help-text">URL to the icon on Asset Manager</p>
  </div>
</div>