<div class="p-modal u-hide" id="solution-confirmation-modal">
  <section class="p-modal__dialog" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="p-modal__header">
      <h2 class="p-modal__title" id="modal-title">Confirm submission</h2>
      <button class="p-modal__close" aria-label="Close modal" aria-controls="solution-confirmation-modal">Close</button>
    </header>
    <div id="modal-description">
      <p id="modal-message" class="p-text--default"></p>
    </div>
    <footer class="p-modal__footer">
      <button class="p-button--neutral u-no-margin--bottom" id="modal-cancel">Cancel</button>
      <button class="p-button--positive u-no-margin--bottom" id="modal-confirm">Confirm</button>
    </footer>
  </section>
</div>
