<div class="u-fixed-width">
  <h4 class="p-heading--4">Your Information</h4>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="creator_email">Contact Email:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <input class="is-dense"
      id="creator_email"
      name="creator_email"
      type="email"
      value="{{ form_value(form_data, solution, 'creator_email', 'creator.email') | e }}"
    >
    <p class="p-form-help-text">Contact email for this solution</p>
  </div>
</div>

<div class="p-form__group row">
  <div class="col-2">
    <label for="mattermost_handle">Mattermost Handle:</label>
  </div>
  <div class="col-8 col-x-large-6">
    <input class="is-dense"
      id="mattermost_handle"
      name="mattermost_handle"
      type="text"
      value="{{ form_value(form_data, solution, 'mattermost_handle', 'creator.mattermost_handle') | e }}"
    >
    <p class="p-form-help-text">Optional: Your Mattermost handle for communication</p>
  </div>
</div>