@mixin charmhub-publisher {
  @include charmhub-market;
  @include charmhub-market-screenshots;
  @include charmhub-form;
}

@mixin charmhub-form {
  $white-overlay-color: rgba(255, 255, 255, 0.5);
  $black-overlay-color: rgba(0, 0, 0, 0.5);
  $black-overlay-light-color: rgba(0, 0, 0, 0.2);
  $white-overlay-strong-color: rgba(255, 255, 255, 0.9);

  .p-editable-icon {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-right: 3.2877%;
    position: relative;

    .p-editable-icon__icon {
      @include vf-icon-plus($color-mid-dark);

      background-position: center;
      background-repeat: no-repeat;
      background-size: 1rem;
      border: 1px solid $color-mid-light;
      border-radius: $border-radius;
      height: 3.75rem;
      overflow: hidden;
      position: relative;
      width: 3.75rem;

      .p-editable-icon_image {
        background: $color-x-light;
        height: 100%;
        width: 100%;
      }

      .p-editable-icon__change {
        align-items: center;
        background: $white-overlay-strong-color;
        color: $color-link;
        display: flex;
        inset: 0;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        position: absolute;
      }

      &:hover .p-editable-icon_image:not([src=""]) + .p-editable-icon__change {
        opacity: 1;
      }

      &:focus {
        outline: $bar-thickness solid $color-focus;
        outline-offset: -$bar-thickness;
      }
    }

    &:hover {
      border-color: $color-link;
    }

    &__label {
      line-height: 55px;
      padding-top: 0.25rem;
    }
  }

  .p-editable-icon__actions {
    display: block;
  }

  .p-editable-icon__delete {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin-bottom: 1.3rem;
    width: 2rem;
  }

  // Override baseline alignment
  .p-form--stacked .p-form__group--top {
    align-items: flex-start;
  }
}

@mixin charmhub-market {
  $white-overlay-color: rgba(255, 255, 255, 0.5);
  $black-overlay-color: rgba(0, 0, 0, 0.5);
  $black-overlay-light-color: rgba(0, 0, 0, 0.2);
  $white-overlay-strong-color: rgba(255, 255, 255, 0.9);

  // Override baseline alignment
  .p-form--stacked .p-form__group--top {
    align-items: flex-start;
  }

  // hack to make anchor link behave like a button
  .js-market-revert.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: transparent;
    }
  }

  .p-editable-icon {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-right: 3.2877%;
    position: relative;

    .p-editable-icon__icon {
      @include vf-icon-plus($color-mid-dark);

      background-position: center;
      background-repeat: no-repeat;
      background-size: 1rem;
      border: 1px solid $color-mid-light;
      border-radius: $border-radius;
      height: 3.75rem;
      overflow: hidden;
      position: relative;
      width: 3.75rem;

      img {
        background: $color-x-light;
        height: 100%;
        width: 100%;
      }

      .p-editable-icon__change {
        align-items: center;
        background: $white-overlay-strong-color;
        color: $color-link;
        display: flex;
        inset: 0;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        position: absolute;
      }

      &:hover img:not([src=""]) + .p-editable-icon__change {
        opacity: 1;
      }

      &:focus {
        outline: $bar-thickness solid $color-focus;
        outline-offset: -$bar-thickness;
      }
    }

    &:hover {
      border-color: $color-link;
    }

    &__label {
      line-height: 55px;
      padding-top: 0.25rem;
    }
  }

  .p-editable-icon__delete {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin-bottom: 1.3rem;
    width: 2rem;
  }

  .p-market-banner {
    .p-market-banner__image-holder {
      cursor: pointer;
      position: relative;
    }

    .p-market-banner__image {
      background-color: $color-x-light;
      border: 1px solid $color-mid-light;
      border-radius: $border-radius;
      color: $color-link;
      cursor: pointer;
      margin-bottom: $spv--large;
      padding-top: 33.3333%;
      position: relative;
      text-align: center;

      img {
        display: block;
        inset: 0;
        position: absolute;
        width: 100%;
      }

      &.is-empty {
        & > div {
          align-items: center;
          display: flex;
          flex-direction: column;
          inset: 0;
          justify-content: center;
          position: absolute;
        }
      }
    }

    .p-icon--delete {
      @include vf-icon-delete($color-mid-dark);

      &:hover {
        @include vf-icon-delete($color-negative);
      }
    }

    .p-market-banner__remove {
      right: 1px;
      top: 1px;

      .p-icon--delete {
        display: block;
        top: 0;
      }
    }

    .p-market-banner__change {
      align-items: center;
      background-color: $white-overlay-strong-color;
      color: $color-link;
      display: flex;
      inset: 0;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }
  }

  .p-market-banner__image-holder:hover,
  .p-market-banner__image-holder.is-focused {
    .p-market-banner__image {
      outline: $bar-thickness solid $color-focus;
      outline-offset: -$bar-thickness;
    }

    .p-market-banner__remove {
      opacity: 1;
    }

    .p-market-banner__change {
      border-radius: $border-radius;
      opacity: 1;
      outline: $bar-thickness solid $color-focus;
      outline-offset: -$bar-thickness;
    }
  }

  .p-market-remove {
    background: $color-x-light;
    box-sizing: content-box;
    cursor: pointer;
    opacity: 0;
    padding: 0.25rem;
    position: absolute;
    width: 1rem;
    z-index: 1;

    &:hover {
      opacity: 1;

      .p-icon--delete {
        @include vf-icon-delete($color-negative);
      }
    }
  }
}

@mixin charmhub-market-screenshots {
  $screenshot-thumb-size: 132px;

  // make it fit exactly on full screen width
  .p-listing-images {
    align-items: center;
    background-color: $color-x-light;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: $spv--small;
    margin-right: -$spv--large;
    min-height: $screenshot-thumb-size;
    position: relative;
  }

  .p-listing-images__add-image {
    background: $color-x-light;
    border: 1px solid $color-mid-light;
    cursor: pointer;
  }

  .p-listing-images__image {
    align-items: center;
    background: $color-light;
    border: 1px solid $color-light;
    border-radius: $border-radius;
    color: $color-link;
    cursor: grab;
    display: flex;
    flex-grow: 0;
    height: $screenshot-thumb-size;
    justify-content: center;
    margin-bottom: $spv--large;
    margin-right: $spv--large;
    min-width: auto;
    position: relative;
    width: $screenshot-thumb-size;

    &:focus {
      outline: $bar-thickness solid $color-focus;
      outline-offset: -$bar-thickness;
    }

    .p-listing-images__delete-image {
      background: $color-x-light;
      border-radius: 0 0.125rem 0 0;
      cursor: pointer;
      height: 1rem;
      right: 0;
      top: 0;
    }

    &.p-file-input.is-dragging::after {
      right: $spv--small;
    }

    .p-listing-images__delete-image .p-icon--delete {
      display: block;
      top: 0;
    }

    &.is-dragging {
      margin-right: 0;
    }

    &:not(.is-empty):hover,
    &:not(.is-empty):focus {
      outline: $bar-thickness solid $color-focus;
      outline-offset: -$bar-thickness;

      .p-listing-images__delete-image {
        opacity: 1;
      }
    }

    .p-listing-images__add-image {
      background: $color-x-light;
      border: 1px solid $color-mid-light;
      cursor: pointer;
      position: static;
      z-index: 1;
    }

    img {
      align-self: center;
      max-height: 100%;
      max-width: 100%;
      pointer-events: none;
      user-select: none;
    }
  }
}
