@use "sass:math";

@mixin charmhub-p-bundle-icons {
  $icon-size: 1.5rem;

  .p-bundle-icons {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, 1.5rem);
    grid-template-rows: 1.5rem;

    &:hover {
      text-decoration: none;
    }

    img,
    .p-bundle-icon {
      border: 0.06rem solid $color-mid-light;
      border-radius: math.div($icon-size, 2);
      display: inline-block;
      font-size: 0.875rem;
      height: $icon-size;
      text-align: center;
      vertical-align: bottom;
      width: $icon-size;
    }
  }

  .p-bundle-icons__count {
    color: #333;
    display: inline-block;
    font-size: 0.875rem;
    height: $icon-size;
    margin-bottom: 0.5rem;
    overflow: hidden;
    vertical-align: middle;
    width: $icon-size;
  }

  .p-heading-icon--x-small > .p-bundle-icons {
    padding: 0;
    top: 0;

    img {
      border-radius: 1.5rem / 2;
      height: 1.5rem;
      width: 1.5rem;

      &:nth-child(2) {
        margin-left: -1.1rem;
      }

      &:nth-child(3) {
        margin-left: -1.1rem;
      }
    }
  }
}
