@mixin charmhub-p-bundle-icons {
  .p-bundle-icons {
    $icon-size: 2rem;
    $padding: 0.12rem;

    padding: $padding 0.3rem + $padding $padding $padding;
    position: relative;
    top: -0.12rem;

    @media only screen and (max-width: $breakpoint-medium) {
      top: 0;
    }

    &:hover {
      text-decoration: none;
    }

    .p-bundle-icons__image {
      border-radius: $icon-size / 2;
      box-shadow: 0 0 0 0.125rem $color-x-light;
      display: inline-block;
      height: $icon-size;
      margin-bottom: 0;
      vertical-align: bottom;
      width: $icon-size;

      &:first-child {
        // Set a background to handle overlapping transparent icons.
        background-color: $color-x-light;
        position: relative;
        z-index: 2;
      }

      &:nth-child(2) {
        margin-left: -1.6rem;
        position: relative;
        z-index: 1;
      }

      &:nth-child(3) {
        margin-left: -1.6rem;
      }
    }
  }
}
