@mixin p-detail-inline-list {
  .p-detail-inline-list {
    @extend .p-inline-list;

    .p-inline-list__item {
      display: inline-block;
      margin-left: -0.25rem;
      margin-right: 0;
      padding: 0.25rem 1rem;
      position: relative;

      &.has-button {
        padding: 0;
      }

      &::before {
        border-left: 1px solid $color-mid-light;
        content: "";
        height: 1rem;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-child {
        margin-left: 0;
        padding-left: 0;

        &::before {
          border-left: 0;
        }
      }

      i {
        margin-right: 0.25rem;
      }

      @media (max-width: $breakpoint-medium) {
        display: block;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;

        &::before {
          border-left: 0;
        }
      }

      .p-inline-list__panel-button {
        padding: 0.25rem 1rem;
        width: auto;

        &.is-active {
          background-color: $color-mid-x-light;
        }

        &:hover {
          background-color: $color-mid-x-light;
          color: inherit;
          text-decoration: none;
        }

        @media (max-width: $breakpoint-medium) {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .p-inline-list__panel {
        @extend %vf-has-box-shadow;

        margin-top: 0.5rem;
        word-wrap: break-word;

        @media (min-width: $breakpoint-medium) {
          background-color: $color-x-light;
          display: none;
          left: 0;
          margin-top: 0;
          min-width: 360px;
          padding: 0.5rem 1rem;
          position: absolute;
          top: 100%;

          &.is-open {
            display: block;
          }
        }

        @media (max-width: $breakpoint-medium - 1) {
          box-shadow: none;
        }

        [readonly] {
          border: 0;
          box-shadow: none;
          color: inherit;
          padding: 0;
          resize: none;
        }
      }
    }
  }
}
