@mixin charmhub-p-header {
  .p-charm-header__container {
    align-items: center;
    display: flex;

    @media screen and (max-width: $breakpoint-large - 1) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .p-charm-header {
    &__code {
      display: inline-block;
      margin-block-end: 1rem;

      @media screen and (min-width: $breakpoint-small) {
        margin-block-end: 0;
        padding-inline-start: $spv--small;
      }

      code {
        background-color: transparent;
        box-shadow: none;

        @media screen and (max-width: $breakpoint-large - 1) {
          margin-block-end: 1rem;
          margin-inline-start: 0;
        }
      }
    }

    .p-button--base {
      margin-block-end: 0;
      width: fit-content;

      @media screen and (max-width: $breakpoint-large - 1) {
        margin-block-end: 0.5rem;
      }
    }

    .p-media-object--medium {
      @extend %p-media-object;

      .p-media-object__image {
        border-radius: 50%;
        height: 4rem;
        max-height: 4rem;
        max-width: 4rem;
        width: 4rem;
      }

      .p-media-object__image-container {
        border-radius: 50%;
        height: 4rem;
        margin-inline-end: 1rem;
        max-height: 4rem;
        max-width: 4rem;
        min-width: 4rem;
        overflow: hidden;

        .p-media-object__image {
          transform: scale(1.1);
        }
      }

      .p-media-object__title {
        @extend %vf-heading-2;

        padding-bottom: $spv--x-small;
      }
    }
  }
}
