@mixin charmhub-p-series-tag {
  .series-base {
    margin-bottom: $spv--medium;
    display: flex;
    align-items: center;

    @media only screen and (min-width: $breakpoint-x-small) {
      margin-bottom: $spv--small;
    }
  }

  .series-base__title {
    margin-bottom: $spv--small;

    @media only screen and (min-width: $breakpoint-x-small) {
      margin-bottom: 0;
      margin-right: 1rem;
      min-width: 90px;
    }
  }

  .series-tag {
    border: 1px solid $color-mid-dark;
    border-radius: 4px;
    color: $color-mid-dark;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: $spv--small;
    margin-right: $spv--x-small;
    padding: 0 $spv--small;
    text-transform: capitalize;

    &:hover {
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
