@mixin p-charmhub-contextual-menu {
  .p-contextual-menu__dropdown--wide {
    @extend .p-contextual-menu__dropdown;

    @media only screen and (min-width: $breakpoint-small) {
      max-width: 26rem;
    }
  }

  .p-contextual-menu__body {
    padding: 1rem;
  }

  .p-contextual-menu__link--deep {
    @extend .p-contextual-menu__link;

    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
