@mixin charmhub-p-series-tag {
  .series-tags {
    margin-top: $spv-outer--small;
  }

  .series-tag {
    border: 1px solid $color-mid-dark;
    border-radius: 4px;
    color: $color-mid-dark;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: $spv-inner--x-small;
    margin-right: $spv-inner--x-small;
    padding: 0 $spv-inner--small;
    text-transform: capitalize;

    &:hover {
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
