@mixin charmhub-p-bundle-icons {
  .p-bundle-icons {
    $icon-size: 1.75rem;
    $padding: 0.12rem;

    align-items: center;
    background-color: $color-x-light;
    border: 0.06rem solid $color-mid-light;
    border-radius: (($padding * 2) + $icon-size) / 2;
    color: #333;
    display: flex;
    font-size: 0.875rem;
    padding: $padding 0.3rem + $padding $padding $padding;
    position: relative;
    top: -0.12rem;
    width: fit-content;

    &:hover {
      text-decoration: none;
    }

    img {
      border: 0.06rem solid $color-mid-light;
      border-radius: $icon-size / 2;
      display: inline-block;
      height: $icon-size;
      margin-bottom: 0;
      vertical-align: bottom;
      width: $icon-size;

      &:first-child {
        // Set a background to handle overlapping transparent icons.
        background-color: $color-x-light;
        z-index: 1;
      }

      &:nth-child(2) {
        margin-inline-end: 0.5rem;
        margin-left: -1.25rem;
      }
    }
  }

  .p-heading-icon--x-small > .p-bundle-icons {
    padding: 0;
    top: 0;

    img {
      border-radius: 1.5rem / 2;
      height: 1.5rem;
      width: 1.5rem;

      &:nth-child(2) {
        margin-left: -1.1rem;
      }

      &:nth-child(3) {
        margin-left: -1.1rem;
      }
    }
  }
}
