@mixin charmhub-p-sidenav {
  .p-sidenav {
    margin-top: $spv-outer--small / 2;

    .p-sidenav-title {
      color: $color-mid-dark;
      text-transform: uppercase;
    }

    .p-sidenav-section {
      list-style: none;
      margin-bottom: 2rem;
      padding-left: 0;

      &__item {
        margin-bottom: $spv-inner--small;
      }
    }
  }
}
