@mixin charmhub-p-footer {
  .p-footer {
    @extend %vf-strip;

    background-color: $brand-color;
    background-image:
      linear-gradient(
        to bottom left,
        #3fc8f2 0%,
        #3fc8f2 49.3%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(255, 255, 255, 0.04) 0,
        rgba(255, 255, 255, 0.04) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.04) 0,
        rgba(255, 255, 255, 0.04) 49.9%,
        transparent 50%
      ),
      linear-gradient(268deg, $brand-color 8%, darken($brand-color, 10%) 100%);
    background-position: top right, bottom left, bottom left;
    background-repeat: no-repeat;
    background-size: 25% 15%, 60% 100%, 25% 100%, 100%;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% calc(0% + 4rem));
    color: $color-x-light;
    margin-top: -4rem;
    padding-bottom: 2.5rem;
    padding-top: 6rem;

    &__link {
      color: $color-x-light;

      &:hover,
      &:visited {
        color: $color-mid-light;
      }
    }

    .p-inline-list--middot {
      .p-inline-list__item {
        &::after {
          color: $color-x-light;
          right: -0.8rem;
        }
      }
    }
  }
}
