@mixin p-charmhub-tooltip {
  .p-tooltip--information {
    $icon-size: map-get($icon-sizes, default);

    padding-inline-end: $spv-inner--large;
    position: relative;

    @media screen and (max-width: $breakpoint-medium - 1px) {
      padding-inline-end: 1.5rem;
    }

    .p-tooltip__button {
      @include vf-animation(#{background-color}, fast, in);
      @include vf-focus;

      background: {
        image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1a7 7 0 110 14A7 7 0 018 1zm0 1.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM8.75 7v5.02h-1.5V7h1.5zM8.5 3.944a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5h1z' fill='%23666' fill-rule='nonzero'/%3E%3C/svg%3E");
        position: center;
        repeat: no-repeat;
        size: $icon-size;
      }

      box-sizing: content-box;
      display: block;
      height: $icon-size;
      position: absolute;
      right: 0;
      text-indent: -999rem;
      top: 0;
      transform: translateY(25%);
      width: $icon-size;

      @media screen and (max-width: $breakpoint-medium - 1px) {
        cursor: pointer;
        line-height: map-get($line-heights, default-text);
        margin: 0 0 $spv-nudge-compensation $spv-inner--x-small;
        padding: $spv-inner--x-small;
        text-align: center;
        top: -0.375rem;

        &:hover,
        &:focus {
          background-color: #f2f2f2;
        }
      }
    }

    .p-tooltip__modal {
      display: none;
      left: 100%;
      position: absolute;
      top: 0;
      transform: translateX($spv-inner--large) translateY(-$spv-inner--small);
      z-index: 101;

      @media screen and (max-width: $breakpoint-medium - 1px) {
        align-items: center;
        background-color: rgba(17, 17, 17, 0.85);
        bottom: 0;
        display: flex;
        justify-content: center;
        margin: 0;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(-100%);
        width: 100%;
      }
    }

    .p-tooltip__dialog {
      @extend %vf-has-box-shadow;

      background-color: $color-x-light;
      padding: $spv-inner--large;
      width: 22.5rem;

      @media screen and (max-width: $breakpoint-medium - 1px) {
        left: 1.5rem;
        margin-bottom: 0;
        overflow: scroll;
        padding-block-start: 2.5rem;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
      }
    }

    .p-tooltip__close {
      background: {
        image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='90' width='90'%3E%3Cg color='%23000'%3E%3Cpath fill='none' d='M0 0h90v90H0z'/%3E%3Cpath d='M14.52 6L6 14.52 36.48 45 6 75.49 14.52 84 45 53.52 75.48 84 84 75.49 53.52 45 84 14.52 75.48 6 45 36.49z' fill='%23888'/%3E%3C/g%3E%3C/svg%3E");
        position: center;
        repeat: no-repeat;
        size: $icon-size;
      }

      border: 0;
      box-sizing: content-box;
      cursor: pointer;
      display: block;
      height: $icon-size;
      margin: $spv-inner--small $spv-inner--small 0 0;
      padding: $spv-inner--small;
      position: absolute;
      right: 0;
      text-indent: -999rem;
      top: 0;
      width: $icon-size;

      &:focus {
        outline: $bar-thickness solid $color-focus;
      }

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    .p-tooltip__button + .p-tooltip__modal {
      display: none;
    }

    .p-tooltip__button + .is-open.p-tooltip__modal {
      display: flex;
    }

    .p-tooltip__button:focus + .p-tooltip__modal,
    .p-tooltip__button:hover + .p-tooltip__modal {
      @media screen and (min-width: $breakpoint-medium) {
        display: flex;
      }
    }
  }

  .p-tooltip__message--list {
    @extend .p-tooltip__message;

    min-width: 320px;
    white-space: initial;

    li i {
      margin-right: 4px;
    }
  }
}
