@mixin p-charmhub-list {
  .p-list--key-value {
    margin: 0;
    padding: 0;

    .p-list__item {
      column-gap: $spv-inner--large;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .p-list__key {
        color: $color-mid-dark;
        text-align: right;
      }
    }
  }

  .p-list {
    // Overide the default vanilla $color-accent for ticked icon
    .p-list__item.is-ticked {
      @include vf-icon-success($color-dark);
    }
  }

  // Overide the default vanilla padding for p-list--divided
  .p-list--divided.has-padding {
    .p-list__item {
      padding-block-end: $spv-inner--small;
      padding-block-start: $spv-inner--small;
    }
  }

  .p-list--divided.has-sparator-centered {
    .p-list__item {
      &:not(:first-of-type) {
        margin-block-start: $spv-inner--medium;
      }
    }
  }

  .p-list--ordered {
    @extend %vf-list;

    list-style: decimal;
    margin-left: $spv-inner--large;

    li {
      margin-bottom: $spv-inner--large;
      max-width: 40rem;
    }
  }
}
