@mixin p-charmhub-strip {
  .p-strip--charmhub {
    @extend %vf-strip;
    background-image: linear-gradient(
        to bottom left,
        rgba(255, 255, 255, 0.04) 0,
        rgba(255, 255, 255, 0.04) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        transparent 50%,
        rgba(255, 255, 255, 0.04) 0,
        rgba(255, 255, 255, 0.04) 49.9%
      ),
      linear-gradient(268deg, $brand-color 8%, darken($brand-color, 10%) 100%);
    background-position: top right, bottom right, 0% 0%;
    background-repeat: no-repeat;
    background-size: 50% 100%, 8% 100%, auto;

    &.is-dark {
      color: $color-x-light;
    }
  }

  .p-strip--main {
    @extend %vf-strip;
    padding-bottom: $spv-outer--regular-scaleable * 2;
    padding-top: $spv-outer--scaleable;
  }
}
