@mixin p-charmhub-card {
  .p-card--bundle {
    @extend %vf-card;

    padding: 1rem 0 0 0;

    .p-card__title {
      padding-bottom: $spv-inner--small;

      .p-card__title-text {
        display: inline;
      }
    }

    .p-card__subtitle {
      .series-tags {
        margin-top: $spv-inner--large;
      }
    }

    .p-card__content {
      padding-bottom: $spv-inner--large;
      padding-top: $spv-inner--large;
    }
  }

  .p-card {
    min-height: 12rem;

    &.p-button {
      background: $color-x-light;
      border-color: $color-mid-light;
      display: block;
      text-align: left;

      &:hover,
      &:active,
      &:active:hover {
        border-color: $color-mid-light;
      }
    }

    &:hover .p-card__title {
      text-decoration: underline;
    }

    .p-card__thumbnail--small {
      filter: grayscale(100%);
      height: 1.5rem;
      margin-top: 0.5rem;
      opacity: 0.18;

      &:hover {
        filter: none;
        opacity: 1;
      }
    }
  }
}
