@mixin p-charmhub-table-of-contents {
  .p-table-of-contents {
    border-left: none;
    padding-left: 0;

    .p-table-of-contents__section {
      padding-top: 0;
    }

    .p-table-of-contents__nav {
      font-size: 1rem;

      .p-table-of-contents__link.is-active {
        padding-left: 0;
      }
    }
  }
}
