@mixin p-charmhub-accordion {
  .p-accordion {
    .p-accordion__tab {
      .row {
        padding-left: 0;
        padding-right: 0;
      }

      .p-accordion__tab-description {
        color: $color-mid-dark;
        font-size: 0.875rem;
      }
    }

    .p-accordion__panel {
      .p-list__item {
        font-weight: 400;

        .p-list__item {
          font-style: italic;
          font-weight: 300;
          padding-left: $spv--large;

          &::after {
            border: none;
          }

          .p-list__item {
            font-style: normal;
            padding-left: 2 * $spv--large;
          }
        }
      }
    }
  }
}
