@mixin p-charmhub-side-navigation {
  $color-sidenav-item-background-highlight: #cef3ff;
  $color-sidenav-item-border-highlight: #35cdff;

  .p-side-navigation__item {
    .p-side-navigation__link {
      .p-side-navigation__status {
        display: none;
      }

      &:hover,
      &.is-active {
        background: $color-sidenav-item-background-highlight;
      }

      &:hover {
        .p-side-navigation__status {
          display: block;
        }
      }

      &.is-active {
        @include vf-highlight-bar($color-sidenav-item-border-highlight, left);
      }
    }
  }
}
