@mixin p-charmhub-button {
  .p-button--outline {
    @extend %vf-button-base;

    border-color: $color-x-light;
    color: $color-x-light;

    &:visited {
      color: $color-x-light;
    }

    &:hover,
    &:active:hover {
      background-color: rgba($color-mid-x-light, 0.2);
    }
  }

  .is-small {
    line-height: 1rem;
    padding: calc(0.15rem - 1px) 0.5rem;
  }

  .pagination__link--previous {
    @media screen and (min-width: $breakpoint-small) {
      margin-block-end: 0;
    }
  }

  .pagination__link--next {
    margin-block-end: 0;
  }
}
