@mixin p-charmhub-subnav {
  .p-navigation__item.p-subnav.is-active > .p-subnav__toggle {
    color: $color-text-orange;
  }

  // Fix to align the chevrons with the text
  // Remove once https://github.com/canonical-web-and-design/vanilla-framework/issues/3711 is fixed
  .p-subnav::after {
    top: 1.25rem;
  }

  .p-subnav__items {
    background-color: $color-x-light;
    padding-block-end: 0.75rem;
    padding-block-start: 0;
    right: 0;

    @media (min-width: $breakpoint-medium) {
      padding-block-end: 0.5rem;
      padding-block-start: 0.5rem;
    }

    hr {
      background-color: $color-mid-x-light;
      left: 1rem;
      margin: 0.5rem 0;
      width: calc(100% - 2rem);

      @media (max-width: $breakpoint-medium - 1px) {
        left: 2rem;
      }
    }
  }

  .p-subnav__item {
    padding: 0.25rem 2rem;

    @media (min-width: $breakpoint-medium) {
      padding: 0.25rem 1rem;
    }

    &.is-title {
      color: $color-mid-dark;
      font-size: 12px;
      font-weight: 500;
      margin-block-end: 0;
      text-transform: uppercase;

      &:hover {
        background-color: $color-x-light;
        color: $color-mid-dark;
      }
    }
  }
}
