@mixin p-charmhub-social-icons {
  @include charmhub-p-icon-chat;
  @include charmhub-p-icon-careers;
  @include charmhub-p-icon-forum;
}

@mixin vf-icon-error($color: $color-negative) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle stroke='#{vf-url-friendly-color($color)}' stroke-width='1.5' fill='#{vf-url-friendly-color($color)}' cx='8' cy='8' r='6.25'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M10.282 4.638l1.06 1.06L9.05 7.99l2.293 2.292-1.06 1.06L7.99 9.05 5.7 11.343l-1.06-1.06 2.29-2.293L4.64 5.7l1.06-1.06 2.291 2.29z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin p-charmhub-icon {
  .p-icon--arrow-up {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M14 8L2 14.9282L2 1.0718L14 8Z' fill='%230e8420'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    transform: rotate(-90deg);
    width: 10px;
  }

  .p-icon--arrow-down {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M14 8L2 14.9282L2 1.0718L14 8Z' fill='%23c7162b'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    transform: rotate(90deg);
    width: 10px;
  }

  .p-icon--arrow-right {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23666' d='M8.187 11.748l6.187-6.187-1.06-1.061-5.127 5.127L3.061 4.5 2 5.561z'/%3E%3C/svg%3E");
    transform: rotate(-90deg);
  }

  .p-icon--revisions {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='12px' width='12px' version='1.1' viewBox='0 0 12 12'%3E%3Ctitle%3Erevisions copy 5%3C/title%3E%3Cg id='New-Cards-+-Topics' fill-rule='evenodd' fill='none'%3E%3Cg id='Store---With-topics' fill-rule='nonzero' fill='%23666' transform='translate(-614 -992)'%3E%3Cg id='revisions-copy-5' transform='translate(614 992)'%3E%3Cpath id='Shape' d='m1.3569 2.1573l0.8731 0.9695c-0.5929 0.7883-0.9443 1.7686-0.9443 2.8309 0 2.6037 2.1107 4.7143 4.7143 4.7143 2.3846 0 4.356-1.7705 4.67-4.0687l1.296 0.0006c-0.323 3.0099-2.8706 5.3541-5.966 5.3541-3.3137 0-6-2.6865-6-6.0003 0-1.4422 0.50887-2.7656 1.3569-3.8004zm2.7127 1.0049l1.9038 2.1526 3.4552 0.0001v1.2857h-4.0334l-2.2885-2.5864 0.9629-0.852zm6.8694-0.6118c0.422 0.6104 0.734 1.3028 0.906 2.0485l-1.33-0.0003c-0.115-0.3827-0.277-0.7449-0.48-1.0798l0.904-0.9684zm-3.65-2.4539c0.8271 0.18107 1.5904 0.53276 2.2511 1.0164l-0.8855 0.9484c-0.413-0.2819-0.8732-0.4998-1.3661-0.6396l0.0005-1.3252zm-2.0048-0.096547v1.2974c-0.5497 0.0838-1.0683 0.2625-1.5384 0.5189l-0.8793-0.97629c0.7196-0.44158 1.5396-0.73562 2.4177-0.84001z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  // XXX Ovi - 12.05.20: This can be removed once the new icon set is implemented in vanilla
  .p-icon--filter {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%2306C' stroke-width='1.5' transform='translate(2 2.5)'%3E%3Cline x2='12' y1='.5' y2='.5'/%3E%3Cline x1='4' x2='8' y1='10.5' y2='10.5'/%3E%3Cline x1='2' x2='10' y1='5.5' y2='5.5'/%3E%3C/g%3E%3C/svg%3E");
  }
  // XXX Ovi - 12.05.20: This can be removed once the new icon set is implemented in vanilla
  .p-icon--sort {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='16px' width='16px' version='1.1' viewBox='0 0 16 16'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3Esort-both%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='sort-both' fill='%2306C'%3E%3Cpolygon id='Triangle' points='8 2 11.333 7 4.6667 7'/%3E%3Cpolygon id='Triangle' points='8 9 11.333 14 4.6667 14' transform='translate(8 11.5) rotate(180) translate(-8 -11.5)'/%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--delete:hover {
    @include vf-icon-delete($color-negative);
  }

  .p-icon--home {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/9bce0bc3-home.svg");
  }

  .p-icon--repository {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/42a073e3-repo.svg");
  }

  .p-icon--bug {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/2947d8db-bug.svg");
  }

  .p-icon--contact {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/8e5d3c7e-contact.svg");
  }

  .p-icon--download {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/06b639be-Download.svg");
  }

  .p-icon--revision {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/13f9805d-Revision.svg");
  }

  .p-icon--code {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/2f401159-Code.svg");
  }

  .p-icon--update {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/81ea67af-Update.svg");
  }

  .p-icon--docstrings {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/434fb519-Docstrings.svg");
  }

  .p-icon--cross-grey {
    @extend %icon;

    @include vf-icon-error($color-mid-dark);
  }
}

@mixin charmhub-p-icon-chat {
  .p-icon--chat {
    @extend %social-icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e95420%7D.cls-2%7Bfill:%23666%7D%3C/style%3E%3C/defs%3E%3Ccircle cx='12.27' cy='8.88' r='1.5' class='cls-1'/%3E%3Ccircle cx='6.73' cy='8.88' r='1.5' class='cls-1'/%3E%3Ccircle cx='17.82' cy='8.88' r='1.5' class='cls-1'/%3E%3Cpath d='M4.49 22.46a.52.52 0 01-.24-.05.62.62 0 01-.39-.57v-4.1H2.7a2.62 2.62 0 01-2.62-2.63V2.77A2.62 2.62 0 012.7.15h19.15a2.63 2.63 0 012.62 2.62v12.34a2.63 2.63 0 01-2.62 2.63H9.47l-4.54 4.54a.62.62 0 01-.44.18zM2.7 1.4a1.37 1.37 0 00-1.37 1.37v12.34a1.37 1.37 0 001.37 1.38h1.79a.62.62 0 01.62.62v3.22l3.66-3.66a.65.65 0 01.44-.18h12.64a1.37 1.37 0 001.37-1.38V2.77a1.37 1.37 0 00-1.37-1.37z' class='cls-2'/%3E%3Cpath d='M27.6 31.76a.63.63 0 01-.45-.18L22.61 27H10.24a2.63 2.63 0 01-2.63-2.63v-2.53a.63.63 0 01.63-.63.63.63 0 01.63.63v2.57a1.37 1.37 0 001.37 1.37h12.63a.67.67 0 01.45.18L27 29.62v-3.21a.63.63 0 01.63-.63h1.78a1.37 1.37 0 001.38-1.37V12.07a1.37 1.37 0 00-1.38-1.37h-3a.63.63 0 01-.63-.63.63.63 0 01.63-.63h3A2.63 2.63 0 0132 12.07v12.34A2.63 2.63 0 0129.38 27h-1.16v4.09a.61.61 0 01-.38.58.69.69 0 01-.24.09z' class='cls-2'/%3E%3C/svg%3E");
  }
}

@mixin charmhub-p-icon-careers {
  .p-icon--careers {
    @extend %social-icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23666%7D%3C/style%3E%3C/defs%3E%3Cpath d='M30 17H2a1.63 1.63 0 01-1.64-1.67V7.11A1.63 1.63 0 012 5.48h28a1.63 1.63 0 011.63 1.63v8.22A1.63 1.63 0 0130 17zM2 6.73a.39.39 0 00-.38.38v8.22a.38.38 0 00.38.37h28a.38.38 0 00.38-.37V7.11a.39.39 0 00-.38-.38z' class='cls-1'/%3E%3Cpath d='M21.94 6.73H10.06A1.09 1.09 0 019 5.64V1.32A1.09 1.09 0 0110.06.23h11.88A1.09 1.09 0 0123 1.32v4.32a1.09 1.09 0 01-1.06 1.09zM10.22 5.48h11.56v-4H10.22zM29.2 31.77H2.8a1.63 1.63 0 01-1.63-1.63V15.71h29.65v14.43a1.63 1.63 0 01-1.62 1.63zM2.42 17v13.14a.38.38 0 00.38.38h26.4a.38.38 0 00.38-.38V17z' class='cls-1'/%3E%3Cpath fill='%23fff' d='M13.53 13.35h4.95v4.18A2.48 2.48 0 0116 20a2.48 2.48 0 01-2.48-2.48v-4.16z'/%3E%3Cpath fill='%23e95420' d='M16 20.66a3.12 3.12 0 01-3.11-3.11v-4.81h6.21v4.82a3.12 3.12 0 01-3.1 3.1zM14.14 14v3.57a1.86 1.86 0 003.72 0V14z'/%3E%3C/svg%3E");
  }
}

@mixin charmhub-p-icon-forum {
  .p-icon--forum {
    @extend %social-icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e95420%7D.cls-2%7Bfill:%23666%7D%3C/style%3E%3C/defs%3E%3Ccircle cx='8.98' cy='5.27' r='.87' class='cls-1'/%3E%3Ccircle cx='5.59' cy='5.27' r='.87' class='cls-1'/%3E%3Ccircle cx='12.37' cy='5.27' r='.87' class='cls-1'/%3E%3Ccircle cx='19.14' cy='5.27' r='.87' class='cls-1'/%3E%3Ccircle cx='15.76' cy='5.27' r='.87' class='cls-1'/%3E%3Ccircle cx='22.53' cy='5.27' r='.87' class='cls-1'/%3E%3Ccircle cx='25.92' cy='5.27' r='.87' class='cls-1'/%3E%3Cpath d='M24.08 13.15a.38.38 0 01-.32-.18l-1.6-2.56H17.7L16.07 13a.41.41 0 01-.32.18.42.42 0 01-.32-.19L14 10.41H9.56L7.93 13a.37.37 0 01-.64 0L5.8 10.41H1.62A1.53 1.53 0 01.09 8.88V1.73A1.53 1.53 0 011.62.2h28.72a1.53 1.53 0 011.53 1.53v7.15a1.53 1.53 0 01-1.53 1.53H26L24.4 13a.38.38 0 01-.32.15zM17.5 9.66h4.87a.35.35 0 01.31.18l1.4 2.23 1.43-2.23a.38.38 0 01.32-.18h4.51a.78.78 0 00.78-.78V1.73a.78.78 0 00-.78-.73H1.62a.78.78 0 00-.78.78v7.1a.78.78 0 00.78.78H6a.37.37 0 01.32.19l1.29 2.2L9 9.84a.38.38 0 01.32-.18h4.84a.36.36 0 01.32.19l1.26 2.2 1.41-2.21a.38.38 0 01.35-.18zM22.91 32.24a.5.5 0 01-.5-.5v-6.3a1.69 1.69 0 00-1.69-1.69h-1.88a3.93 3.93 0 01-3.1 1.72 4 4 0 01-3.13-1.72H11a1.69 1.69 0 00-1.68 1.69v6.3a.5.5 0 01-1 0v-6.3A2.69 2.69 0 0111 22.75h1.84a.52.52 0 01.43.25 3.2 3.2 0 002.44 1.47A3.06 3.06 0 0018.14 23a.52.52 0 01.44-.25h2.14a2.7 2.7 0 012.69 2.69v6.3a.5.5 0 01-.5.5z' class='cls-2'/%3E%3Cpath d='M11.08 32.24a.5.5 0 01-.5-.5V28.5a.5.5 0 01.5-.5.5.5 0 01.5.5v3.24a.5.5 0 01-.5.5zM20.69 32.24a.5.5 0 01-.5-.5V28.5a.5.5 0 01.5-.5.5.5 0 01.5.5v3.24a.5.5 0 01-.5.5zM15.76 22.21A3.75 3.75 0 0112 18.47v-.91a3.75 3.75 0 117.49 0v.91a3.75 3.75 0 01-3.73 3.74zm0-7.4A2.75 2.75 0 0013 17.56v.91a2.75 2.75 0 005.49 0v-.91a2.75 2.75 0 00-2.73-2.75zM30.61 32.24a.5.5 0 01-.5-.5v-6.28A1.49 1.49 0 0028.62 24h-1.7a3.67 3.67 0 01-2.86 1.56.5.5 0 01-.5-.5.51.51 0 01.5-.5 2.75 2.75 0 002.16-1.32.52.52 0 01.44-.24h2a2.5 2.5 0 012.49 2.49v6.28a.5.5 0 01-.54.47z' class='cls-2'/%3E%3Cpath d='M28.59 32.24a.5.5 0 01-.5-.5v-3.48a.5.5 0 01.5-.5.5.5 0 01.5.5v3.48a.5.5 0 01-.5.5zM24.08 22.55a3.46 3.46 0 01-3.46-3.46v-.83a3.46 3.46 0 016.92 0v.83a3.46 3.46 0 01-3.46 3.46zm0-6.75a2.46 2.46 0 00-2.46 2.46v.83a2.46 2.46 0 004.92 0v-.83a2.46 2.46 0 00-2.46-2.46zM1.39 32.24a.5.5 0 01-.5-.5v-6.28A2.5 2.5 0 013.38 23h1.68a.5.5 0 01.43.24 2.88 2.88 0 002.19 1.32.5.5 0 01.5.5.5.5 0 01-.5.5A3.73 3.73 0 014.8 24H3.38a1.49 1.49 0 00-1.49 1.49v6.28a.5.5 0 01-.5.47z' class='cls-2'/%3E%3Cpath d='M3.42 32.24a.5.5 0 01-.5-.5v-3.48a.5.5 0 01.5-.5.5.5 0 01.5.5v3.48a.5.5 0 01-.5.5zM7.7 22.55a3.46 3.46 0 01-3.46-3.46v-.83a3.46 3.46 0 016.92 0v.83a3.46 3.46 0 01-3.46 3.46zm0-6.75a2.46 2.46 0 00-2.46 2.46v.83a2.46 2.46 0 104.92 0v-.83A2.46 2.46 0 007.7 15.8z' class='cls-2'/%3E%3C/svg%3E");
  }
}
