@mixin p-charmhub-inline-images {
  .p-inline-images {
    padding-block-start: 1.5rem;

    .p-inline-images__item {
      margin-inline-end: 3rem;
      margin-inline-start: 3rem;

      @media screen and(min-width: 1055px) {
        &:first-child {
          margin-inline-start: 0;
        }

        &:last-child {
          margin-inline-end: 0;
        }
      }
    }
  }
}
