@mixin p-charmhub-separator {
  .p-separator--shallow {
    margin-block-end: 1.5rem;
    margin-block-start: 1.5rem;
  }

  .p-separator--deep {
    margin-block-end: 4rem;
    margin-block-start: 4rem;
  }
}
