@mixin p-charmhub-icon {
  .p-icon--arrow-up {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M14 8L2 14.9282L2 1.0718L14 8Z' fill='%230e8420'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    transform: rotate(-90deg);
    width: 10px;
  }

  .p-icon--arrow-down {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M14 8L2 14.9282L2 1.0718L14 8Z' fill='%23c7162b'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    transform: rotate(90deg);
    width: 10px;
  }

  .p-icon--revisions {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='12px' width='12px' version='1.1' viewBox='0 0 12 12'%3E%3Ctitle%3Erevisions copy 5%3C/title%3E%3Cg id='New-Cards-+-Topics' fill-rule='evenodd' fill='none'%3E%3Cg id='Store---With-topics' fill-rule='nonzero' fill='%23666' transform='translate(-614 -992)'%3E%3Cg id='revisions-copy-5' transform='translate(614 992)'%3E%3Cpath id='Shape' d='m1.3569 2.1573l0.8731 0.9695c-0.5929 0.7883-0.9443 1.7686-0.9443 2.8309 0 2.6037 2.1107 4.7143 4.7143 4.7143 2.3846 0 4.356-1.7705 4.67-4.0687l1.296 0.0006c-0.323 3.0099-2.8706 5.3541-5.966 5.3541-3.3137 0-6-2.6865-6-6.0003 0-1.4422 0.50887-2.7656 1.3569-3.8004zm2.7127 1.0049l1.9038 2.1526 3.4552 0.0001v1.2857h-4.0334l-2.2885-2.5864 0.9629-0.852zm6.8694-0.6118c0.422 0.6104 0.734 1.3028 0.906 2.0485l-1.33-0.0003c-0.115-0.3827-0.277-0.7449-0.48-1.0798l0.904-0.9684zm-3.65-2.4539c0.8271 0.18107 1.5904 0.53276 2.2511 1.0164l-0.8855 0.9484c-0.413-0.2819-0.8732-0.4998-1.3661-0.6396l0.0005-1.3252zm-2.0048-0.096547v1.2974c-0.5497 0.0838-1.0683 0.2625-1.5384 0.5189l-0.8793-0.97629c0.7196-0.44158 1.5396-0.73562 2.4177-0.84001z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  // XXX Ovi - 12.05.20: This can be removed once the new icon set is implemented in vanilla
  .p-icon--filter {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%2306C' stroke-width='1.5' transform='translate(2 2.5)'%3E%3Cline x2='12' y1='.5' y2='.5'/%3E%3Cline x1='4' x2='8' y1='10.5' y2='10.5'/%3E%3Cline x1='2' x2='10' y1='5.5' y2='5.5'/%3E%3C/g%3E%3C/svg%3E");
  }
  // XXX Ovi - 12.05.20: This can be removed once the new icon set is implemented in vanilla
  .p-icon--sort {
    @extend %icon;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='16px' width='16px' version='1.1' viewBox='0 0 16 16'%3E%3C!-- Generator: Sketch 64 (93537) - https://sketch.com --%3E%3Ctitle%3Esort-both%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='sort-both' fill='%2306C'%3E%3Cpolygon id='Triangle' points='8 2 11.333 7 4.6667 7'/%3E%3Cpolygon id='Triangle' points='8 9 11.333 14 4.6667 14' transform='translate(8 11.5) rotate(180) translate(-8 -11.5)'/%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--delete:hover {
    @include vf-icon-delete($color-negative);
  }

  .p-icon--home {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/9bce0bc3-home.svg");
  }

  .p-icon--repository {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/42a073e3-repo.svg");
  }

  .p-icon--bug {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/2947d8db-bug.svg");
  }

  .p-icon--contact {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/8e5d3c7e-contact.svg");
  }

  .p-icon--download {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/06b639be-Download.svg");
  }

  .p-icon--revision {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/13f9805d-Revision.svg");
  }

  .p-icon--code {
    @extend %icon;

    background-image: url("https://assets.ubuntu.com/v1/2f401159-Code.svg");
  }
}
