@mixin p-charmhub-list {
  .p-list--key-value {
    margin: 0;
    padding: 0;

    .p-list__item {
      column-gap: $spv-inner--large;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .p-list__key {
        color: $color-mid-dark;
        text-align: right;
      }
    }
  }

  .p-list {
    // Overide the default vanilla $color-accent for ticked icon
    .p-list__item.is-ticked {
      @include vf-icon-success($color-dark);
    }
  }

  // Overide the default vanilla padding for p-list--divided
  .p-list--divided.has-padding {
    .p-list__item {
      padding-block-end: $spv-inner--small;
      padding-block-start: $spv-inner--small;
    }
  }

  .p-list--divided.has-sparator-centered {
    .p-list__item {
      &:not(:first-of-type) {
        margin-block-start: $spv-inner--medium;
      }
    }
  }

  .p-inline-list--stretch.p-list--reversed {
    > .p-inline-list__item:last-child {
      align-items: center;
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 1055px) {
        margin-block-end: 0.5rem;
      }
    }

    @media screen and (max-width: 1055px) {
      flex-direction: column-reverse;
    }

    label {
      padding-right: 0.5rem;
    }

    select {
      min-width: unset;
      width: 7rem;
    }
  }

  .p-inline-list.has-vertical-separator {
    .p-inline-list__item:not(:last-child) {
      position: relative;

      &::after {
        background-color: $color-mid-light;
        content: "";
        height: 100%;
        position: absolute;
        right: calc(1px - 0.5rem);
        top: 0;
        width: 1px;
      }
    }
  }

  .p-list--ordered {
    @extend %vf-list;

    list-style: decimal;
    margin-left: $spv-inner--large;

    li {
      margin-bottom: 2.65rem;
      max-width: 40rem;
    }

    &.is-h4 {
      @extend %vf-heading-4;

      @media screen and (max-width: $breakpoint-medium) {
        margin-left: 1.5rem;
      }

      li p {
        font-size: 1rem;
      }
    }
  }
}
