@mixin p-charmhub-modal {
  @media (width >= 975px) {
    #contact-modal.p-modal .p-modal__dialog {
      max-width: 875px;
      min-width: 875px;
    }
  }

  .p-modal--topology {
    .p-modal__dialog {
      @media screen and (max-width: $breakpoint-large - 1) {
        bottom: unset;
        height: fit-content;
        top: unset;
      }
    }

    .p-modal__image {
      margin-block-end: 0;
      max-height: 750px;
      padding: 4rem;

      @media screen and (max-width: $breakpoint-large - 1) {
        padding: 1rem;
      }
    }
  }

  .p-modal--integration {
    .p-modal__header::after {
      background-color: transparent;
    }

    .p-modal__dialog {
      @media screen and (min-width: $breakpoint-large) {
        padding-inline: 2rem 1rem;
      }
    }

    .p-modal_integration-wrapper {
      padding: 0 4.5rem 0 2.5rem;
    }
  }
}
