@mixin p-charmhub-image {
  .p-image--smaller-mobile {
    @media screen and (max-width: $breakpoint-medium) {
      height: 200px;
      margin-bottom: 2rem;
    }
  }

  .p-image--full-width {
    width: 100%;
  }
}
