@mixin p-charmhub-strip {
  @include jaas-p-strip-suru;
  @include charmhub-p-strip-slanted;
  @include jaas-p-strip-half-and-half;
  @include jaas-p-strip-muted-suru;
  @include charmhub-p-strip;
  @include p-suru-light;
}

@mixin p-suru-light {
  [class*="p-strip"].has-suru {
    background-color: $color-light;
    background-image:
      linear-gradient(
        to bottom left,
        rgba(205, 205, 205, 0.2) 0%,
        rgba(205, 205, 205, 0.2) 49.9%,
        rgba(247, 247, 247, 0) 50%,
        rgba(247, 247, 247, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(247, 247, 247, 0) 0%,
        rgba(247, 247, 247, 0) 49.9%,
        rgba(229, 229, 229, 0.5) 50%,
        rgba(229, 229, 229, 0.5) 100%
      );
    background-position: top right, bottom right;
    background-repeat: no-repeat;
    background-size: 75% 100%, 50% 50%;

    @media screen and (min-width: $breakpoint-small) {
      background-color: $color-light;
      background-image:
        linear-gradient(
          -48deg,
          rgba(205, 205, 205, 0.2),
          rgba(205, 205, 205, 0.2) 35%,
          rgba(247, 247, 247, 0) 35%,
          rgba(247, 247, 247, 0) 100%
        ),
        linear-gradient(
          16deg,
          rgba(247, 247, 247, 0),
          rgba(247, 247, 247, 0) 80%,
          rgba(229, 229, 229, 0.5) 80%,
          rgba(229, 229, 229, 0.5) 100%
        );
      background-position: top right, top right;
      background-size: 25% 100%, 125% 250%;
    }
  }
}

@mixin jaas-p-strip-suru {
  $suru-accent: #772953;

  %jaas-strip-suru {
    @extend %vf-strip;

    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 4rem;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    &.has-accent {
      &::after {
        background: $suru-accent;
        content: "";
        display: block;
        height: 100px;
        position: absolute;
        transform: rotate(15deg);
        width: 500px;
        z-index: 1;
      }
    }

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;

      .link--light {
        color: $color-x-light;
        text-decoration: underline;
      }
    }
  }

  .p-strip--suru-top {
    @extend %jaas-strip-suru;

    padding-top: 8rem;

    &::before {
      background:
        linear-gradient(
          to bottom right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 49%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        );
      top: 0;
    }

    &::after {
      right: -100px;
      top: -70px;
    }
  }

  .p-strip--suru-bottom {
    @extend %jaas-strip-suru;

    padding-bottom: 8rem;

    &::before {
      background:
        linear-gradient(
          to top left,
          rgba(240, 245, 247, 1) 0%,
          rgba(240, 245, 247, 1) 49%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        );
      bottom: 0;
    }

    &::after {
      bottom: -70px;
      left: -100px;
    }

    &.to-white {
      &::before {
        background:
          linear-gradient(
            to top left,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 49%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
          );
      }
    }
  }
}

@mixin charmhub-p-strip-slanted {
  [class*="p-strip"].is-slanted--left,
  [class*="p-strip"].is-slanted--right,
  [class*="p-strip"].is-slanted--right-blue {
    overflow: hidden;
    padding-bottom: 6rem;
    position: relative;

    &::before {
      bottom: 0;
      content: "";
      display: block;
      height: 4rem;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  .is-slanted--left::before {
    background:
      linear-gradient(
        to top right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
  }

  .is-slanted--right::before {
    background:
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
  }

  .is-slanted--right-blue::before {
    background:
      linear-gradient(
        to top left,
        rgba(240, 245, 247, 1) 0%,
        rgba(240, 245, 247, 1) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
  }
}

@mixin jaas-p-strip-half-and-half {
  .p-strip--half-and-half {
    @extend %vf-strip;

    background-image:
      linear-gradient(
        to bottom left,
        rgba(247, 247, 247, 0.05) 0%,
        rgba(247, 247, 247, 0.05) 49.9%,
        rgba(247, 247, 247, 0) 50%,
        rgba(247, 247, 247, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        $color-light 0%,
        $color-light 49.9%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        to right,
        $color-light 0%,
        $color-light 49.9%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(266deg, #772953, #2c001e);
    background-position: top right, top right 37.7%, top left 50%, right center;
    background-repeat: no-repeat;
    background-size: 50% 100%, 20% 100%, 100% 100%, cover;

    @media (max-width: $breakpoint-large - 1) {
      background: #f0f5f7;
    }
  }
}

@mixin jaas-p-strip-muted-suru {
  .p-strip--muted-suru {
    @extend %vf-strip;

    background-image:
      linear-gradient(
        to top left,
        rgba(63, 200, 242, 0.03) 0%,
        rgba(63, 200, 242, 0.03) 49.9%,
        rgba(63, 200, 242, 0) 50%,
        rgba(63, 200, 242, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.3) 49.9%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(266deg, #e9f3f7, #e9f3f7);
    background-position: top right, bottom left, top left;
    background-repeat: no-repeat;
    background-size: 40% 100%, 80% 60%, 100% 100%;

    @media (max-width: $breakpoint-large - 1) {
      background: rgb(255, 255, 255);
    }
  }
}

@mixin charmhub-p-strip {
  $suru-accent: #772953;

  .p-strip--overlap {
    @extend %vf-strip;

    padding-block-end: 9rem;

    & + .p-strip--overlap {
      margin-block-start: -11rem;
      padding-block-end: 4rem;
    }

    @media screen and (min-width: $breakpoint-large) {
      padding-block-end: 7rem;
    }
  }

  .p-strip--store {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-color: #772953;
    background-image:
      linear-gradient(
        to bottom left,
        rgba(228, 228, 228, 0.5) 0,
        rgba(228, 228, 228, 0.5) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.5) 0,
        rgba(228, 228, 228, 0.5) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        rgba(247, 247, 247, 1) 0%,
        rgba(247, 247, 247, 1) 49.3%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(266deg, #772953, #2c001e);
    background-position: top right, top left, right bottom -1px, left top;
    background-repeat: no-repeat;
    background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
    color: #fff;
    padding-block: 3rem 3.5rem;

    &.has-accent {
      position: relative;

      &::after {
        background: $suru-accent;
        bottom: -7rem;
        content: "";
        display: block;
        height: 100px;
        left: -2rem;
        position: absolute;
        transform: rotate(15deg);
        width: 500px;
        z-index: 1;
      }
    }
  }

  .p-strip--grey {
    @extend %vf-strip;

    background-image:
      linear-gradient(
        to bottom left,
        rgba(229, 229, 229, 0.3) 0,
        rgba(229, 229, 229, 0.3) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        rgba(229, 229, 229, 0.3) 0,
        rgba(229, 229, 229, 0.3) 49.9%,
        transparent 50%
      ),
      linear-gradient(0deg, $color-light, $color-light);
    background-position: top right, bottom right;
    background-repeat: no-repeat;
    background-size: 35% 100%, 15% 100%, 100% auto;

    &.is-dark {
      color: $color-x-light;

      .link--light {
        color: $color-x-light;
        text-decoration: underline;
      }
    }
  }

  .p-strip--charmhub {
    @extend %vf-strip;

    background-image:
      linear-gradient(
        to bottom left,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to top left,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(266deg, #772953, #2c001e);
    background-position: top right, bottom right;
    background-repeat: no-repeat;
    background-size: 50% 100%, 50% 50%, 100% auto;

    &.is-dark {
      color: $color-x-light;

      .link--light {
        color: $color-x-light;
        text-decoration: underline;
      }
    }
  }

  .p-strip-topic--kubernetes {
    @extend %vf-strip;

    background-image:
      linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.1) 0,
        rgba(255, 255, 255, 0.1) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top right,
        rgba(255, 255, 255, 0.1) 0,
        rgba(255, 255, 255, 0.1) 49.9%,
        transparent 50%
      ),
      linear-gradient(110deg, #014bd1 45%, #4279f4 91%);
    background-position: top left, bottom left, 0% 0%;
    background-repeat: no-repeat;
    background-size: 75% 85%, 15% 100%, auto;
    color: $color-x-light;

    @media screen and (max-width: $breakpoint-large - 1) {
      background-size: 75% 85%, 35% 100%, auto;
    }
  }

  .p-strip--overview {
    @extend %vf-strip;

    background-image:
      linear-gradient(
        to bottom left,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(225, 225, 225, 0.03) 0%,
        rgba(225, 225, 225, 0.03) 49.9%,
        rgba(225, 225, 225, 0) 50%,
        rgba(225, 225, 225, 0) 100%
      ),
      linear-gradient(266deg, #772953, #2c001e);
    background-position: top right, top left;
    background-repeat: no-repeat;
    background-size: 50% 100%, 80% 75%, 100% auto;

    &.is-dark {
      color: $color-x-light;

      .link--light {
        color: $color-x-light;
        text-decoration: underline;
      }
    }
  }

  .p-strip--main {
    @extend %vf-strip;

    padding-bottom: $spv--strip-regular * 2;
    padding-top: $spv--x-large;
  }
}
