@mixin p-charmhub-grid {
  .col-x-small-1 {
    @media (max-width: 450px) {
      grid-column-end: span 4;
    }
  }

  .col-x-large-3 {
    @media screen and (min-width: $breakpoint-large) {
      grid-column-end: span 3;
    }
  }

  .col-x-large-4 {
    @media screen and (min-width: $breakpoint-large) {
      grid-column-end: span 4;
    }
  }

  .col-x-large-6 {
    @media screen and (min-width: $breakpoint-large) {
      grid-column-end: span 6;
    }
  }

  .row.has-small-gap {
    grid-gap: 1rem;
    margin-bottom: 1.2rem;
  }

  .u-equal-height {
    display: flex;
  }
}
