@mixin p-charmhub-separator {
  .p-separator--shallow {
    margin-block-end: 1.5rem;
    margin-block-start: 1.5rem;
  }

  .p-separator--medium {
    margin-block-end: 3rem;
    margin-block-start: 3rem;
  }

  .p-separator--deep {
    margin-block-end: 4rem;
    margin-block-start: 4rem;
  }

  .p-separator--shallower {
    margin-block-end: 2rem;
    margin-block-start: 0.5rem;
  }
}
