@mixin p-charmhub-image {
  .p-image--smaller-mobile {
    @media screen and (max-width: $breakpoint-medium) {
      height: 200px;
      margin-bottom: 2rem;
      width: 200px;
    }
  }

  .p-image--platform {
    @media screen and (max-width: $breakpoint-medium) {
      transform: scale(0.75) translateX(-16.5%);
    }
  }

  .p-image--full-width {
    width: 100%;
  }
}
