@mixin p-charmhub-link {
  .p-link--inverted {
    color: $color-light;
    font-weight: $font-weight-bold;
    text-decoration: underline;

    &:hover {
      color: $color-light;
    }

    &:visited {
      color: darken($color-light, 10%);
    }
  }

  .has-icon [class*="p-icon"]:first-child {
    margin-right: $spv-inner--small;
  }
}
