@mixin p-charmhub-navigation {
  .p-navigation {
    flex-direction: column;
    position: sticky;
    top: 0;

    &.is-sticky {
      @media screen and (min-width: $breakpoint-medium) {
        box-shadow: 0 1px 5px 1px rgba(51, 51, 51, 0.2);

        .p-navigation__row:first-child {
          .p-navigation__nav {
            &::after {
              content: none;
            }
          }
        }

        .p-navigation__row:nth-child(2) {
          .p-navigation__items {
            background-color: $color-x-light;
            position: absolute;
            top: 0;
          }
        }
      }
    }

    .p-navigation__item {
      .p-navigation__link,
      .p-navigation__link > a {
        padding-block-end: 1rem;
        padding-block-start: 1rem;
      }

      & > .p-navigation__link:hover {
        background-color: transparent;
        color: $color-text-orange;
      }

      &.is-selected > .p-navigation__link {
        background-color: transparent;
        color: $color-text-orange;
        font-weight: 500;
      }
    }

    .p-navigation__items.is-website {
      font-weight: 500;

      .p-navigation__item {
        margin-inline-end: 1rem;
      }

      .p-navigation__link {
        color: $color-dark;
        padding-inline-end: 0;
        padding-inline-start: 0;
      }

      .p-navigation__item > .p-navigation__link:hover {
        color: $color-text-orange;
      }

      .is-selected {
        position: relative;

        &::after {
          background-color: $color-ubuntu-orange;
          bottom: 0;
          content: "";
          height: 4px;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 1;

          @media (max-width: $breakpoint-medium - 1px) {
            bottom: -1px;
          }
        }
      }
    }

    .p-search-box {
      display: none;
      margin: 0 0 0 0.5rem;
      min-width: 16.625rem;

      @media (min-width: $breakpoint-large) {
        display: flex;
      }
    }
  }

  .p-navigation__banner {
    @media (max-width: $breakpoint-medium - 1px) {
      padding-inline-start: 0;
    }

    .p-navigation__toggle--open,
    .p-navigation__toggle--close {
      margin: auto 0;
    }

    .p-navigation__logo {
      background-color: $color-ubuntu-orange;
      height: 100%;
      margin: 0;
      padding: 0.90625rem;
    }
  }

  .p-navigation__row:first-child {
    @media (max-width: $breakpoint-medium - 1px) {
      &::after {
        background-color: $color-mid-light;
        content: "";
        height: 1px;
        left: 4.5rem;
        position: absolute;
        right: 0;
        top: 55px;
      }
    }

    .p-navigation__nav {
      margin-inline-start: 1rem;

      @media (min-width: $breakpoint-medium) {
        margin-inline-start: 1.5rem;
        position: relative;

        &::after {
          background-color: $color-mid-x-light;
          bottom: 0;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          right: 0;
        }
      }

      @media (max-width: $breakpoint-medium - 1px) {
        display: flex;
        left: 4.5rem;
        margin-inline-start: 0;
        position: absolute;
        top: 0;

        .p-navigation__items.is-website {
          display: flex;
        }
      }
    }
  }

  .p-navigation .p-navigation__item.is-selected > .p-navigation__link::before {
    display: none;
  }

  .p-navigation__row:nth-child(2) .p-navigation__nav {
    @media (max-width: $breakpoint-medium - 1px) {
      &::after {
        background-color: $color-mid-x-light;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }

    .p-navigation__item:first-child .p-navigation__link::before {
      content: none;
    }

    @media (min-width: $breakpoint-medium) {
      justify-content: flex-end;
    }
  }

  .p-navigation .p-navigation__item.is-logo {
    @media (max-width: $breakpoint-medium - 1px) {
      display: none;
    }
  }

  .p-navigation__image {
    max-height: none;
    max-width: none;
  }
}
