@mixin p-charmhub-button {
  .p-button--outline {
    @extend %vf-button-base;

    border-color: $color-x-light;
    color: $color-x-light;

    &:visited {
      color: $color-x-light;
    }

    &:hover,
    &:active:hover {
      background-color: rgba($color-mid-x-light, 0.2);
    }
  }

  .pagination__link--previous {
    @media screen and (min-width: $breakpoint-medium) {
      margin-block-end: 0;
    }
  }

  .pagination__link--next {
    margin-block-end: 0;
  }
}
