@mixin p-charmhub-list {
  .p-list--key-value {
    margin: 0;
    padding: 0;

    .p-list__item {
      column-gap: $spv--large;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-block: $spv--small $spv--small;
      position: relative;

      &:not(:last-child)::after {
        border-bottom: 1px solid $color-mid-light;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }

      &:first-child {
        padding-block-start: 0;
      }

      &:last-child {
        margin-block-end: $spv--large;
      }

      .p-list__key {
        color: $color-mid-dark;
      }
    }
  }

  .p-list {
    // Overide the default vanilla $color-accent for ticked icon
    .p-list__item.is-ticked {
      @include vf-icon-success($color-dark);
    }
  }

  // Overide the default vanilla padding for p-list--divided
  .p-list--divided.has-padding {
    .p-list__item {
      padding-block: $spv--small $spv--small;
    }
  }

  .p-list--divided.has-separator-centered {
    .p-list__item {
      &:not(:first-of-type) {
        margin-block-start: $spv--medium;
      }
    }
  }

  .p-inline-list--stretch.p-list--reversed {
    > .p-inline-list__item:last-child {
      align-items: center;
      display: flex;
      justify-content: flex-end;

      @media screen and (width <= 1055px) {
        justify-content: flex-start;
        margin-block-end: 0.5rem;

        .p-form {
          display: inline-flex;
          margin-block-start: 0.5rem;
        }
      }
    }

    @media screen and (width <= 1055px) {
      flex-direction: column-reverse;
    }

    label {
      padding-right: 0.5rem;
    }

    select {
      min-width: unset;
      width: 7rem;
    }
  }

  .p-inline-list.has-vertical-separator {
    @media screen and (min-width: $breakpoint-small) and (width <= 1055px) {
      margin-inline-start: -$spv--large;
    }

    @media screen and (max-width: $breakpoint-large - 1) {
      margin-block-end: $spv--x-small;
    }

    .p-inline-list__item:not(:last-child) {
      position: relative;

      &::after {
        background-color: $color-mid-light;
        content: "";
        height: 100%;
        position: absolute;
        right: calc(1px - 0.5rem);
        top: 0;
        width: 1px;
      }
    }
  }

  .p-list--ordered {
    @extend %vf-list;

    list-style: decimal;
    margin-left: $spv--large;

    li {
      margin-bottom: 2.65rem;
      max-width: 40rem;
    }

    &.is-h4 {
      @extend %vf-heading-4;

      @media screen and (max-width: $breakpoint-large - 1) {
        margin-left: 1.5rem;
      }

      li p {
        font-size: 1rem;
      }
    }
  }

  .p-inline-list--stretch.is-navigation {
    .p-inline-list__item:first-child {
      width: 70%;

      @media screen and (min-width: $breakpoint-small) and (width <= 985px) {
        width: 60%;
      }
    }

    .p-tabs::after {
      display: none;
    }
  }

  .p-inline-list--stretch {
    .show-on-hover {
      display: none;
    }

    &:hover {
      .show-on-hover {
        display: block;
      }
    }
  }
}
