@mixin p-charmhub-card {
  .p-card--bundle {
    @extend %vf-card;

    padding: 1rem 0 0 0;

    .p-card__title {
      padding-bottom: $spv-inner--small;

      .p-card__title-text {
        display: inline;
      }
    }

    .p-card__subtitle {
      .series-tags {
        margin-top: $spv-inner--large;
      }
    }

    .p-card__content {
      padding-bottom: $spv-inner--large;
      padding-top: $spv-inner--large;
    }
  }

  .p-card--placeholder {
    @keyframes shine {
      0% {
        background-position: right;
      }

      100% {
        background-position: left;
      }
    }

    animation: shine 3s infinite ease-in-out;
    background-image:
      linear-gradient(
        to bottom right,
        $color-mid-x-light calc(50% - 2rem),
        $color-light 50%,
        $color-mid-x-light calc(50% + 2rem)
      );
    background-size: 300% 300%;
    clip-path: url(#animation-mask);
  }

  a.p-card--button {
    @extend %vf-has-box-shadow;
    @extend %vf-has-round-corners;

    background-color: $color-x-light;
    color: $color-dark;
    display: grid;
    grid-template-rows: 9.5rem 3.9rem;

    // Force obey parent's border-radius
    height: 16rem;
    margin-bottom: $spv-outer--scaleable;
    width: 100%;

    &:hover {
      text-decoration: none;

      .p-card__title {
        text-decoration: underline;
      }
    }

    .p-card__header {
      border: none;
      padding: $spv-inner--large;

      .p-card__title {
        max-height: 4rem;
        overflow: hidden;
      }
    }

    .p-card__thumbnail {
      border-radius: 50%;
      height: 2.5rem;
      max-height: none;
      width: 2.5rem;
    }

    .p-card__thumbnail-container {
      border-radius: 50%;
      height: 2.5rem;
      margin-block-end: 0.375rem;
      overflow: hidden;
      width: 2.5rem;

      .p-card__thumbnail {
        transform: scale(1.1);
      }
    }

    .p-card__content {
      max-height: 4.25rem;
      overflow: hidden;
      padding: 0 $spv-inner--large $spv-inner--large $spv-inner--large;
    }

    .p-card__footer {
      align-items: center;
      background-color: $color-light;
      color: $color-mid-dark;
      display: flex;
      font-size: 0.875rem;
      justify-content: space-between;
      min-width: 10rem;
      padding: $spv-inner--x-small $spv-inner--large;

      .p-item--left {
        flex: 1;
        overflow: hidden;
        padding-inline-end: $spv-inner--x-small;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .p-item--right {
        white-space: nowrap;

        .p-icon--revisions {
          height: $spv-inner--medium;
          margin-inline-end: $spv-inner--small;
          vertical-align: -1px;
          width: $spv-inner--medium;
        }
      }
    }

    .charm-card-button .p-tooltip__message--list {
      display: none !important;
    }

    .charm-card-button:hover .p-tooltip__message--list {
      display: inline !important;
    }

    &.is-topic-card {
      grid-template-rows: 9rem auto;

      .p-card__header {
        background-position: top right, bottom right;
        background-repeat: no-repeat;
        background-size: 75% 50%, 25% 100%, auto;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 0.75rem), 0% 100%);
        color: $color-light;
        margin-block-end: 1.25rem;
        padding-block-end: 0;

        .p-card__title {
          max-height: unset;
        }
      }
    }
  }

  .p-card.has-footer {
    padding-bottom: 3rem;
    position: relative;
    width: 100%;

    .p-card__footer {
      bottom: 1rem;
      position: absolute;
    }
  }
}
