@mixin charmhub-utils {
  .is-color--positive {
    color: $color-positive !important;
  }

  .is-color--negative {
    color: $color-negative !important;
  }

  .u-hide--small-1 {
    @media screen and(max-width: $breakpoint-medium - 1) {
      display: none !important;
    }
  }

  .u-flex {
    display: flex;
  }

  .col-3.has-space--right {
    @media screen and (min-width: $breakpoint-large) {
      margin-inline-end: 4rem;
    }
  }

  .is-wide {
    max-width: $grid-max-width !important;
  }

  .u-position--sticky {
    background-color: $color-x-light;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .u-extra-space {
    margin-block-end: 3rem !important;
  }

  .is-always-color-link {
    &:visited {
      color: $color-link;
    }
  }
}
