@mixin charmhub-utils {
  .is-color--positive {
    color: $color-positive !important;
  }

  .is-color--negative {
    color: $color-negative !important;
  }

  .u-hide--small-1 {
    @media screen and(max-width: $breakpoint-medium - 1) {
      display: none !important;
    }
  }

  .u-flex {
    display: flex;
  }

  .is-input--narrow {
    @media screen and (min-width: $breakpoint-medium) {
      max-width: 18.25rem;
    }
  }

  .u-position-sticky--bottom {
    background-color: $color-x-light;
    position: inherit;
    z-index: 10;

    &.is-sticky {
      @media screen and (min-width: $breakpoint-x-small) {
        bottom: 0;
        box-shadow: 0 0 16px 1px rgba(51, 51, 51, 0.2);
        position: fixed;
        width: 100%;
      }

      hr {
        display: none;
      }
    }
  }

  .u-extra-space {
    margin-block-end: 3rem !important;
  }

  .is-always-color-link {
    &:visited {
      color: $color-link;
    }
  }
}
