@charset 'UTF-8';

$brand-color: #044F66;

// navigation settings
$theme-default-nav: dark;

// import settings

// import custom mixins

// import cookie policy
// @import 'cookie-policy/build/css/cookie-policy';

// Import Vanilla framework
@import "vanilla-framework/scss/vanilla";

// Base Vanilla styles
@include vf-base;

// Vanilla components
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-forms;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-headings;
@include vf-p-icons;
@include vf-p-links;
@include vf-p-lists;
@include vf-p-media-object;
@include vf-p-muted-heading;
@include vf-p-navigation;
@include vf-p-strip;
@include vf-p-tabs;

// Vanilla utilities
@include vf-u-align;
@include vf-u-equal-height;
@include vf-u-floats;
@include vf-u-layout;
@include vf-u-off-screen;
@include vf-u-hide;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-vertically-center;

// Import site specific patterns and overrides
@import "pattern_p-card";
@include p-charmhub-card;
@import "pattern_p-link";
@include p-charmhub-link;
@import "pattern_p-strip";
@include p-charmhub-strip;
@import "charmhub_footer";
@include charmhub-p-footer;
@import "charmhub_p-group";
@include charmhub-p-group;
@import "charmhub_p-header";
@include charmhub-p-header;
@import "charmhub_p-series-tag";
@include charmhub-p-series-tag;
// XXX Ovi - 12.03.20: This can be removed once side navigation is implemented in vanilla.
@import "patterns_side-navigation";
@include charmhub-p-side-navigation;

// XXX Ant - 11.03.20: This can be removed once this issue is closed.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2922
.u-text--subtle {
  color: $color-mid-dark;
  font-size: 0.875rem;
}

// XXX Ant - 11.03.20: This can be removed once this issue is closed.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2923
.u-flex {
  display: flex;

  &__split {
    flex: 1;
  }
}

 .u-position--sticky {
   background-color: $color-x-light;
   position: sticky;
   top: 0;
   z-index: 1;
  }



