@charset 'UTF-8';

$brand-color: #772953;
$color-text-orange: #d54110;
$breakpoint-navigation-threshold: 1110px;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Import Vanilla framework
@import "vanilla-framework";

// Base Vanilla styles
@include vf-base;

// Vanilla components
@include vf-p-accordion;
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-chip;
@include vf-p-code-snippet;
@include vf-p-forms;
@include vf-p-form-help-text;
@include vf-p-form-tick-elements;
@include vf-p-form-validation;
@include vf-p-grid;
@include vf-p-headings;
@include vf-p-heading-icon;
@include vf-p-icons;
@include vf-p-icon-fullscreen;
@include vf-p-image;
@include vf-p-status-label;
@include vf-p-links;
@include vf-p-lists;
@include vf-p-media-object;
@include vf-p-modal;
@include vf-p-muted-heading;
@include vf-p-notification;
@include vf-p-navigation;
@include vf-p-pagination;
@include vf-p-search-and-filter;
@include vf-p-search-box;
@include vf-p-strip;
@include vf-p-side-navigation;
@include vf-p-side-navigation-expandable;
@include vf-p-table-of-contents;
@include vf-p-table-mobile-card;
@include vf-p-tabs;
@include vf-p-tooltips;
@include vf-p-contextual-menu;
@include vf-l-fluid-breakout;
@include vf-p-icon-change-version;
@include vf-p-icon-submit-bug;

// Vanilla utilities
@include vf-u-align;
@include vf-u-animations;
@include vf-u-clearfix;
@include vf-u-floats;
@include vf-u-layout;
@include vf-u-off-screen;
@include vf-u-hide;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-vertically-center;
@include vf-u-vertical-spacing;
@include vf-u-text-muted;
@include vf-u-no-max-width;
@include vf-u-truncate;
@import "pattern_p-card";
@include p-charmhub-card;
@import "pattern_grid";
@include p-charmhub-grid;
@import "pattern_p-navigation";
@include p-charmhub-navigation;
@import "pattern_p-media-object";
@include p-charmhub-media-object;
@import "pattern_p-image";
@include p-charmhub-image;
@import "pattern_p-table";
@include p-charmhub-table;
@import "pattern_p-icon";
@include p-charmhub-icon;
@include p-charmhub-social-icons;
@import "pattern_p-strip";
@include p-charmhub-strip;
@import "pattern_p-list";
@include p-charmhub-list;
@import "pattern_p-accordion";
@include p-charmhub-accordion;
@import "pattern_heading-icon";
@include p-charmhub-heading-icon;
@import "pattern_p-table-of-contents";
@include p-charmhub-table-of-contents;
@import "charmhub_p-bundle-icons";
@include charmhub-p-bundle-icons;
@import "charmhub_footer";
@include charmhub-p-footer;
@import "charmhub_p-header";
@include charmhub-p-header;
@import "charmhub_p-series-tag";
@include charmhub-p-series-tag;
@import "charmhub_p-filter";
@include p-charmhub-filter;
@import "charmhub_p-sort";
@include p-charmhub-sort;
@import "charmhub_p-tutorial";
@include charmhub-p-tutorial;
@import "charmhub_utils";
@include charmhub-utils;
@import "charmhub_publisher";
@include charmhub-publisher;
@import "charmhub_metrics";
@include charmhub-metrics;
@import "charmhub_p-contextual-menu";
@include p-charmhub-contextual-menu;
@import "pattern_form-multiselect";
@include p-charmhub-multiselect;
@import "pattern_p-form";
@include p-charmhub-form;
@import "pattern_p-tooltip";
@include p-charmhub-tooltip;
@import "pattern_p-separator";
@include p-charmhub-separator;
@import "pattern_p-button";
@include p-charmhub-button;
@import "pattern_p-button-group";
@include p-charmhub-button-group;
@import "pattern_p-modal";
@include p-charmhub-modal;
@import "pattern-p-integration-charts";
@include pattern_p-integration-charts;
@import "swiper-overrides";
@include swiper-overrides;
@import "pattern_p-docstring";
@include p-charmhub-docstring;
@import "charmhub_p-topology";
@include p-charmhub-topology;
@import "pattern_l-fluid-breakout";
@include l-charmhub-fluid-breakout;
@import "charmhub_p-detail-inline-list";
@include p-detail-inline-list;
@include vf-l-application;
@include vf-p-icon-status-waiting;
@import "pattern_p-filter-panel";
@include p-charmhub-filter-panel;

// Remove table row borders
.p-table--no-borders tr {
  border-top: 0 !important;

  .p-list:last-of-type {
    margin-bottom: 0;
  }
}

.p-channel-map__button {
  @media screen and (min-width: $breakpoint-small) {
    margin-bottom: 0 !important;
  }
}

.p-channel-map {
  margin-inline-end: 1rem;
  position: absolute;
  width: calc(100vw - 6rem);
  z-index: 11;

  @media screen and (max-width: $breakpoint-large - 1) {
    top: 2.4rem;
  }

  @media screen and (max-width: $breakpoint-small - 1) {
    width: calc(100vw - 2rem);
  }

  .p-channel-map__mask {
    left: 0;
    position: fixed;
    top: 0;
  }

  .p-channel-map__content {
    max-width: $breakpoint-large;
    position: relative;
    z-index: 1;

    table tr {
      cursor: pointer;
    }

    table tr.is-active td {
      font-weight: 400;
    }

    tbody tr {
      &:hover {
        background-color: $color-light;
      }
    }
  }
}

.p-heading-icon__group {
  margin-bottom: 1rem;
}

// XXX Ovi - 04.04.20: This can be removed once this issue is closed.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/1452
body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto auto 1fr auto;
  min-height: 100vh;
}

// Ovi 13.07.2020 - This can be removed once a new version of global-nav is released
// as the issue was fixed
// https://github.com/canonical-web-and-design/global-nav/commit/03173d82a1f1d4b77f8e20e41ef552b90dbab798

@media (width <= 875px) {
  body {
    padding-bottom: 0 !important;
  }
}

// Ovi 16.07.2020 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3172
.has-no-arrow-mobile.p-tabs::after {
  content: "";
}

.package-card-icons {
  > * {
    display: inline-block;
    margin-right: 0.5rem;
    position: relative;
    top: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.p-details-tab__content {
  .p-side-navigation {
    @media (min-width: $breakpoint-small) {
      top: 56px;
    }
  }

  .p-side-navigation__link.u-truncate {
    display: block;
  }

  &.bundle-config {
    .p-side-navigation__link {
      padding-left: 1rem;

      .p-side-navigation__icon {
        margin-right: 16px;
      }
    }

    // Second level navigation
    .p-side-navigation__item > .p-side-navigation__list {
      .p-side-navigation__link {
        padding-left: 3.5rem;
      }
    }
  }

  .p-details-tab__content__body * {
    text-align: left;
  }

  .p-details-tab__content__body {
    h1[id],
    h2[id],
    h3[id],
    h4[id],
    h5[id],
    h6[id] {
      margin-top: -65px;

      &::before {
        content: " ";
        display: block;
        height: 65px;
        pointer-events: none;
        visibility: hidden;
      }
    }

    .p-bundle-icons {
      grid-gap: 0.75rem;

      .p-bundle-icon {
        border: 0 none;
      }
    }
  }
}

// Override h3 font weight based on design feedback from MS
.p-heading--3,
h3 {
  font-weight: 200;
}

.vertical-separator {
  border-right: 1px solid $color-mid-light;
  display: inline-block;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.charm-empty-docs-icon {
  border-right: 1px solid #cdcdcd;
  padding-left: $sp-x-large;
  padding-right: $sp-x-large;

  @media screen and (max-width: $breakpoint-large - 1) {
    display: none;
  }
}

.charm-empty-docs-content {
  @media screen and (min-width: $breakpoint-small) {
    padding-left: $sp-x-large;
  }
}

.instruction-tooltip:hover .p-tooltip__modal {
  display: flex;
}

.instruction-tooltip:hover::after {
  content: "";
  display: block;
  height: 40px;
  left: 100%;
  position: absolute;
  top: -50%;
  width: 40px;

  @media screen and (max-width: $breakpoint-large - 1) {
    content: none;
  }
}

// XXX Ovi 28.04.2021 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3723
.l-fluid-breakout__item {
  @media (min-width: $breakpoint-small) {
    max-width: 30rem;
  }
}

.charm-framework-type {
  border-top: 1px solid $color-mid-x-light;
  margin-top: 1rem;
  padding: 0.25rem 1rem 0.3rem;

  @media (min-width: $breakpoint-large) {
    padding-top: 0.1rem;
  }

  i {
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}

.detail-resource-footer {
  margin-bottom: 2rem;

  small {
    display: inline-block;
    margin-bottom: 0.5rem;

    @media (min-width: $breakpoint-small) {
      margin-right: 1rem;
    }
  }
}

.has-top-color {
  border-top: 3px solid $color-accent;
}

.l-fluid-breakout__aside .p-side-navigation__form {
  margin-bottom: 1rem;

  @media (max-width: $breakpoint-large - 1) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .p-form__label {
    min-width: 5rem;
  }
}

.l-fluid-section {
  grid-column: 1/-1;
  margin-bottom: 1rem;
  padding: 0;

  .l-fluid-breakout__main {
    grid-column: 1/-1;
    padding: 0;
  }

  .l-fluid-breakout__toolbar-items {
    grid-column: 1/-1;
  }
}

#topics {
  @media (max-width: $breakpoint-large - 1) {
    grid-row: 2;
  }

  .u-equal-height {
    @media (min-width: $breakpoint-small) {
      gap: 1.3rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $breakpoint-large - 1) {
      .p-muted-heading {
        margin-bottom: 0;
        padding-top: 0;
      }
    }

    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.p-topics-contribute__button {
  @media (min-width: $breakpoint-large) {
    margin-left: $sp-large;
  }
}

.l-aside {
  background-color: $color-x-light;
  height: calc(100vh - 112px);
  max-width: 535px;
  padding: 1rem;
  position: fixed;
  z-index: 999;

  .l-application & {
    z-index: 1000;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.panel__header {
  display: flex;
  justify-content: space-between;
}

.panel__content {
  flex: 1 1 0;
}

.panel__footer {
  border-top: 1px solid $color-mid-x-light;
  padding-top: $sph--large;
}

.l-aside__overlay {
  background-color: transparent;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

@media only screen and (max-width: $breakpoint-large) {
  .interface-sidebar {
    order: 2;
  }

  .interface-content {
    order: 1;
  }
}

.u-split--3 {
  columns: 3;
}

// Vanilla top aligns table cells which causes misalignment when a button is
// present. This table is targeted to avoid potential issues with other
// existing tables.
// stylelint-disable
.registered-charms-table td {
  vertical-align: middle;
}
// stylelint-enable

// Large icon for modal headers
.modal-header-icon {
  height: 1rem !important;
  width: 1rem !important;
}

// XXX - Related to https://github.com/canonical/vanilla-framework/issues/4887
.p-search-box .p-search-box__button .p-icon--search {
  background-image: url("data:image/svg+xml,%3Csvg width=%2716%27 height=%2716%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M6.964 1a5.964 5.964 0 014.709 9.623l4.303 4.305-1.06 1.06-4.306-4.305A5.964 5.964 0 116.963 1zm0 1.5a4.464 4.464 0 100 8.927 4.464 4.464 0 000-8.927z%27 fill=%27%23666%27 fill-rule=%27nonzero%27/%3E%3C/svg%3E") !important;
}

.p-search-box .p-search-box__reset .p-icon--close {
  background-image: url("data:image/svg+xml,%3Csvg width=%2716%27 height=%2716%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath fill=%27%23666%27 fill-rule=%27nonzero%27 d=%27M13.041 1.898l1.06 1.06L9.062 8l5.04 5.042-1.06 1.06L8 9.062 2.96 14.1l-1.06-1.06L6.938 8 1.9 2.96l1.06-1.06 5.04 5.04z%27/%3E%3C/svg%3E") !important;
}

.p-search-box .p-search-box__input:placeholder-shown ~ .p-search-box__reset {
  display: none !important;
}

.collaboration-ui .l-aside {
  height: 100vh;
  top: 0;
}

.collaboration-ui.l-application {
  width: 100%;
}
