@charset 'UTF-8';

$brand-color: #044f66;

// navigation settings
$theme-default-nav: dark;

// import settings

// import custom mixins

// Import Vanilla framework
@import "vanilla-framework/scss/vanilla";

// Base Vanilla styles
@include vf-base;

// Vanilla components
@include vf-p-accordion;
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-forms;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-headings;
@include vf-p-heading-icon;
@include vf-p-icons;
@include vf-p-image;
@include vf-p-label;
@include vf-p-links;
@include vf-p-lists;
@include vf-p-media-object;
@include vf-p-muted-heading;
@include vf-p-navigation;
@include vf-p-search-box;
@include vf-p-strip;
@include vf-p-side-navigation;
@include vf-p-table-of-contents;
@include vf-p-table-mobile-card;
@include vf-p-tabs;
@include vf-p-tooltips;

// Vanilla utilities
@include vf-u-align;
@include vf-u-animations;
@include vf-u-clearfix;
@include vf-u-equal-height;
@include vf-u-floats;
@include vf-u-layout;
@include vf-u-off-screen;
@include vf-u-hide;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-vertically-center;

// Import site specific patterns and overrides
@import "pattern_p-card";

@include p-charmhub-card;

@import "pattern_p-link";

@include p-charmhub-link;

@import "pattern_p-media-object";

@include p-charmhub-media-object;

@import "pattern_p-image";

@include p-charmhub-image;

@import "pattern_p-strip";

@include p-charmhub-strip;

@import "pattern_p-accordion";

@include p-charmhub-accordion;

@import "pattern_p-table-of-contents";

@include p-charmhub-table-of-contents;

@import "charmhub_p-bundle-icons";

@include charmhub-p-bundle-icons;

@import "charmhub_p-separator";

@include p-charmhub-separator;

@import "charmhub_footer";

@include charmhub-p-footer;

@import "charmhub_p-header";

@include charmhub-p-header;

@import "charmhub_p-series-tag";

@include charmhub-p-series-tag;

@import "charmhub_p-filter";

@include p-charmhub-filter;

@import "charmhub_p-sort";

@include p-charmhub-sort;

.p-channel-map {
  position: absolute;
  z-index: 11;

  .p-channel-map__mask {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .p-channel-map__content {
    max-width: $breakpoint-large;
    position: relative;
    z-index: 1;

    table tr {
      cursor: pointer;
    }

    table tr.is-active td {
      font-weight: bold;
    }
  }
}

// XXX Ant - 11.03.20: This can be removed once this issue is closed.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2922
.u-text--subtle {
  color: $color-mid-dark;
  font-size: 0.875rem;
}

.u-position--sticky {
  background-color: $color-x-light;
  position: sticky;
  top: 0;
  z-index: 10;
}

.p-heading-icon__group {
  margin-bottom: 1rem;
}

// XXX Ovi - 12.05.20: This can be removed once the new icon set is implemented in vanilla
.p-icon--filter {
  @extend %icon;

  background-image: url("https://assets.ubuntu.com/v1/d8f7cd4d-filter.svg");
}
// XXX Ovi - 12.05.20: This can be removed once the new icon set is implemented in vanilla
.p-icon--sort {
  @extend %icon;

  background-image: url("https://assets.ubuntu.com/v1/e75ab0cb-sort.svg");
}

// XXX Ovi - 04.04.20: This can be removed once this issue is closed.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/1452
html,
body {
  height: 100%;
}

.u-hide--small-1 {
  @media screen and(max-width: $breakpoint-medium - 1) {
    display: none !important;
  }
}
