@charset 'UTF-8';

$brand-color: #044f66;
$color-ubuntu-orange: #e95420;
$color-accent: #f0f5f7;

$grid-max-width: 90rem;

// navigation settings
$theme-default-nav: dark;

// Import Vanilla framework
@import "vanilla-framework/scss/vanilla";

// Base Vanilla styles
@include vf-base;

// Vanilla components
@include vf-p-accordion;
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-forms;
@include vf-p-form-help-text;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-headings;
@include vf-p-heading-icon;
@include vf-p-icons;
@include vf-p-inline-images;
@include vf-p-image;
@include vf-p-label;
@include vf-p-links;
@include vf-p-lists;
@include vf-p-media-object;
@include vf-p-muted-heading;
@include vf-p-notification;
@include vf-p-navigation;
@include vf-p-pagination;
@include vf-p-subnav;
@include vf-p-search-box;
@include vf-p-strip;
@include vf-p-side-navigation;
@include vf-p-table-of-contents;
@include vf-p-table-mobile-card;
@include vf-p-tabs;
@include vf-p-tooltips;

// Vanilla utilities
@include vf-u-align;
@include vf-u-animations;
@include vf-u-clearfix;
@include vf-u-floats;
@include vf-u-layout;
@include vf-u-off-screen;
@include vf-u-hide;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-vertically-center;
@include vf-u-vertical-spacing;
@include vf-u-text-muted;

// Import site specific patterns and overrides
@import "pattern_p-card";

@include p-charmhub-card;

@import "pattern_p-link";

@include p-charmhub-link;

@import "pattern_grid";

@include p-charmhub-grid;

@import "pattern_p-navigation";

@include p-charmhub-navigation;

@import "pattern_p-media-object";

@include p-charmhub-media-object;

@import "pattern_p-image";

@include p-charmhub-image;

@import "pattern_p-table";

@include p-charmhub-table;

@import "pattern_p-icon";

@include p-charmhub-icon;

@import "pattern_p-strip";

@include p-charmhub-strip;

@import "pattern_p-list";

@include p-charmhub-list;

@import "pattern_p-accordion";

@include p-charmhub-accordion;

@import "charmhub_p-layout-store";

@include p-charmhub-layout-store;

@import "pattern_heading-icon";

@include p-charmhub-heading-icon;

@import "pattern_p-inline-images";

@include p-charmhub-inline-images;

@import "pattern_p-table-of-contents";

@include p-charmhub-table-of-contents;

@import "charmhub_p-bundle-icons";

@include charmhub-p-bundle-icons;

@import "charmhub_footer";

@include charmhub-p-footer;

@import "charmhub_p-header";

@include charmhub-p-header;

@import "charmhub_p-series-tag";

@include charmhub-p-series-tag;

@import "charmhub_p-filter";

@include p-charmhub-filter;

@import "charmhub_p-sort";

@include p-charmhub-sort;

@import "charmhub_p-tutorial";

@include charmhub-p-tutorial;

@import "charmhub_utils";

@include charmhub-utils;

@import "charmhub_publisher";

@include charmhub-publisher;

@import "charmhub_metrics";

@include charmhub-metrics;

@import "pattern_form-multiselect";

@include p-charmhub-multiselect;

@import "pattern_p-form";

@include p-charmhub-form;

@import "pattern_p-tooltip";

@include p-charmhub-tooltip;

@import "pattern_p-separator";

@include p-charmhub-separator;

@import "pattern_p-search-box";

@include p-charmhub-search-box;

@import "pattern_p-button";

@include p-charmhub-button;

.p-channel-map {
  position: absolute;
  z-index: 11;

  .p-channel-map__mask {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .p-channel-map__content {
    max-width: $breakpoint-large;
    position: relative;
    z-index: 1;

    table tr {
      cursor: pointer;
    }

    table tr.is-active td {
      font-weight: 400;
    }
  }
}

.p-heading-icon__group {
  margin-bottom: 1rem;
}

// XXX Ovi - 04.04.20: This can be removed once this issue is closed.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/1452
body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto auto 1fr auto;
  min-height: 100vh;
}

// Ovi 13.07.2020 - This can be removed once a new version of global-nav is released
// as the issue was fixed https://github.com/canonical-web-and-design/global-nav/commit/03173d82a1f1d4b77f8e20e41ef552b90dbab798

@media (max-width: 875px) {
  body {
    padding-bottom: 0 !important;
  }
}

// Ovi 16.07.2020 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3172
.has-no-arrow-mobile.p-tabs::after {
  content: "";
}

.global-nav .has-dropdown .global-nav__header-link-anchor {
  display: none;
}

// Fix pre width on details pages for Desktop
.p-tabs__content {
  pre {
    max-width: 40rem;
  }
}
