@charset 'UTF-8';

$brand-color: #772953;
$color-ubuntu-orange: #e95420;
$color-accent: #00365c;
$color-accent-background: #00365c;
$color-text-orange: #d54110;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Import Vanilla framework
@import "vanilla-framework/scss/vanilla";

// Base Vanilla styles
@include vf-base;

// Vanilla components
@include vf-p-accordion;
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-code-snippet;
@include vf-p-forms;
@include vf-p-form-help-text;
@include vf-p-form-tick-elements;
@include vf-p-form-validation;
@include vf-p-grid;
@include vf-p-grid-modifications;
@include vf-p-headings;
@include vf-p-heading-icon;
@include vf-p-icons;
@include vf-p-icon-fullscreen;
@include vf-p-inline-images;
@include vf-p-image;
@include vf-p-label;
@include vf-p-links;
@include vf-p-lists;
@include vf-p-media-object;
@include vf-p-modal;
@include vf-p-muted-heading;
@include vf-p-notification;
@include vf-p-navigation;
@include vf-p-pagination;
@include vf-p-subnav;
@include vf-p-search-box;
@include vf-p-strip;
@include vf-p-side-navigation;
@include vf-p-table-of-contents;
@include vf-p-table-mobile-card;
@include vf-p-tabs;
@include vf-p-tooltips;
@include vf-p-contextual-menu;
@include vf-l-fluid-breakout;
@include vf-p-icon-change-version;

// Vanilla utilities
@include vf-u-align;
@include vf-u-animations;
@include vf-u-clearfix;
@include vf-u-floats;
@include vf-u-layout;
@include vf-u-off-screen;
@include vf-u-hide;
@include vf-u-margin-collapse;
@include vf-u-padding-collapse;
@include vf-u-vertically-center;
@include vf-u-vertical-spacing;
@include vf-u-text-muted;
@include vf-u-no-max-width;
@include vf-u-truncate;

@import "pattern_p-card";

@include p-charmhub-card;

@import "pattern_grid";

@include p-charmhub-grid;

@import "pattern_p-navigation";

@include p-charmhub-navigation;

@import "pattern_p-media-object";

@include p-charmhub-media-object;

@import "pattern_p-image";

@include p-charmhub-image;

@import "pattern_p-table";

@include p-charmhub-table;

@import "pattern_p-icon";

@include p-charmhub-icon;
@include p-charmhub-social-icons;

@import "pattern_p-strip";

@include p-charmhub-strip;

@import "pattern_p-list";

@include p-charmhub-list;

@import "pattern_p-accordion";

@include p-charmhub-accordion;

@import "pattern_heading-icon";

@include p-charmhub-heading-icon;

@import "pattern_p-inline-images";

@include p-charmhub-inline-images;

@import "pattern_p-table-of-contents";

@include p-charmhub-table-of-contents;

@import "charmhub_p-bundle-icons";

@include charmhub-p-bundle-icons;

@import "charmhub_footer";

@include charmhub-p-footer;

@import "charmhub_p-header";

@include charmhub-p-header;

@import "charmhub_p-series-tag";

@include charmhub-p-series-tag;

@import "charmhub_p-filter";

@include p-charmhub-filter;

@import "charmhub_p-sort";

@include p-charmhub-sort;

@import "charmhub_p-tutorial";

@include charmhub-p-tutorial;

@import "charmhub_utils";

@include charmhub-utils;

@import "charmhub_publisher";

@include charmhub-publisher;

@import "charmhub_metrics";

@include charmhub-metrics;

@import "charmhub_p-contextual-menu";

@include p-charmhub-contextual-menu;

@import "pattern_form-multiselect";

@include p-charmhub-multiselect;

@import "pattern_p-form";

@include p-charmhub-form;

@import "pattern_p-tooltip";

@include p-charmhub-tooltip;

@import "pattern_p-separator";

@include p-charmhub-separator;

@import "pattern_p-button";

@include p-charmhub-button;

@import "pattern_p-button-group";

@include p-charmhub-button-group;

@import "pattern_p-modal";

@include p-charmhub-modal;

@import "pattern-p-integration-charts";

@include pattern_p-integration-charts;

@import "swiper-overrides";

@include swiper-overrides;

@import "pattern_p-docstring";

@include p-charmhub-docstring;

@import "charmhub_p-topology";

@include p-charmhub-topology;

@import "pattern_l-fluid-breakout";

@include l-charmhub-fluid-breakout;

@import "pattern_p-subnav";

@include p-charmhub-subnav;

@import "charmhub_p-detail-tabs";

@include p-detail-tabs;

@import "charmhub_p-detail-inline-list";

@include p-detail-inline-list;

// Remove table row borders
.p-table--no-borders tr {
  border-top: 0 !important;

  .p-list:last-of-type {
    margin-bottom: 0;
  }
}

.p-channel-map {
  margin-inline-end: 1rem;
  position: absolute;
  z-index: 11;

  @media screen and (max-width: $breakpoint-medium - 1) {
    margin-block-start: -3rem;
  }

  .p-channel-map__mask {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .p-channel-map__content {
    max-width: $breakpoint-large;
    position: relative;
    z-index: 1;

    table tr {
      cursor: pointer;
    }

    table tr.is-active td {
      font-weight: 400;
    }

    tbody tr {
      &:hover {
        background-color: $color-light;
      }
    }
  }
}

.p-heading-icon__group {
  margin-bottom: 1rem;
}

// XXX Ovi - 04.04.20: This can be removed once this issue is closed.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/1452
body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto auto 1fr auto;
  min-height: 100vh;
}

// Ovi 13.07.2020 - This can be removed once a new version of global-nav is released
// as the issue was fixed https://github.com/canonical-web-and-design/global-nav/commit/03173d82a1f1d4b77f8e20e41ef552b90dbab798

@media (max-width: 875px) {
  body {
    padding-bottom: 0 !important;
  }
}

// Ovi 16.07.2020 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3172
.has-no-arrow-mobile.p-tabs::after {
  content: "";
}

.global-nav .has-dropdown .global-nav__header-link-anchor {
  display: none;
}

.p-details-tab__content {
  .p-side-navigation {
    @media (min-width: $breakpoint-medium) {
      top: 56px;
    }
  }

  .p-side-navigation__link.u-truncate {
    display: block;
  }
}

.row,
.u-fixed-width {
  max-width: 72rem;
}

// Override h3 font weight based on design feedback from MS
.p-heading--3,
h3 {
  font-weight: 200;
}

.vertical-separator {
  border-right: 1px solid $color-mid-light;
  display: inline-block;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.package-card-icons {
  > * {
    display: inline-block;
    margin-right: 0.5rem;
    position: relative;
    top: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.charm-empty-docs-icon {
  border-right: 1px solid #cdcdcd;
  padding-left: $sp-x-large;
  padding-right: $sp-x-large;

  @media screen and (max-width: $breakpoint-medium) {
    display: none;
  }
}

.charm-empty-docs-content {
  @media screen and (min-width: $breakpoint-medium) {
    padding-left: $sp-x-large;
  }
}

.instruction-tooltip:hover .p-tooltip__modal {
  display: flex;
}

.instruction-tooltip:hover::after {
  content: "";
  display: block;
  height: 40px;
  left: 100%;
  position: absolute;
  top: -50%;
  width: 40px;

  @media screen and (max-width: $breakpoint-medium - 1px) {
    content: none;
  }
}

// XXX Ovi 28.04.2021 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3723
.l-fluid-breakout__item {
  @media (min-width: $breakpoint-small) {
    max-width: 30rem;
  }
}

.juju-notification {
  margin: 0.5rem 0;

  @media (min-width: $breakpoint-medium) {
    margin: 1rem 0 0;
  }
}

.charm-framework-type {
  border-top: 1px solid $color-mid-x-light;
  margin-top: 1rem;
  padding: 0.25rem 1rem 0.3rem;

  @media (min-width: $breakpoint-large) {
    padding-top: 0.1rem;
  }

  i {
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}

.detail-resource-footer {
  small {
    display: inline-block;
    margin-bottom: 0.5rem;

    @media (min-width: $breakpoint-medium) {
      margin-right: 1rem;
    }
  }
}
