@mixin swiper-overrides {
  .swiper-container {
    max-width: 320px;
  }

  .swiper-pagination-bullet {
    background-color: $color-mid-x-light !important;
    height: 12px !important;
    opacity: 1 !important;
    width: 12px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-mid-light !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: $color-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.25rem;
    border: 1px solid $color-mid-dark;
    border-radius: 3rem;
    box-sizing: content-box;
    cursor: pointer;
    height: 2rem !important;
    margin-top: -1.5rem;
    overflow: hidden;
    padding: 0;
    position: fixed;
    text-indent: -100px;
    top: 50%;
    width: 2rem !important;
  }

  .swiper-button-prev {
    background-image: url(https://assets.ubuntu.com/v1/e8d2e45f-chevron-left.svg);
  }

  .swiper-button-next {
    background-image: url("https://assets.ubuntu.com/v1/9716bbab-chevron.svg");
  }

  .swiper-button-disabled {
    display: none !important;
  }
}
