<a href="/{{charm.name}}" title="{{charm.title}}" alt="{{charm.name}}" class="p-bundle-icon" id="{{charm.name}}_id" style="background-image: url('https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill,w_24,h_24/https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg');"></a>
<a href="/{{charm.name}}" title="{{charm.title}}" class="p-bundle-icon-title" id="{{charm.name}}_link">
  {{ charm.title }}
</a>

<script>
  fetch("/{{charm.name}}", { method: "HEAD" })
      .then((r) => {
        if (r.status === 404) {
          const iconLink = document.getElementById("{{charm.name}}_id");
          const nameLink = document.getElementById("{{charm.name}}_link");
          if (iconLink) {
            const span = document.createElement('span');
            span.style.backgroundImage = iconLink.style.backgroundImage;
            span.classList.add('p-bundle-icon');
            span.innerText = iconLink.innerText;
            iconLink.parentNode.replaceChild(span, iconLink);
          }
          if (nameLink) {
            const span = document.createElement('span');
            span.innerHTML = nameLink.innerHTML;
            nameLink.replaceWith(span);
          }
        }
      });
</script>
