<div class="u-fixed-width is-wide">
  <nav class="p-tabs" data-js="tabs">
    <ul class="p-tabs__list" role="tablist">
      <li class="p-tabs__item" role="presentation">
        <a href="/{{ package.name }}{% if channel_requested %}?channel={{ channel_requested }}{% endif %}" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'overview' %}aria-selected="true" {% endif %}>Overview</a>
      </li>
      {% if package.type == "charm" %}
        <li class="p-tabs__item" role="presentation">
          <a href="/{{ package.name }}/docs{% if channel_requested %}?channel={{ channel_requested }}{% endif %}" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab=='docs' %}aria-selected="true" {% endif %}>Docs</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="/{{ package.name }}/configure{% if channel_requested %}?channel={{ channel_requested }}{% endif %}" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab=='configure' %}aria-selected="true" {% endif %}>Configure</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="/{{ package.name }}/actions{% if channel_requested %}?channel={{ channel_requested }}{% endif %}" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab=='actions' %}aria-selected="true" {% endif %}>Actions</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
