<div class="p-strip--header is-shallow">
  <div class="row">
    <div class="col-8">
      <div class="p-charm-header">
        <div class="p-media-object--medium u-no-margin--bottom">
          <div class="{% if package.type == "bundle" %}p-bundle-icons{% endif %}">
            {% for media in package.result.media %}
            {% if media.type == "icon" %}
            <img src="{{ media.url }}" class="{% if package.type == "bundle"%}p-bundle-icons__image{% else %}p-media-object__image{% endif %}" alt="" />
            {% endif %}
            {% endfor %}
          </div>
          <div class="p-media-object__details">
            <h1 class="p-media-object__title">
              {{ format_slug(package.name) }}
            </h1>
            <div class="p-media-object__content u-no-margin--bottom">
              <ul class="p-inline-list--middot">
                <li class="p-inline-list__item">
                  By <a href="#">{{ package.store_front.publisher_name }}</a>
                  {% if developer_validation == "verified" %}
                  <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
                    <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
                    <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
                  </span>
                  {% endif %}
                </li>
                {% if package.store_front.categories %}
                <li class="p-inline-list__item">
                  <a href="/">{{ package.store_front.categories[0].name }}</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% include "partial/_channel-map.html" %}
        <p class="p-charm-header__code"><code>juju deploy <span data-js="channel-cli">{{ package.name }}</span></code></p>
      </div>
    </div>
    <div class="col-4">
      <img src="https://assets.ubuntu.com/v1/adac6928-ubuntu.svg" alt="" width="89" height="20">
      <div class="series-tags">
        {% for version in package.store_front.ubuntu_versions %}
        <span class="series-tag">
          {{ version }}
        </span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
