<div class="u-position--sticky">
  <div class="u-fixed-width">
    <nav class="p-tabs" data-js="tabs">
      <ul class="p-tabs__list" role="tablist">
        <li class="p-tabs__item" role="presentation">
          <a href="/{{ package.name }}" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'overview' %}aria-selected="true" {% endif %}>Overview</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="/{{ package.name }}/docs" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'docs' %}aria-selected="true" {% endif %}>Docs</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="/{{ package.name }}/configuration" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'configuration' %}aria-selected="true" {% endif %}>Configuration</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="/{{ package.name }}/history" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'history' %}aria-selected="true" {% endif %}>History</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
