{% from "details/_package_header.jinja" import package_header %}

<div class="p-strip is-shallow">
  {% if request.path.startswith("/kubeflow") and schedule_banner("2023-03-08", "2023-03-22") %}
    {% include "partial/_kubeflow-beta-banner.html" %}
  {% endif %}

  {% call(slot) package_header(package, developer_validation, image) %}
    {% if slot == "channel_map" %}
      {% include "partial/_channel-map.html" %}
    {% endif %}

    {% if slot == "platforms" %}
      <p style="margin-bottom: 0.5rem;">
        <small class="u-no-padding--top u-text--muted">Platform:</small>
      </p>
      {% if package.store_front["deployable-on"]|length == 1 and package.store_front["deployable-on"][0] == "kubernetes" %}
        <div class="series-base">
          <div class="series-base__title">
            <img src="https://assets.ubuntu.com/v1/9f8a8273-2018-logo-kubernetes+%282%29.svg"
                 alt=""
                 width="160"
                 height="27"
                 class="p-image--base">
          </div>
        </div>
      {% elif package.type == "bundle" and package.store_front.bundle.series %}
        {# Machine bundles and they have the "series" attribute: we mark them as Ubuntu platform #}
        <div class="series-base">
          <div class="series-base__title">
            <img src="https://assets.ubuntu.com/v1/b4ba06f2-Ubuntu%20logo.svg"
                 alt="Ubuntu"
                 width="85"
                 height="30"
                 class="p-image--base">
          </div>
        </div>
      {% else %}
        {% for platform, bases in package.store_front.all_platforms.items() %}
          <div class="series-base">
            <div class="series-base__title">
              {% if platform.startswith("ubuntu") %}
                <img src="https://assets.ubuntu.com/v1/b4ba06f2-Ubuntu%20logo.svg"
                     alt="Ubuntu"
                     width="85"
                     height="30"
                     class="p-image--base">
              {% elif platform.startswith("centos") %}
                <img src="https://assets.ubuntu.com/v1/fd5cc5d8-CentOS.svg"
                     alt="CentOS"
                     width="85"
                     height="24"
                     class="p-image--base">
              {% else %}
                {{ platform }}
              {% endif %}
            </div>
            <div>
              {% for base in bases | sort(reverse=True) %}
                {% if loop.index <= 9 %}
                  <span class="series-tag">{{ base }}</span>
                {% elif loop.index == 10 %}
                  <span class="series-tag">+{{ loop.revindex }}</span>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endcall %}
</div>

