<div class="p-strip has-suru is-shallow">
  <div class="row is-wide">
    <div class="col-8">
      <div class="p-charm-header">
        <div class="p-media-object--medium u-no-margin--bottom">
          {% if package.type == "bundle" %}
          <div class="p-bundle-icons">
            {% for media in package.result.media %}
            {% if media.type == "icon" %}
            <img src="{{ media.url }}" class="p-bundle-icons__image" alt="" />
            {% endif %}
            {% endfor %}
          </div>
          {% else %}
          <div class="p-media-object__image-container">
            {% if package["store_front"]["icons"] %}
              {{
                image(
                  url=package.store_front.icons[0],
                  alt=package.name,
                  width="64",
                  height="64",
                  hi_def=True,
                  fill=True,
                  attrs={"class": "p-media-object__image"},
                ) | safe
              }}
            {% else %}
              {{
                image(
                  url="https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg",
                  alt=package.name,
                  width="60",
                  height="60",
                  hi_def=True,
                  fill=True,
                  attrs={"class": "p-media-object__image"},
                ) | safe
              }}
            {% endif %}
          </div>
          {% endif %}
          <div class="p-media-object__details">
            <h1 class="p-media-object__title">
              {{ format_slug(package.name) }}
            </h1>
            <div class="p-media-object__content u-no-margin--bottom">
              <ul class="p-inline-list--middot">
                <li class="p-inline-list__item">
                  By {{ package.store_front.publisher_name }}
                  {% if developer_validation == "verified" %}
                  <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
                    <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
                    <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
                  </span>
                  {% endif %}
                </li>
                {% if package.store_front.categories %}
                <li class="p-inline-list__item">
                  <a href="/?category={{ package.store_front.categories[0].slug }}">{{ package.store_front.categories[0].name }}</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% include "partial/_channel-map.html" %}
      </div>
    </div>
    <div class="col-4">
      <p style="margin-bottom: 0.5rem;"><small class="u-no-padding--top u-text--muted">Platform:</small></p>
      {% if package.store_front.ubuntu_versions|length == 1 and package.store_front.ubuntu_versions[0] == "Kubernetes" %}
      <img src="https://assets.ubuntu.com/v1/9f8a8273-2018-logo-kubernetes+%282%29.svg" alt="" width="160" height="27" class="p-image--platform">
      {% else %}
      <img src="https://assets.ubuntu.com/v1/adac6928-ubuntu.svg" alt="" width="89" height="20" class="p-image--platform">
      {% endif %}
      <div class="series-tags">
        {% for version in package.store_front.ubuntu_versions %}
        {% if version != "Kubernetes" %}
        <span class="series-tag">
          {{ version }}
        </span>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
