<div class="u-fixed-width is-wide">
  <nav class="p-tabs" data-js="tabs">
    <ul class="p-tabs__list" role="tablist">
      <li class="p-tabs__item" role="presentation">
        <a href="/{{ package.name }}" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'overview' %}aria-selected="true" {% endif %}>Overview</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="/{{ package.name }}/docs" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'docs' %}aria-selected="true" {% endif %}>Docs</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="/{{ package.name }}/configure" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'configure' %}aria-selected="true" {% endif %}>Configure</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="/{{ package.name }}/actions" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'actions' %}aria-selected="true" {% endif %}>Actions</a>
      </li>
    </ul>
  </nav>
</div>
