{% from "details/_package_header_data.jinja" import package_header_data %}

{% macro package_header(package, developer_validation, image) %}
  <div class="p-section">
  <div class="row">
    <div class="col-3">
        {% if package.type == "charm" %}
      {% if package["store_front"]["icons"] %}
        {{ image(url=package.store_front.icons[0],
                alt=package.name,
                width="120",
                height="120",
                hi_def=True,
                fill=True,
                attrs={"class": ""},) | safe
        }}
      {% else %}
        {{ image(url="https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg",
                alt=package.name,
                width="120",
                height="120",
                hi_def=True,
                fill=True,
                attrs={"class": ""},) | safe
        }}
      {% endif %}
    {% endif %}
    </div>
    <div class="col-6">
      <div class="p-charm-header">
        {{ package_header_data(package, developer_validation, image) }}
      </div>
    </div>
    <div class="col-3">
      {{ caller("platforms") }}
    </div>
    <div class="col-9 col-start-large-4">
      <hr class="p-rule--muted" />
      {{ caller("channel_map") }}
    </div>
  </div>
  </div>
{% endmacro %}

