<div class="swiper-container">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <div class="integration-chart--small u-align--center">
        <div><strong>{{ package.name }}</strong></div>
        <div class="integration-chart__icon-wrapper--top">
          <img src="https://api.jujucharms.com/charmstore/v5/{{ package.name }}/icon.svg" alt="" class="integration-chart__icon">
        </div>
        <ul class="integration-chart__list">
          <li class="integration-chart__list-item">websso-trusted-dashboard</li>
          <li class="integration-chart__list-item">websso-trusted-dashboard</li>
          <li class="integration-chart__list-item">websso-trusted-dashboard</li>
        </ul>
        <div class="integration-chart__icon-wrapper--bottom">
          <img src="" alt="" class="integration-chart__icon js-integration-package-icon">
        </div>
        <div><strong><a href="" class="js-integration-package-link"></a></strong></div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="integration-chart--small u-align--center">
        <div><strong>{{ package.name }}</strong></div>
        <div class="integration-chart__icon-wrapper--top">
          <img src="https://api.jujucharms.com/charmstore/v5/{{ package.name }}/icon.svg" alt="" class="integration-chart__icon">
        </div>
        <ul class="integration-chart__list">
          <li class="integration-chart__list-item">websso-dashboard</li>
          <li class="integration-chart__list-item">websso-dashboard</li>
          <li class="integration-chart__list-item">websso-dashboard</li>
        </ul>
        <div class="integration-chart__icon-wrapper--bottom">
          <img src="" alt="" class="integration-chart__icon js-integration-package-icon">
        </div>
        <div><strong><a href="" class="js-integration-package-link"></a></strong></div>
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
