{% set current_tab = "actions" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
<div class="row is-wide p-details-tab__content">
  {% if package.store_front.actions %}
    <div class="row is-wide">
      <div class="col-3 has-space--right">
        <div class="p-side-navigation">
          <ul class="p-side-navigation__list">
            {% for action in package.store_front.actions %}
              <li class="p-side-navigation__item">
                <a href="#{{ action }}" class="p-side-navigation__link" role="tab" aria-controls="{{ action }}" {% if loop.index == 1 %}aria-current="page"{% endif %}>
                  {{ action }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-9 col-large-6">
        <ul class="p-list--divided has-sparator-centered">
          {% for action, action_data in package.store_front.actions.items() %}
            <li class="p-list__item action-section" id="{{ action }}">
              <p class="p-heading--4">{{ action }}</p>
              {% if action_data.description %}
                <p class="u-no-padding--top">{{ action_data.description }}</p>
              {% endif %}
              {% if action_data.params %}
                <table class="p-table--no-borders">
                  <tr>
                    <td class="u-align--right u-text--muted" style="width: 25%;">Params</td>
                    <td>
                      {% for param, param_data in action_data.params.items() %}
                        <p class="u-no-padding--top"><strong class="vertical-separator">{{ param }}</strong>{{ param_data.type }}</p>
                        <p class="u-no-padding--top">{{ param_data.description }}</p>
                      {% endfor %}
                    </td>
                  </tr>
                  {% if action_data.required %}
                    <tr>
                      <td class="u-align--right u-text--muted" style="width: 25%;">Required</td>
                      <td>
                        <p class="u-no-padding--top u-no-margin--bottom">
                          {% for item in action_data.required %}
                            {{ item }}{% if not loop.last %},{% endif %}
                          {% endfor %}
                        </p>
                      </td>
                    </tr>
                  {% endif %}
                </table>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    <div class="u-fixed-width">
      <div class="p-notification--information">
        <p class="p-notification__response">
          No action details have been added yet.
        </p>
      </div>
    </div>
  {% endif %}
</div>
{% endblock%}

{% block page_scripts %}
  <script src="{{ versioned_static('js/dist/highlight-nav.js') }}" defer></script>
{% endblock %}
