{% set current_tab = "actions" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
<div class="p-details-tab__content">
  {% if package.store_front.actions %}
    <div class="row">
      <div class="col-3">
        <div class="p-side-navigation is-sticky">
          <ul class="p-side-navigation__list">
            {% for action in package.store_front.actions %}
              <li class="p-side-navigation__item">
                <a href="#{{ action }}" class="p-side-navigation__link" role="tab" aria-controls="{{ action }}" {% if loop.index == 1 %}aria-current="page"{% endif %}>
                  {{ action }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-9">
        <ul class="p-list--divided has-separator-centered">
          {% for action, action_data in package.store_front.actions.items() %}
            <li class="p-list__item" style="margin-bottom: 1rem;" id="{{ action }}">
              <p class="p-heading--4">{{ action }}</p>
              {% if action_data.description %}
                <p class="u-no-padding--top">{{ action_data.description }}</p>
              {% endif %}
              {% if action_data.params %}
                <dl>
                  <dt>Params</dt>
                  <dl>
                    <ul class="p-list action-list" style="margin-left: 1rem;">
                      {% for param, param_data in action_data.params.items() %}
                      <li>
                        <p>
                          <span class="vertical-separator">{{ param }}</span>
                          <span class="u-text--muted">{{ param_data.type }}</span>
                        </p>
                        <p class="u-no-padding--top">{{ param_data.description }}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </dl>
                </dl>
                {% if action_data.required %}
                <dl>
                  <dt>Required</dt>
                  <dl>
                    <p style="margin-left: 1rem;">
                      {% for item in action_data.required %}
                        {{ item }}{% if not loop.last %},{% endif %}
                      {% endfor %}
                    </p>
                  </dl>
                </dl>
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    <div class="p-strip u-no-padding--top">
      <div class="u-fixed-width u-equal-height">
        <div class="charm-empty-docs-icon u-vertically-center">
          <img src="https://assets.ubuntu.com/v1/3234f995-Generic_chamhub_NoDocs.svg" alt="" width="121" height="121">
        </div>
        <div class="col-9 charm-empty-docs-content">
          <h4>No actions have been added yet</h4>
          <p>Actions are executables associated with a charm that may be invoked by the user.</p>
          <p class="u-no-margin--bottom"><a class="p-button--positive u-no-margin--bottom" href="https://juju.is/docs/charm-writing/actions">Learn more about working with actions</a></p>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock%}

{% block details_scripts %}
  <script src="{{ versioned_static('js/dist/highlight-nav.js') }}" defer></script>
  <script>
      // Fix to see the content under the sticky nav when you navigate using #id
      window.addEventListener("hashchange", () => { scrollBy(0, -65) })
  </script>
{% endblock %}
