{% set current_tab = "configure" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
<div class="row p-details-tab__content">
  <div class="col-3">
    <div class="p-side-navigation is-sticky" data-js="{{ section_slug }}">
      <ul class="p-side-navigation__list">
        {% for charm in package.store_front.bundle.charms %}
        <li class="p-side-navigation__item">
          <a href="{{ charm.name }}" class="p-side-navigation__link u-truncate {% if subpackage.name == charm.name %}is-active{% endif %}" role="tab" aria-controls="{{ charm.name }}" aria-selected="{% if subpackage.name == charm.name %}true{% else %}false{% endif %}">
            <img src="/{{ charm.name }}/icon" alt="{{ charm.name }}" width="16" height="16">
            {{ charm.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-9">
    {% if subpackage.store_front.config.options %}
      <ul class="p-list--divided has-separator-centered">
        {% for key, value in subpackage.store_front.config.options.items() %}
        <li class="p-list__item" id="{{ key }}">
          <p class="p-heading--4">{{ key }} <span class="u-text--muted">&VerticalLine; {{ value.type }}</span></p>
          {% if value.default %}
          <p style="overflow-wrap: break-word; white-space: pre-wrap;"><span class="u-text--muted">Default:</span> {{ value.default }}</p>
          {% endif %}
          <p style="overflow-wrap: break-word; white-space: pre-wrap;">{{ value.description | escape }}</p>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="p-notification--information">
        <p class="p-notification__response">
          No configuration details have been added yet.
        </p>
      </div>
    {% endif %}
  </div>
</div>

<script>
  const sideNavigationLinks = Array.prototype.slice.call(
    document.querySelectorAll(".p-side-navigation__link")
  );

  sideNavigationLinks.forEach((sideNavigationLink) => {
    sideNavigationLink.addEventListener("click", (e) => {
      const activeNavigationLink = e.target;
      const oldActiveNavigationLink = document.querySelector(
        ".p-side-navigation__link.is-active"
      );

      if (oldActiveNavigationLink) {
        oldActiveNavigationLink.classList.remove("is-active");
      }

      activeNavigationLink.classList.add("is-active");
    });
  });

  // Fix to see the content under the sticky nav when you navigate using # on the docstring page
  window.addEventListener("hashchange", () => { scrollBy(0, -55) })
</script>
{% endblock%}
