{% extends 'base_layout.html' %}

{% block title %}Deploy {{ format_slug(package.name) }} using Charmhub - The Open Operator Collection{% endblock %}

{% block meta %}
  <meta property="og:title" content="Deploy {{ package.name }} using Charmhub - The Open Operator Collection" />
  <meta property="og:url" content="https://charmhub.io/{{ package.name }}" />
  <meta property="og:description" content="Deploy the latest version of {{ format_slug(package.name) }} as a Kubernetes Operator on any cloud. {{ package.result.summary }}" />
  <meta property="og:image" content='
    {% if package["store_front"]["icons"] %}
      https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill/{{ package.store_front.icons[0] }}
    {% else %}
      "https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg",
    {% endif %}
  ' />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ubuntucloud">
  <meta name="twitter:creator" content="@ubuntucloud">
  <meta name="twitter:title" content="Deploy {{ package.name }} using Charmhub - The Open Operator Collection">
  <meta name="twitter:image" content='
    {% if package["store_front"]["icons"] %}
      https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill/{{ package.store_front.icons[0] }}
    {% else %}
      "https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg",
    {% endif %}
  '>
  <meta name="twitter:description" content="Deploy the latest version of {{ format_slug(package.name) }} as a Kubernetes Operator on any cloud. {{ package.result.summary }}">
{% endblock %}

{% block content %}
  {% include "details/_details-header.html" %}
  {% include "details/_details-tab-navigation.html" %}

  <div class="p-strip is-deep u-no-padding--top">
    {% block details_content %} {% endblock %}
  </div>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/details.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.details.init("{{ package.name }}");
  });
</script>
{% endblock %}
