{% extends 'base_layout.html' %}

{% block title %}Deploy {{ format_slug(package.name) }} using Charmhub - The Open Operator Collection{% endblock %}

{% block meta_description %}Deploy the latest version of {{ format_slug(package.name) }} as a Kubernetes Operator on any cloud. {{ package.result.summary }}{% endblock %}

{% block content %}
  {% include "details/_details-header.html" %}
  {% include "details/_details-tab-navigation.html" %}

  <div class="p-strip is-deep u-no-padding--top">
    {% block details_content %} {% endblock %}
  </div>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/details.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.details.init("{{ package.name }}");
  });
</script>
{% endblock %}
