{% set current_tab = "docs" %}

{% extends '/details/details_layout.html' %}

{% import '/partial/_macros.html' as macros %}

{% block details_content %}
  <div class="row p-details-tab__content">
    <div class="col-3 p-details-tab__content__sidebar">
      {% include '/details/_side-nav.html' %}
    </div>
    <div class="col-9 p-details-tab__content__body">
      {{ body_html | safe }}
      <hr class="p-separator--medium" />
      <div class="u-fixed-width">
        <h4>Help us improve this documentation</h4>
        <p>
          Most of this documentation can be collaboratively discussed and changed on the respective topic in the doc category of the <a href="{{ forum_url }}" class="p-link--external">Charmhub forum</a>. See the <a href="https://discourse.charmhub.io/t/how-to-write-docs-our-documentation-guidelines-for-contributors/1245" class="p-link--external">documentation guidelines</a> if you’d like to contribute.
        </p>
        <div class="p-notification--information">
          <div class="p-notification__content">
            <p class="p-notification__message">
              Last updated {{ last_update }}. <a href="{{ forum_url }}{{ topic_path }}" class="p-link--external">Help improve this document in the forum</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}

{% block details_scripts %}
  <script src="{{ versioned_static('js/dist/details_docs.js') }}" defer></script>
  <script>
    window.addEventListener("DOMContentLoaded", function () {
      charmhub.details.docs.initSideNav();
      charmhub.details.docs.initMermaid();
    });
  </script>
{% endblock %}
