{% set current_tab = "docs" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
  <div class="p-strip u-no-padding--top">
    <div class="u-fixed-width u-equal-height">
      <div class="charm-empty-docs-icon u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/3234f995-Generic_chamhub_NoDocs.svg" alt="" width="121" height="121">
      </div>
      <div class="col-9 charm-empty-docs-content">
        <h4>Docs help you learn how to use a charm</h4>
        <p>Looks like {{ package.store_front.publisher_name }} hasn’t added any docs to this charm yet.</p>
        <p class="u-no-margin--bottom"><a class="p-button--positive u-no-margin--bottom" href="https://charmhub.io/tutorials/add-docs-to-your-charmhub-page">Learn how to add docs to a charm</a></p>
      </div>
    </div>
  </div>
{% endblock%}

