{% set current_tab = "integrations" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
  <div class="row p-details-tab__content" id="tab-content" style="min-height: 10rem">
   <div style="display: flex; justify-content: center; align-items: center">
     <i class="p-icon--spinner u-animation--spin"></i>&nbsp;&nbsp;Loading...</div>
  </div>
{% endblock %}

{% block details_scripts %}
<script src="{{ versioned_static('js/dist/details_integrations.js') }}"></script>
{% endblock %}
