{% set current_tab = "libraries" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
  <div class="u-fixed-width is-wide">
    Sidebar:
    {% for group in libraries.keys() %}
    <div>{{ group }}</div>
      {% for lib in libraries[group] %}
      <div>- {{ lib["name"] }}</div>
      {% endfor %}
    {% endfor %}

    Content:
    {{ docstrings["charms.apache.v2.http"]["content"][0]["html"]|safe }}

    Source:
    <pre><code>{{ libraries["charms.apache"][0]["content"] }}</code></pre>
  </div>
{% endblock%}
