{% set current_tab = "resources" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
  <div class="p-strip u-no-padding--top">
    <div class="u-fixed-width u-equal-height">
      <div class="charm-empty-docs-icon u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/3234f995-Generic_chamhub_NoDocs.svg" alt="" width="121" height="121">
      </div>
      <div class="col-9 charm-empty-docs-content">
        <h4>No resources have been added for this charm</h4>
        <p>A resource is additional content that a charm can make use of, or may require, to run.</p>
        <p class="u-no-margin--bottom"><a class="p-button--positive u-no-margin--bottom" href="https://juju.is/docs/sdk/resources">Learn how to manage charm resources</a></p>
      </div>
    </div>
  </div>
{% endblock%}
