{% set current_tab = "overview" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
  <div class="row p-details-tab__content">
    <div class="col-3 p-details-tab__content__sidebar">
      {% include '/details/_side-nav.html' %}
    </div>
    <div class="col-9 p-details-tab__content__body">
      {% if package.type == "bundle" %}
        <h2 class="p-heading--4">Charms in the {{ package.store_front["display-name"] }} bundle</h2>
        <div class="row p-bundle-icons">
          {% for charm in package['store_front']['bundle']['charms'] %}
            <div class="col-3 col-medium-3">
              {% include "/details/_bundle_icon.html" %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="js-readme-content">
        {% if summary %}
          <h4>{{summary | safe }}</h4>
        {% endif %}
        {% if description %}
          <p>{{ description | safe }}</p>
        {% else %}
          <p>No description provided.</p>
        {% endif %}
      </div>
      {% if topic_path %}
        <hr class="p-separator--medium" />
        <div class="u-fixed-width">
          <h4>Help us improve this documentation</h4>
          <p>
            Most of this documentation can be collaboratively discussed and changed on the respective topic in the doc category of the <a href="{{ forum_url }}" class="p-link--external">Charmhub forum</a>. See the <a href="https://discourse.charmhub.io/t/how-to-write-docs-our-documentation-guidelines-for-contributors/1245" class="p-link--external">documentation guidelines</a> if you’d like to contribute.
          </p>
          <div class="p-notification--information">
            <div class="p-notification__content">
              <p class="p-notification__message">
                Last updated {{ last_update }}. <a href="{{ forum_url }}{{ topic_path}}" class="p-link--external">Help improve this document in the forum</a>.
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block details_scripts %}
  <script src="{{ versioned_static('js/dist/details_overview.js') }}" defer></script>
  {% if package.type == "bundle" %}
    <script src="{{ versioned_static('js/dist/store.js') }}" defer></script>
  {% endif %}
  <script>
    window.addEventListener("DOMContentLoaded", function () {
      charmhub.details.overview.init();
      {% if package.type == "bundle" %}
        charmhub.store.loadBundleIcons();
      {% endif %}
    });
  </script>
{% endblock %}
