{% set current_tab = "overview" %}

{% extends '/details/details_layout.html' %}

{% block tab_content %}
  <div class="row p-tabs__content" id="overview">
    <div class="col-3">
      <p><span class="u-text--muted">Latest release</span><br />{{ package.store_front.last_release }}</p>
      <p><span class="u-text--muted">License</span><br />{{ package.result.license }}</p>
      {% if package.result.website or package.result.repository or package.result.contact %}
        <hr class="p-separator--shallow">
        <h4 class="p-heading--5 u-no-margin--bottom">Relevant links</h4>
        <ul class="p-list">
        {% if package.result.website %}
          <li class="p-list__item u-no-margin--bottom">
            <a href="{{ package.result.website }}"><i class="p-icon--home"></i>&nbsp;&nbsp;Homepage</a>
          </li>
        {% endif %}
        {% if package.result.repository %}
          <li class="p-list__item">
            <a href="{{ package.result.repository }}"><i class="p-icon--repository"></i>&nbsp;&nbsp;Repository</a>
          </li>
          <li class="p-list__item">
            <!-- TO DO - what if the bugs are submitted to launchpad? -->
            <a href="{{ package.result.repository }}/issues/new"><i class="p-icon--bug"></i>&nbsp;&nbsp;Submit a bug</a>
          </li>
        {% endif %}
        {% if package.result.contact %}
          <li class="p-list__item">
            <a href="{{ package.result.contact }}"><i class="p-icon--contact"></i>&nbsp;&nbsp;Contact</a>
          </li>
        {% endif %}
        </ul>
      {% endif %}
      <hr class="p-separator--shallow">
      <h4 class="p-heading--5 u-no-margin--bottom">Discuss this {{ package.type }}</h4>
      <p>Share your thoughts on this charm with the community on discourse.</p>
      <p><a class="p-button--neutral" href="https://discourse.juju.is/">Discuss this {{ package.type }}</a></p>
    </div>
    <div class="col-9">
      {{ readme | safe }}
    </div>
  </div>
{% endblock%}
