{% set current_tab = "overview" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
  <div class="row p-details-tab__content">
    <div class="col-3 p-details-tab__content__sidebar">
      {% include '/details/_side-nav.html' %}
    </div>
    <div class="col-9 p-details-tab__content__body">
      {% if package.type == "bundle" %}
        <h2 class="p-heading--4">Charms</h2>
        <div class="p-bundle-icons">
          {% for charm in package['store_front']['bundle']['charms'] %}
            <span title="{{charm.title}}" alt="{{charm.name}}" class="p-bundle-icon" style="background-image: url('https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill,w_24,h_24/https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg');">{{ charm.title|truncate(2, true, '', 0) }}</span>
          {% endfor %}
        </div>
      {% endif %}
      <div class="js-readme-content">
        {% if summary %}
          <h4>{{summary | safe }}</h4>
        {% endif %}
        {% if description %}
          <p>{{ description | safe }}</p>
        {% else %}
          <p>No description provided.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block details_scripts %}
  <script src="{{ versioned_static('js/dist/details_overview.js') }}" defer></script>
  {% if package.type == "bundle" %}
    <script src="{{ versioned_static('js/dist/store.js') }}" defer></script>
  {% endif %}
  <script>
    window.addEventListener("DOMContentLoaded", function () {
      charmhub.details.overview.init();
      {% if package.type == "bundle" %}
        charmhub.store.loadBundleIcons();
      {% endif %}
    });
  </script>
{% endblock %}
