{% set current_tab = "resources" %}
{% set revisions_limit = 10 %}
{% set total_revisions = revisions|length %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
<div class="row p-details-tab__content">
  <div class="col-3">
    <div class="p-side-navigation">
      <ul class="p-side-navigation__list">
        {% for resource in package['default-release']['resources'] %}
        <li class="p-side-navigation__item">
          <a href="/{{ package.name }}/resources/{{ resource.name }}" class="p-side-navigation__link" role="tab" aria-controls="{{ resource.name }}" {% if loop.index == 1 %}aria-current="page"{% endif %}>{{ resource.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-9">
    <h2 class="p-heading--4">
      {{ resource.name }}
      <span class="u-text--muted">
        |
        {% if resource.type == "oci-image" %}
          OCI Image
        {% else %}
          File
        {% endif %}
      </span>
    </h2>

    {% if resource.upstream_source %}
      <p><strong>Upstream source:</strong> {{ resource.upstream_source }}</p>
    {% endif %}

    <ul class="p-detail-inline-list">
      <li class="p-inline-list__item">
        <i class="p-icon--revisions" style="margin-right: 5px;"></i> Revision: {{ resource.revision }}
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--change-version" style="margin-right: 5px;"></i> Updated: {{ resource.updated }}
      </li>
      {% if resource.type == "oci-image" %}
      <li class="p-inline-list__item has-button">
        <button class="p-button--link p-link--soft u-no-margin--bottom u-no-padding--top js-panel-toggle p-inline-list__panel-button" aria-label="Digest key" aria-controls="digest-key-panel">
          <i class="p-icon--docstrings" style="margin-right: 5px;"></i>
          Digest: {{ resource.short_digest }}
        </button>
        <div class="p-inline-list__panel" id="digest-key-panel">
          <textarea class="u-no-margin--bottom" readonly>{{ resource.digest }}</textarea>
        </div>
      </li>
      {% else %}
      <li class="p-inline-list__item">
        <i class="p-icon--docstrings" style="margin-right: 5px;"></i> Size: {{ resource.size }}
      </li>
      {% endif %}
      <li class="p-inline-list__item has-button">
        <a class="p-button--link p-link--soft u-no-margin--bottom u-no-padding--top p-inline-list__panel-button" href="{{ resource.download.url }}" download>
          <i class="p-icon--download"></i> Download
        </a>
      </li>
    </ul>

    <p>{{ resource.description | markdown | safe }}</p>

    <h3 class="p-heading--5">Release history</h3>

    <table class="u-no-margin--bottom js-revisions-table">
      <thead>
        <tr>
          <th>Revision</th>
          <th>Date</th>
          {% if resource.type == "file" %}
            <th>Size</th>
          {% else %}
            <th>Digest</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for revision in revisions[0:revisions_limit] %}
          <tr>
            <td>{{ revision.revision }}</td>
            <td>{{ revision.updated }}</td>
            {% if resource.type == "file" %}
              <td>{{ revision.size }}</td>
          {% else %}
            <td>{{ revision.download["hash-sha-256"][:12] }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="u-align--right detail-resource-footer">
      <small class="u-text--muted">
        Showing
        <span class="js-revisions-count">
          {% if total_revisions < revisions_limit %}
            {{ total_revisions }}
          {% else %}
            {{ revisions_limit }}
          {% endif %}
        </span>
        of {{ total_revisions }} revisions
      </small>

      {% if total_revisions > revisions_limit %}
        <button class="js-show-more-revisions">
          {% if total_revisions - revisions_limit < revisions_limit %}
            Show {{total_revisions - revisions_limit }} more
          {% else %}
            Show {{ revisions_limit }} more
          {% endif %}
        </button>
      {% endif %}
    </div>
  </div>
</div>

{{ vite_import('static/js/src/public/details/resources/index.ts') }}

<script>
  function handleShowMoreRevisions(resourceType, revisions) {
    var revisionsCountContainer = document.querySelector(
      ".js-revisions-count"
    );

    var showMoreRevisionsButton = document.querySelector(
      ".js-show-more-revisions"
    );

    if (showMoreRevisionsButton) {
      var revisionsLimit = {{ revisions_limit }};
      var currentRevisionsCount = revisionsLimit;
      var totalRevisions = revisions.length;

      showMoreRevisionsButton.addEventListener("click", function() {
        if (revisions.length > currentRevisionsCount) {
          addReleasesRows(
            resourceType,
            revisions.slice(
              currentRevisionsCount,
              currentRevisionsCount + revisionsLimit
            )
          );

          if (totalRevisions - currentRevisionsCount >= revisionsLimit) {
            currentRevisionsCount += revisionsLimit;
          } else {
            currentRevisionsCount += (totalRevisions - currentRevisionsCount);
          }

          if (totalRevisions - currentRevisionsCount > -1) {
            revisionsCountContainer.innerText = currentRevisionsCount;
          } else {
            showMoreRevisionsButton.parentNode.removeChild(showMoreRevisionsButton);
          }
        }
      });
    }
  }

  function addReleasesRows(resourceType, revisions) {
    var revisionsTableBody = document.querySelector(
      ".js-revisions-table tbody"
    );

    revisions.forEach(function(release) {
      var tableRow = document.createElement("tr");

      var revisionCell = document.createElement("td");
      revisionCell.innerText = release.revision;
      tableRow.appendChild(revisionCell);

      var dateCell = document.createElement("td");
      dateCell.innerText = release.updated;
      tableRow.appendChild(dateCell);

      if (resourceType === "file") {
        var fileCell = document.createElement("td");
        fileCell.innerText = release.download.size * 1000 * 1000;
        tableRow.appendChild(fileCell);
      } else {
        var digestCell = document.createElement("td");
        digestCell.innerText = release.download["hash-sha-256"].slice(0, 12);
        tableRow.appendChild(digestCell);
      }

      revisionsTableBody.appendChild(tableRow);
    });
  }

  window.addEventListener("DOMContentLoaded", function () {
    charmhub.resources.init();
    handleShowMoreRevisions("{{ resource.type }}", {{ revisions | safe }});
  });

  function getActiveNavItem(navigationLinks) {
      return Array.from(navigationLinks).find((navigationLink) => {
        const href = navigationLink.getAttribute("href");
        return href && window.location.href.includes(href);
      });
    }

  function setActiveNavItem() {
    const navigationLinks = document.querySelectorAll(".p-side-navigation__link");
    const activeNavItem = getActiveNavItem(navigationLinks);

    Array.from(navigationLinks).forEach((navigationLink) => {
      if (navigationLink === activeNavItem) {
        navigationLink.setAttribute("aria-current", "page");
      } else {
        navigationLink.removeAttribute("aria-current");
      }
    });
  }

  setActiveNavItem();

  window.addEventListener("popstate", setActiveNavItem);
</script>
{% endblock %}
