{% set current_tab = "resources" %}
{% set revisions_limit = 10 %}
{% set total_revisions = revisions|length %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
<div class="row p-details-tab__content">
  <div class="col-3">
    <div class="p-side-navigation">
      <ul class="p-side-navigation__list">
        {% for resource in package['default-release']['resources'] %}
        <li class="p-side-navigation__item">
          <a href="#" class="p-side-navigation__link is-active">{{ resource.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-9">
    <h2 class="p-heading--4">
      {{ resource.name }}
      <span class="u-text--muted">
        |
        {% if resource.type == "oci-image" %}
          OCI Image
        {% else %}
          File
        {% endif %}
      </span>
    </h2>

    <ul class="p-detail-inline-list">
      <li class="p-inline-list__item">
        <i class="p-icon--revisions" style="margin-right: 5px;"></i> Revision: {{ resource.revision }}
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--change-version" style="margin-right: 5px;"></i> Updated: -
      </li>
      {% if resource.type == "oci-image" %}
        <li class="p-inline-list__item has-panel js-panel-toggle">
          <i class="p-icon--docstrings" style="margin-right: 5px;"></i>
          Digest: {{ resource.short_digest }}
          <div class="p-inline-list__panel">{{ resource.digest }}</div>
        </li>
      {% else %}
      <li class="p-inline-list__item">
        <i class="p-icon--docstrings" style="margin-right: 5px;"></i> Size: {{ resource.size }}
        {% endif %}
      </li>
    </ul>

    <pre><code>juju download --include-resources</code></pre>

    <p>{{ resource.description }}</p>

    <h3 class="p-heading--5">Release history</h3>

    <table class="js-revisions-table">
      <thead>
        <tr>
          <th>Revision</th>
          <th>Date</th>
          {% if resource.type == "file" %}
            <th>Size</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for revision in revisions[0:revisions_limit] %}
          <tr>
            <td>{{ revision.revision }}</td>
            <td>-</td> <!-- update this in JS also once date field is available -->
            {% if resource.type == "file" %}
              <td>{{ revision.size }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="u-align--right detail-resource-footer">
      <small class="u-text--muted">
        Showing
        <span class="js-revisions-count">
          {% if total_revisions < revisions_limit %}
            {{ total_revisions }}
          {% else %}
            {{ revisions_limit }}
          {% endif %}
        </span>
        of {{ total_revisions }} versions
      </small>

      {% if total_revisions > revisions_limit %}
        <button class="js-show-more-revisions">
          {% if total_revisions - revisions_limit < revisions_limit %}
            Show {{total_revisions - revisions_limit }} more
          {% else %}
            Show {{ revisions_limit }} more
          {% endif %}
        </button>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function handleTogglePanels() {
    var panelToggleButtons = Array.prototype.slice.call(
      document.querySelectorAll(".js-panel-toggle")
    );

    panelToggleButtons.forEach(function(panelToggleButton) {
      panelToggleButton.addEventListener("click", function(e) {
        var target = e.target;
        var panel = panelToggleButton.querySelector(".p-inline-list__panel");

        if (target !== panel) {
          panelToggleButton.classList.toggle("is-open");
        }
      });
    });

    document.addEventListener("click", function(e) {
      var target = e.target;
      var openPanelToggle = document.querySelector(".js-panel-toggle.is-open");

      if (openPanelToggle) {
        var openPanel = openPanelToggle.querySelector(".p-inline-list__panel");

        if (target !== openPanel && target !== openPanelToggle) {
          openPanelToggle.classList.remove("is-open");
        }
      }
    });
  }

  handleTogglePanels();

  function handleShowMoreRevisions(resourceType, revisions) {
    var revisionsCountContainer = document.querySelector(
      ".js-revisions-count"
    );

    var showMoreRevisionsButton = document.querySelector(
      ".js-show-more-revisions"
    );

    if (showMoreRevisionsButton) {
      var revisionsLimit = {{ revisions_limit }};
      var currentRevisionsCount = revisionsLimit;
      var totalRevisions = revisions.length;

      showMoreRevisionsButton.addEventListener("click", function() {
        if (revisions.length > currentRevisionsCount) {
          addReleasesRows(
            resourceType,
            revisions.slice(
              currentRevisionsCount,
              currentRevisionsCount + revisionsLimit
            )
          );

          if (totalRevisions - currentRevisionsCount >= revisionsLimit) {
            currentRevisionsCount += revisionsLimit;
          } else {
            currentRevisionsCount += (totalRevisions - currentRevisionsCount);
          }

          if (totalRevisions - currentRevisionsCount > -1) {
            revisionsCountContainer.innerText = currentRevisionsCount;
          } else {
            showMoreRevisionsButton.parentNode.removeChild(showMoreRevisionsButton);
          }
        }
      });
    }
  }

  function addReleasesRows(resourceType, revisions) {
    var revisionsTableBody = document.querySelector(
      ".js-revisions-table tbody"
    );

    revisions.forEach(function(release) {
      var tableRow = document.createElement("tr");

      var revisionCell = document.createElement("td");
      revisionCell.innerText = release.revision;
      tableRow.appendChild(revisionCell);

      var dateCell = document.createElement("td");
      dateCell.innerText = "-"; // currently no date field available
      tableRow.appendChild(dateCell);

      if (resourceType === "file") {
        var fileCell = document.createElement("td");
        fileCell.innerText = release.download.size * 1000 * 1000;
        tableRow.appendChild(fileCell);
      }

      revisionsTableBody.appendChild(tableRow);
    });
  }

  handleShowMoreRevisions("{{ resource.type }}", {{ revisions | safe }});
</script>
{% endblock %}
