{% extends 'base_layout.html' %}

{% block title %}500: Server error{% endblock %}

{% block meta_description %}Something&rsquo;s gone wrong.{% endblock %}

{% block content %}
<div class="p-strip is-deep">
  <div class="row">
    <div class="col-4">
      <img src="https://assets.ubuntu.com/v1/4de1c56c-404_v1.svg" alt="Error owl" width="400" height="400" class="p-image--smaller-mobile"/>
    </div>
    <div class="col-7 col-start-large-6">
      <h1 class="p-heading--2">500: This page isn’t working</h1>
      <p>
        <strong>We are sorry, the page you requested isn't currently available.</strong>
        Our servers may be having some issues loading this page. This could be because we are doing some maintenance and the site will be up soon. Please try again later.
      </p>
      <p>You may want to do a new search:</p>
      <!-- TO DO - update url for search page -->
      <form action="/search" class="p-form p-form--inline">
        <div class="p-form__group">
          <div class="p-form__control u-clearfix">
            <label for="search-input" class="u-off-screen">Search</label>
            <input type="search" name="q" id="search-input" placeholder="Search" required>
          </div>
        </div>
        <button type="submit" alt="search" class="p-button--positive">Search</button>
      </form>
      <p>Or return to the <a href="/">homepage</a>.</p>
    </div>
  </div>
</div>
{% endblock content %}