<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TO DO - update description and google drive link -->
    <meta name="description" content="{% block meta_description %}Charm Hub{% endblock %}" />
    <meta name="copydoc" content="{% block meta_copydoc %}https://drive.google.com/drive/u/1/folders/1gqxew2MS9-OkQF5bTStPgmyLS35JpztF{% endblock %}">
    <meta name="author" content="Canonical Ltd" />
    {% block meta %}{% endblock meta %}

    <title>{% block title %}charmhub.io{% endblock title %}</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NNT2XX6');</script>
    <!-- End Google Tag Manager -->

    <link rel="preconnect" href="https://assets.ubuntu.com">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />

    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/751b08fb-favicon.ico"
      type="image/x-icon"
    />

    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNT2XX6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script src="{{ versioned_static('js/dist/global-nav.js') }}"></script>
    {% include "partial/_navigation.html" %}

    <main>
      {% block content %}{% endblock content %}
    </main>

    {% include 'partial/_footer.html' %}

    <script src="{{ versioned_static('js/dist/base.js') }}"></script>

    {% block page_scripts %}{% endblock page_scripts %}

  </body>
</html>
