<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Charmhub | {% block meta_title %}The Open Operator Collection{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Take control of your applications and infrastructure across hybrid cloud, Kubernetes (K8s) and VM environments.{% endblock %}" />

    <meta name="msvalidate.01" content="F922865A678BADA5E7209E29B2656AA6" />

   {% block meta %}
     <meta property="og:title" content="{{ self.meta_title() }}"/>
     <meta property="og:site_name" content="Charmhub"/>
     <meta property="og:type" content="{% block meta_type %}website{% endblock %}"/>
     <meta property="og:description" content="{{ self.meta_description() }}"/>
     <meta property="og:image" content="{% block meta_image %}https://assets.ubuntu.com/v1/5e6fb404-charmhub.svg{% endblock %}" />
     <meta property="og:image:width" content="{% block meta_image_width %}3188{% endblock %}" />
     <meta property="og:image:height" content="{% block meta_image_height %}1000{% endblock %}" />
     <meta property="og:image:alt" content="{% block meta_image_alt %}Canonical Charmhub banner{% endblock %}" />
     <meta property="og:url" content="https://charmhub.io{% block meta_path %}{{ path }}{% endblock %}" />
     <meta property="twitter:card" content="{% block meta_twitter_card %}summary_large_image{% endblock %}" />
     <meta property="twitter:site" content="@juju_devops" />
     <meta property="twitter:creator" content="@juju_devops" />
     <meta property="twitter:image" content="{{ self.meta_image() }}" />
     <meta property="twitter:url" content="https://charmhum.io{{ self.meta_path() }}" />
  {% endblock %}

    <meta name="copydoc" content="{% block meta_copydoc %}https://drive.google.com/drive/u/1/folders/1gqxew2MS9-OkQF5bTStPgmyLS35JpztF{% endblock %}">
    {% block extra_meta %}{% endblock %}
    <link rel="canonical" href="https://charmhub.io{{ request.path }}" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NNT2XX6');</script>
    <!-- End Google Tag Manager -->

    <script src="https://assets.ubuntu.com/v1/703e23c9-lazysizes+noscript+native-loading.5.1.2.min.js" defer></script>

    <link rel="preconnect" href="https://res.cloudinary.com">

    <link rel="preconnect" href="https://assets.ubuntu.com">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ versioned_static('css/styles.css') }}" />

    <link rel="icon" type="image/png"  href="{{ versioned_static('images/favicon.png') }}" />

    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>
    <link rel="search" type="application/opensearchdescription+xml" title="Charmhub" href="/static/opensearch.xml" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNT2XX6"
    height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include "partial/_navigation.html" %}

    <main id="main-content">
      {% block content %}{% endblock content %}
    </main>

    {% include 'partial/_footer.html' %}

    <!-- Set default Marketo information for contact form below-->
    <div class="u-hide" id="contact-form-container" data-form-location="/get-in-touch" data-form-id="1337" data-lp-id="2313" data-return-url="http://charmhub.io/thank-you" data-lp-url=""></div>

    <script src="{{ versioned_static('js/dist/base.js') }}"></script>
    <script src="{{ versioned_static('js/dist/navigation-events.js') }}"></script>

    <script src="{{url_for('static', filename='js/build/global-nav/global-nav.js')}}"></script>
    <script>
      canonicalGlobalNav.createNav({ breakpoint: 1110 });
    </script>

    {% block page_scripts %}{% endblock page_scripts %}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@id": "https://charmhub.io/#organization",
        "@type": "Organization",
        "name": "Charmhub",
        "logo": "https://assets.ubuntu.com/v1/3c4a2ba6-Canonical-Charmhub-2022.svg",
        "url": "https://charmhub.io",
        "sameAs": [
          "https://github.com/canonical/operator/",
          "https://en.wikipedia.org/wiki/Juju_(software)",
          "https://twitter.com/juju_devops",
          "https://www.youtube.com/@jujucharms"
        ]
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@id": "https://charmhub.ii/#website",
        "@type": "WebPage",
        "name": "Charmhub",
        "url": "https://charmhub.io{{ self.meta_path() }}"
      }
    </script>
    
    {% block structure_data_markup %}{% endblock %}
  </body>
</html>
