<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Charmhub - The Open Operator Collection{% endblock title %}</title>

    <meta name="description" content="{{ self.meta_description() }}" />
    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:description" content="{{ self.meta_description() }}" />
    <meta property="og:image" content="{% block meta_image %}https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill,w_1080,h_512/https://assets.ubuntu.com/v1/3f1974e5-CH+Logo+Metadata.jpg{% endblock %}" />
    <meta property="og:image:width" content="{% block meta_image_width %}1080{% endblock %}" />
    <meta property="og:image:height" content="{% block meta_image_height %}512{% endblock %}" />
    <meta property="og:image:alt" content="{% block meta_image_alt %}Charmhub banner{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://charmhub.io{{ request.path }}" />
    <meta property="twitter:title" content="{{ self.title() }}">
    <meta property="twitter:description" content="{{ self.meta_description() }}">
    <meta property="twitter:card" content="{% block meta_twitter_card %}summary_large_image{% endblock %}">
    <meta property="twitter:site" content="@ubuntucloud">
    <meta property="twitter:creator" content="@ubuntucloud">
    <meta property="twitter:image" content="{{ self.meta_image() }}">
    <meta property="copydoc" content="{% block meta_copydoc %}https://drive.google.com/drive/u/1/folders/1gqxew2MS9-OkQF5bTStPgmyLS35JpztF{% endblock %}">
    {% block extra_meta %}{% endblock %}
    {% block structure_data_markup %}{% endblock %}
    <link rel="canonical" href="https://charmhub.io{{ request.path }}" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NNT2XX6');</script>
    <!-- End Google Tag Manager -->

    <script src="https://assets.ubuntu.com/v1/703e23c9-lazysizes+noscript+native-loading.5.1.2.min.js" defer></script>

    <link rel="preconnect" href="https://res.cloudinary.com">

    <link rel="preconnect" href="https://assets.ubuntu.com">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />

    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNT2XX6"
    height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include "partial/_navigation.html" %}

    <main id="main-content">
      {% block content %}{% endblock content %}
    </main>

    {% include 'partial/_footer.html' %}

    <!-- Set default Marketo information for contact form below-->
    <div class="u-hide" id="contact-form-container" data-form-location="/get-in-touch" data-form-id="1337" data-lp-id="2313" data-return-url="http://charmhub.io/thank-you" data-lp-url=""></div>

    <script src="{{ versioned_static('js/dist/base.js') }}"></script>
    <script src="{{ versioned_static('js/dist/navigation-events.js') }}"></script>

    {% block page_scripts %}{% endblock page_scripts %}

  </body>
</html>
