{% extends 'base_layout.html' %}

{% block meta_description %}Charmhub: The app store for clouds{% endblock %}

{% block content %}
<div class="p-strip--header is-shallow">
  <div class="row">
    <div class="col-8">
      <div class="p-charm-header">
        <div class="p-media-object--medium u-no-margin--bottom">
          <div class="{% if package_type == "bundle" %}p-bundle-icons{% endif %}">
            {% for media in package.info.media %}
            {% if media.type == "icon" %}
            <img src="{{ media.url }}" class="{% if package_type == "bundle"%}p-bundle-icons__image{% else %}p-media-object__image{% endif %}" alt="" />
            {% endif %}
            {% endfor %}
          </div>
          <div class="p-media-object__details">
            <h1 class="p-media-object__title">
              {{ package.name }}
            </h1>
            <div class="p-media-object__content u-no-margin--bottom">
              <ul class="p-inline-list--middot">
                <li class="p-inline-list__item">
                  By <a href="#">{{ package.publisher_name }}</a>
                  {% if developer_validation == "verified" %}
                    <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
                      <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
                      <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
                    </span>
                  {% endif %}
                </li>
                <li class="p-inline-list__item">
                  <a href="/">Openstack</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% include "partial/_channel-map.html" %}
        <p class="p-charm-header__code"><code>juju deploy <span data-js="channel-cli">{{ package.name }}</span></code></p>
      </div>
    </div>
    <div class="col-4">
      <img src="https://assets.ubuntu.com/v1/adac6928-ubuntu.svg" alt="" width="89" height="20">
      <div class="series-tags">
        {% for supported_os in package.supported_os_list %}
        <span class="series-tag">
          {{ supported_os }}
        </span>
        {% endfor %}
      </div>
      <p>Also supports: <a href="/">Kubernetes</a></p>
    </div>
  </div>
</div>
<div class="p-strip is-deep u-no-padding--top">
  {% include "partial/_tabs-navigation.html" %}

  {% include "partial/_tab-overview.html" %}
  {% include "partial/_tab-configuration.html" %}
  {% if package_type == "charm" %}
    {% include "partial/_tab-actions.html" %}
    {% include "partial/_tab-integrations.html" %}
    {% include "partial/_tab-docs.html" %}
  {% endif %}
  {% include "partial/_tab-history.html" %}
  {% include "partial/_tab-contribute.html" %}

  {% include "partial/_top-bundles.html" %}
</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/details.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    //charmhub.details.tabs("[data-js='tabs']");
    charmhub.details.init("{{package.name }}");
  });
</script>
{% endblock %}
