{% extends 'base_layout.html' %}

<!-- To DO - update copydoc and description -->
{% block meta_copydoc %}https://docs.google.com/document/d/1WcNN2RlQQrbLSP5ZgcIsAeQAHj5h_yDW6Yd5oBMmU3M{% endblock meta_copydoc %}

{% block meta_description %}Charmhub description{% endblock %}

{% block content %}
<div class="p-strip--header is-shallow">
  <div class="row">
    <div class="col-8">
      <div class="p-charm-header">
        <div class="p-media-object--medium u-no-margin--bottom">
          {% if package_type == "charm" %}
          <img src="{{ package.store_front.icons[0] }}" class="p-media-object__image">
          {% else %}
          <div class="p-bundle-icons">
            {% for bundle in bundle_content %}
              {% if loop.index0 < 3 %}
              <img src="{{ bundle.icon_url }}" class="p-bundle-icons__image" alt="">
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          <div class="p-media-object__details">
            <h1 class="p-media-object__title">
              {{ package.name }}
            </h1>
            <div class="p-media-object__content u-no-margin--bottom">
              <ul class="p-inline-list--middot">
                <li class="p-inline-list__item">
                  By <a href="#">{{ package.publisher_name }}</a>
                  {% if developer_validation == "verified" %}
                    <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
                      <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
                      <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
                    </span>
                  {% endif %}
                </li>
                <li class="p-inline-list__item">
                  <a href="/">Openstack</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- TO DO - add dropdown functionality -->
        <button class="p-button--neutral u-no-margin--bottom" data-controls="channel-map-versions"
          aria-controls="channel-map-versions">
          latest/stable 7.20.1&nbsp;&nbsp;<i class="p-icon--contextual-menu"></i>
        </button>
        <p class="p-charm-header__code"><code>juju deploy {{ package.name }}</code></p>
      </div>
    </div>
    <div class="col-4">
      <img src="https://assets.ubuntu.com/v1/adac6928-ubuntu.svg" alt="" width="89" height="20">
      <div class="series-tags">
        {% for supported_os in package.supported_os_list %}
        <span class="series-tag">
          {{ supported_os }}
        </span>
        {% endfor %}
      </div>
      <p>Also supports: <a href="/">Kubernetes</a></p>
    </div>
  </div>
</div>
<div class="p-strip is-deep u-no-padding--top">
  {% include "partial/_tabs-navigation.html" %}

  {% include "partial/_tab-overview.html" %}
  {% include "partial/_tab-configuration.html" %}
  {% if package_type == "charm" %}
    {% include "partial/_tab-actions.html" %}
    {% include "partial/_tab-integrations.html" %}
    {% include "partial/_tab-docs.html" %}
  {% endif %}
  {% include "partial/_tab-history.html" %}
  {% include "partial/_tab-contribute.html" %}

  {% include "partial/_top-bundles.html" %}
</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/details.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.details.test()
  });
</script>
{% endblock %}
