<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}Charmhub - The Open Operator Collection{% endblock %}</title>

  <!-- Preconnect to establish early connections to important third-party origins -->
  <link rel="preconnect" href="https://assets.ubuntu.com">

  {% if store_design %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/styles.css')}}" />
  {% else %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ versioned_static('css/styles-embedded.css') }}" />
  {% endif %}

  <meta name="description" content="{% block meta_description %}Universal operators for application lifecycle management on Linux, Windows and Kubernetes.{% endblock %}">
  <meta name="robots" content="noindex">

  <meta property="og:title" content="{{ self.meta_title() }}" />
  <meta property="og:site_name" content="Charmhub" />
  <meta property="og:type" content="{% block meta_type %}website{% endblock %}" />
  <meta property="og:description" content="{{ self.meta_description() }}" />
  <meta property="og:image" content="{% block meta_image %}https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill,w_1080,h_512/https://assets.ubuntu.com/v1/3f1974e5-CH+Logo+Metadata.jpg{% endblock %}" />
  <meta property="og:url" content="https://charmhub.io/{{ package.name }}" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@ubuntucloud" />
  <meta property="twitter:creator" content="@ubuntucloud" />
  <meta property="twitter:url" content="https://charmhub.io/{{ package.name }}" />

  <link rel="apple-touch-icon" href="https://assets.ubuntu.com/v1/905b8df0-apple-touch-icon-180x180-precomposed.png" />
  <base target="_blank">
</head>

<body>
{% if store_design %}
  <div id="{{ package.name }}" style="padding: 2px;">
    <a href="/{{ package.name }}" class="p-card--button" style="margin-bottom: 0;">
      {% if package.type == "bundle" %}
        <div class="p-card__header">
          <h3 class="p-muted-heading">Bundle</h3>
          <h3 class="p-card__title p-heading--4 u-no-margin--bottom package-card-title">{{ package.store_front["display-name"] }}</h3>
          <p class="u-text--muted u-no-padding--top package-card-publisher" style="white-space: nowrap;">{{ package.store_front.publisher_name }}</p>
        </div>
        <div class="p-card__content">
          <div class="p-bundle-icons">
            {% if package.store_front.bundle.charms %}
              {% set charms = package.store_front.bundle.charms %}
              {% for charm in charms %}
                <img src="/{{charm.name}}/icon" alt="" width="24" height="24" />
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="p-card__footer" data-js-card-footer>
          {% if "kubernetes" in package.store_front["deployable-on"] %}
            <div class="package-card-icons"><img alt="Kubernetes" src="https://assets.ubuntu.com/v1/f1852c07-Kubernetes.svg" width="24" height="24"></div>
          {% endif %}
          {% if "windows" in package.store_front["deployable-on"] %}
            <div class="package-card-icons"><img alt="Kubernetes" src="https://assets.ubuntu.com/v1/ff17c4fe-Windows.svg" width="24" height="24"></div>
          {% endif %}
          {% if "vm" in package.store_front["deployable-on"] %}
            <div class="package-card-icons"><img alt="Machine" src="https://assets.ubuntu.com/v1/bf61e269-machine-badge.svg" width="24" height="24"></div>
          {% endif %}
        </div>
      {% else %}
        <div class="p-card__header">
          <div class="p-card__thumbnail-container">
            <img src="{% if package.store_front.icons %}{{ package.store_front.icons[0] }}{% else %}https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_64,h_64/https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg{% endif %}" alt="{{ package.name }}" class="p-card__thumbnail" loading="lazy" width="40" height="40" />
          </div>
          <h3 class="p-card__title p-heading--4 u-no-margin--bottom package-card-title">{{ package.store_front["display-name"] }}</h3>
          <p class="u-text--muted u-no-padding--top package-card-publisher" style="white-space: nowrap;">{{ package.store_front.publisher_name }}</p>
        </div>
        <div class="p-card__content">
          <p><small class="package-card-summary">{{ package.store_front.metadata.summary|truncate(90) }}</small></p>
        </div>
        <div class="p-card__footer" data-js-card-footer>
          {% if "kubernetes" in package.store_front["deployable-on"] %}
            <div class="package-card-icons"><img alt="Kubernetes" src="https://assets.ubuntu.com/v1/f1852c07-Kubernetes.svg" width="24" height="24"></div>
          {% endif %}
          {% if "windows" in package.store_front["deployable-on"] %}
            <div class="package-card-icons"><img alt="Kubernetes" src="https://assets.ubuntu.com/v1/ff17c4fe-Windows.svg" width="24" height="24"></div>
          {% endif %}
          {% if "vm" in package.store_front["deployable-on"] %}
            <div class="package-card-icons"><img alt="Machine" src="https://assets.ubuntu.com/v1/bf61e269-machine-badge.svg" width="24" height="24"></div>
          {% endif %}
        </div>
      {% endif %}
    </a>
  </div>
  {% if package.type == "bundle" %}
    <script src="{{ versioned_static('js/dist/store-details.js') }}"></script>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        charmhub.store.handleBundleIcons(document.querySelector(".p-card--button"));
      });
    </script>
  {% endif %}
{% else %}
  <div class="p-strip has-suru">
    <div class="row">
      <div class="p-charm-header">
        <div class="p-media-object--medium u-no-margin--bottom">
          <div class="p-media-object__image-container">
            <img src="{% if package.store_front.icons %}{{ package.store_front.icons[0] }}{% else %}https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_64,h_64/https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg{% endif %}" alt="" width="64" height="64" class="p-media-object__image">
          </div>
          <div class="p-media-object__details">
            <h1 class="p-media-object__title">
              {{ package.store_front["display-name"] }}
            </h1>
            <div class="p-media-object__content u-no-margin--bottom">
              <ul class="p-inline-list--middot u-no-margin--bottom">
                <li class="p-inline-list__item">
                  By {{ package.store_front.publisher_name }}
                  {% if developer_validation == "verified" %}
                  <span class="p-tooltip--top-center" aria-describedby="verified-tooltip">
                    {# forcing format to "svg" to avoid scaling issues with Cloudinary #}
                    {{ image(url="https://assets.ubuntu.com/v1/75654c90-rosette.svg",
                                    alt="",
                                    width="12",
                                    height="12",
                                    hi_def=True,
                                    loading="auto",
                                    fmt="svg") | safe
                    }}
                    <span class="p-tooltip__message" role="tooltip" id="verified-tooltip">Verified account</span>
                  </span>
                  {% endif %}
                </li>
                {% if package.store_front.categories %}
                <li class="p-inline-list__item">
                  <a href="/?filter={{ package.store_front.categories[0].slug }}">{{ package.store_front.categories[0].name }}</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-strip is-shallow">
    {% if button or show_summary %}
    <div class="row">
      <ul class="p-inline-list--stretch u-no-margin--bottom">
        {% if show_summary and package.store_front.metadata.summary %}
        <li class="p-inline-list__item">
          <p class="u-no-margin--bottom">{{ package.store_front.metadata.summary|truncate(90) }}</p>
        </li>
        {% endif %}
        {% if button %}
        <li class="p-inline-list__item">
          <img alt="" src="https://charmhub.io/static/images/badges/en/charmhub-{{ button }}.svg" />
        </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <div class="row">
      <ul class="p-inline-list--stretch">
        {% if show_platform %}
        <li class="p-inline-list__item u-flex">
          <p style="margin-inline-end: 0.5rem;">
            <small>Supports:</small>
          </p>
          <div class="series-tags">
            {% for version in package.store_front.platforms %}
            <span class="series-tag">
              {{ version }}
            </span>
            {% endfor %}
          </div>
        </li>
        {% endif %}
        <li class="p-inline-list__item">
          <p class="u-text--muted"><small>Last published {{ package["default-release"]["channel"]["released-at"] }}</small></p>
        </li>
      </ul>
    </div>
    <div class="row">
      <table class="u-no-margin--bottom">
        <thead>
          <tr>
            <th>Channel</th>
            <th>Version</th>
            <th>Published</th>
            {% if show_base %}<th>Runs on</td>{% endif %}
          </tr>
        </thead>
        <tbody>
          {% if show_channels %}
          {% for track, track_data in package.store_front.channel_map.items() %}
          {% for channel, channel_data in track_data.items() %}
          <tr>
            <td>{{ track }}/{{ channel }}</td>
            <td>{{ channel_data.latest.version }}</td>
            <td>{{ channel_data.latest.release_date }}</td>
            {% if show_base %}
              <td>
                <div class="series-tags u-no-margin--top">
                  {% for base in channel_data.latest.bases %}
                    <span class="series-tag">{{ base }}</span>
                  {% endfor %}
                </div>
              </td>
            {% endif %}
          </tr>
          {% endfor %}
          {% endfor %}
          {% else %}
          <tr>
            <td>{{ package["default-release"]["channel"]["track"] }}/{{ package["default-release"]["channel"]["risk"] }}</td>
            <td>{{ package["default-release"]["revision"]["version"] }}</td>
            <td>{{ package["default-release"]["channel"]["released-at"] }}</td>
            {% if show_base %}
              <td>
                <div class="series-tags u-no-margin--top">
                {% for base in package["default-release"]["revision"]["bases"] %}
                  <span class="series-tag">{{ base.name }} {{ base.channel }}</span>
                {% endfor %}
                </div>
              </td>
            {% endif %}
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <a class="p-embedded-card-link" href="/{{ package.name }}"></a>


  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@id": "https://charmhub.io/#organization",
      "@type": "Organization",
      "name": "Charmhub",
      "logo": "https://assets.ubuntu.com/v1/c3b8cc72-Charmhub_white_hex.svg",
      "url": "https://charmhub.io",
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@id": "https://charmhub.io/#website",
      "@type": "WebPage",
      "name": "Charmhub",
      "url": "https://charmhub.io/{{ package.name }}"
    }
  </script>
{% endif %}
</body>

</html>
