<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}Charmhub - The Open Operator Collection{% endblock %}</title>

  <!-- Preconnect to establish early connections to important third-party origins -->
  <link rel="preconnect" href="https://assets.ubuntu.com">

  {% if store_design %}
  {{ vite_import('static/sass/styles.scss') }}
  {% else %}
  {{ vite_import('static/sass/styles-embedded.scss') }}
  {% endif %}

  <meta name="description" content="{% block meta_description %}Universal operators for application lifecycle management on Linux, Windows and Kubernetes.{% endblock %}">
  <meta name="robots" content="noindex">

  <meta property="og:title" content="{{ self.meta_title() }}" />
  <meta property="og:site_name" content="Charmhub" />
  <meta property="og:type" content="{% block meta_type %}website{% endblock %}" />
  <meta property="og:description" content="{{ self.meta_description() }}" />
  <meta property="og:image" content="{% block meta_image %}https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill,w_1080,h_512/https://assets.ubuntu.com/v1/3f1974e5-CH+Logo+Metadata.jpg{% endblock %}" />
  <meta property="og:url" content="https://charmhub.io" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@ubuntucloud" />
  <meta property="twitter:creator" content="@ubuntucloud" />
  <meta property="twitter:url" content="https://charmhub.io" />

  <link rel="apple-touch-icon" href="https://assets.ubuntu.com/v1/905b8df0-apple-touch-icon-180x180-precomposed.png" />
  <base target="_blank">
</head>

<body>
  {% if store_design %}
    <div id="not-found" style="padding: 2px;">
    <span class="p-card--button" style="display: block; margin-bottom: 0;">
      <div class="p-card__header">
        
        <div class="p-card__thumbnail-container">
          <img src="https://assets.ubuntu.com/v1/4de1c56c-404_v1.svg" alt="Not found" class="p-card__thumbnail" style="border-radius: 0" loading="lazy" width="40" height="40">
        </div>

        <h3 class="p-card__title p-heading--4 u-no-margin--bottom package-card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">"{{ entity_name }}" not found</h3>
      </div>
      <div class="p-card__content" style="height: 5rem; max-height: 5rem;">
        <p><small class="package-card-summary">The requested charm or bundle could not be found, sorry.</small></p>
      </div>
    </span>
  </div>
  {% else %}
    <div class="p-strip">
      <div class="row">
        <div class="u-align--right col-small-1 col-medium-1 col-2">
          <img src="https://assets.ubuntu.com/v1/4de1c56c-404_v1.svg" alt="Charm not found">
        </div>
        <div class="u-align--left col-small-3 col-medium-5 col-10">
          <p class="p-heading--4 u-no-margin--bottom">"{{ entity_name }}" not found</p>
          <p>The requested charm or bundle could not be found, sorry.</p>
        </div>
      </div>
    </div>
  {% endif %}
</body>

</html>
