<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TO DO - update description and google drive link -->
    <meta name="description" content="{% block meta_description %}Charmhub{% endblock %}" />
    <meta name="copydoc" content="{% block meta_copydoc %}https://drive.google.com/drive/u/1/folders/1gqxew2MS9-OkQF5bTStPgmyLS35JpztF{% endblock %}">
    <meta name="author" content="Canonical Ltd" />

    <title>charmhub.io</title>

    <link rel="preconnect" href="https://assets.ubuntu.com">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />

    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/751b08fb-favicon.ico"
      type="image/x-icon"
    />

    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>

    <style>
      body {
        display: grid;
        grid-template-rows: 0 2rem 3rem auto 11.5rem;
      }

      main {
        align-items: center !important;
        display: grid;
      }
    </style>

  </head>

  <body>
    <script src="{{ versioned_static('js/dist/global-nav.js') }}"></script>
    <header id="navigation" class="p-navigation">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="/">
              <img class="p-navigation__image"
                   src="https://assets.ubuntu.com/v1/1f8628d2-Charmhub_white-orange_hex.svg" width="175" height="31"
                   alt="Charmhub" />
            </a>
          </div>
        </div>
          <nav class="p-navigation__nav">
            <span class="u-off-screen">
              <a href="#main-content">Jump to main content</a>
            </span>
            <ul class="p-navigation__links u-align-text--right" role="menu">
              <li class="p-navigation__link" role="menuitem">
                <a href="/login">Login</a>
              </li>
            </ul>
          </nav>
    </header>

    <main>
      <section class="p-strip">
        <div class="u-fixed-width">
          <h2>Charmhub will be coming soon.</h2>
          <a href="/login" class="p-button--positive">Login</a>
        </div>
      </section>
    </main>

    <footer class="p-footer">
      <div class="row">
        <div class="col-8">
          <p>&copy; {{ now('%Y') }} Canonical Ltd.</p>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item"><a href="https://ubuntu.com/legal" class="p-footer__link">Legal information</a></li>
            <li class="p-inline-list__item"><a href="https://github.com/canonical-web-and-design/charmhub.io/issues/new" class="p-footer__link">Report a bug on this website</a></li>
          </ul>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item"><a href="https://juju.is" class="p-footer__link">Learn about Juju</a></li>
          </ul>
        </div>
        <div class="col-4 u-align--right">
          <ul class="p-inline-list">
            <li class="p-inline-list__item">
              <a href="https://www.facebook.com/pages/Canonical/125818784107695?fref=ts" class="p-icon--facebook"></a>
            </li>
            <li class="p-inline-list__item">
              <a href="https://twitter.com/Canonical" class="p-icon--twitter"></a>
            </li>
            <li class="p-inline-list__item">
              <a href="https://www.youtube.com/user/celebrateubuntu" class="p-icon--youtube"></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="{{ versioned_static('js/dist/base.js') }}"></script>
    {% block page_scripts %}{% endblock page_scripts %}
  </body>
</html>
