<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charm icon validator</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-3.7.1.min.css" />
  </head>
  <body>
    <main id="main-content"></main>
    <script src="{{ versioned_static('js/dist/icon-validator.js') }}"></script>
  </body>
</html>
