{% extends 'base_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/194S-ZXaWOjB2wgkmZSET1anhzXBvO7AwFoy2yH-Z2HI{% endblock meta_copydoc %}

{% block meta_description %}The Open Operator Collection{% endblock %}

{% block content %}
<section class="p-strip--suru-bottom has-accent is-dark p-strip--charmhub">
  <div class="u-fixed-width">
    <h1 class="p-heading--2">The Open Operator Collection</h1>
    <a href="" class="p-button--positive">Read our Manifesto</a>
  </div>
</section>
<section class="p-strip">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">Featured Kubernetes Operators</h2>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/wordpress" class="p-card p-button">
        <div class="u-clearfix">
          <div class="u-float-left">
            <img src="https://api.jujucharms.com/charmstore/v5/postgresql-203/icon.svg" alt="" class="p-card__thumbnail">
          </div>
        </div>
        <h5 class="p-card__title u-no-margin--bottom">Postgresql</h5>
        <div class="p-card__content">
          <p class="u-text--subtle">by Postgresql Charmers</p>

          <p><small>PostgreSQL is a powerful, open source object-relational database...</small></p>
        </div>
      </a>
    </div>
    <div class="col-3">
      <a href="/wordpress" class="p-card p-button">
        <div class="u-clearfix">
          <div class="u-float-left">
            <img src="https://api.jujucharms.com/charmstore/v5/kafka-51/icon.svg" alt="" class="p-card__thumbnail">
          </div>
        </div>
        <h5 class="p-card__title u-no-margin--bottom">Kafka</h5>
        <div class="p-card__content">
          <p class="u-text--subtle">by BigData Charmers</p>
          
          <p><small>Kafka is a high-performance, scalable, distributed messaging...</small></p>
        </div>
      </a>
    </div>
    <div class="col-3">
      <a href="/wordpress" class="p-card p-button">
        <div class="u-clearfix">
          <div class="u-float-left">
            <img src="https://api.jujucharms.com/charmstore/v5/elasticsearch-43/icon.svg" alt="" class="p-card__thumbnail">
          </div>
        </div>
        <h5 class="p-card__title u-no-margin--bottom">Elasticsearch</h5>
        <div class="p-card__content">
          <p class="u-text--subtle">by Llama Charmers</p>

          <p><small>Distributed RESTful search and analytics.</small></p>
        </div>
      </a>
    </div>
    <div class="col-3">
      <a href="/wordpress" class="p-card p-button">
        <div class="u-clearfix">
          <div class="u-float-left">
            <img src="https://api.jujucharms.com/charmstore/v5/prometheus-7/icon.svg" alt="" class="p-card__thumbnail">
          </div>
        </div>
        <h5 class="p-card__title u-no-margin--bottom">Prometheus</h5>
        <div class="p-card__content">
          <p class="u-text--subtle">by Prometheus Charmers</p>

          <p><small>Prometheus is a systems and service monitoring system.</small></p>
        </div>
      </a>
    </div>
  </div>

  <div class="u-fixed-width">
    <a href="/store" class="p-button">Browse the collection</a>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">Pure Python Operators</h2>
    <h3 class="p-heading--4">Python rocks for DevSecOps</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Take “infrastructure as code” to the next level.</p>
      <p>Control all your K8s workloads with Python, a high-level language with a huge community. Reuse open-source Python libraries for all your integration. Get standard libraries for standard workloads such as MySQL, Postgres, Etcd, Vault, MongoDB, Cassandra, Prometheus, Kafka, Rsyslog, RabbitMQ and Elastic.</p>
      <p>The Python Operator Framework supports Linux and Windows, on x86 and ARM.</p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">Universal Operator Framework</h2>
    <h3 class="p-heading--4">Operators for legacy applications on VMs, clouds, and bare metal. YES.</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Go beyond config management with the operator pattern - control your software with software.</p>
      <p>That’s a hot new thing in Kubernetes, but it’s just as great for legacy estate. We also use operators for traditional applications on VMware or OpenStack, on public cloud, and on bare metal.</p>
      <p>A universal framework connects new workloads on Kubernetes with old workloads on legacy infrastructure, transparently and seamlessly, because both are driven by consistent operators.</p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">Community First</h2>
    <h3 class="p-heading--4">A great place to share code and get things done</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Welcome! This is an open community where new members and established experts share code, knowledge and ideas for the very best in devsecops.</p>
      <p>Our code of conduct and governance policy are ground rules for happy and productive work in the new world of Kubernetes operators. The Open Operator Manifesto sets the bar for the best in operator technology.</p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">Integration Included</h2>
    <h3 class="p-heading--4">Application awareness with packaged integration</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Application relationships are first class in the Python Operator Framework. Every operator is aware of the applications it can connect to, and the integration code is packaged in the operator.</p>
      <p>Great operators manage much more than the application lifecycle. They understand that enterprise software is always integrated with other software. The best operators handle the application graph, with dynamic lines of integration that evolve over time, as you integrate more apps, because that’s what happens in real life.</p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">Open Source</h2>
    <h3 class="p-heading--4">Apache licensed framework gives you the freedom to choose</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <p>We prefer open source, but the Apache License used by the Python Operator Framework and Interface Libraries gives you the freedom to publish your own operators under the license of your choice.</p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">About Operators</h2>
    <h3 class="p-heading--4">Software that runs software. What could go wrong?</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Containers are amazing, with a lot of complexity and detail. It is hard to drive them correctly. The operator pattern is automation for speed and correctness.</p>
      <p>Think of an operator as a software robot that knows everything the world’s best admins know about running a particular workload. It captures in code the best practices for installing, integrating, upgrading, scaling and assessing that workload. Using the operator is like hiring the world’s best specialist administrator for that workload. Free.</p>
      <p>Learn more about operators, and read our <a href="">Open Operator Manifesto</a>, the critical factors for modern devsecops.</p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">Beyond Configuration Management</h2>
    <h3 class="p-heading--4">Stop maintaining so much homegrown operations stuff</h3>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Traditional config management doesn’t capture knowledge in a general way. Each deployment is hardcoded. There is little efficient ops code reuse. You may be able to find snippets of code that are useful to cut-and-paste, but then you are maintaining everything.</p>
      <p>Open operators fix that. They separate ops code from the deployment-specific model, so an open operator is completely reusable in other scenarios and other organisations.</p>
      <p>Reuse community operators. If you need to create one, write it once - properly - and share it, then the maintenance burden is shared as well.</p>
    </div>
  </div>
</section>
{% endblock %}
