{% extends 'base_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1WcNN2RlQQrbLSP5ZgcIsAeQAHj5h_yDW6Yd5oBMmU3M{% endblock meta_copydoc %}

{% block meta_description %}Charmhub description{% endblock %}

{% block content %}
<section class="p-strip--charmhub is-shallow is-dark">
  <div class="u-fixed-width">
    <h1 class="p-heading--2">The app store for clouds</h1>
    <p>Find and deploy <a href="" class="p-link--inverted">Juju</a> solutions.</p>
  </div>
</section>
<section class="p-strip--main">
  <div class="row">

    {% include "partial/_side-navigation.html" %}

    <div class="col-9">
      <div class="row u-vertically-center">
        <div class="col-2">
          <h4 class="p-muted-heading u-float-left">326 items</h4>
        </div>
        <div class="col-3 col-start-large-7">
          <!-- TO DO - add filter functionality -->
          <select name="filter">
            <option disabled="disabled" value="" selected="">Sort by</option>
            <option value="/careers/engineering">Most popular</option>
            <option value="/careers/tech-ops">Name A/Z</option>
            <option value="/careers/commercial-ops">Name Z/A</option>
            <option value="/careers/commercial-ops">Author</option>
            <option value="/careers/all">Featured</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-card">
            <div class="u-clearfix">
              <div class="u-float-left">
                <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" class="p-card__thumbnail">
              </div>
              <div class="u-float-right">
                <a href="#"><img src="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg" alt="" class="p-card__thumbnail--small"></a>
                <a href="#"><img src="https://assets.ubuntu.com/v1/afe7c4c4-picto-ubuntu_smaller.svg" alt="" class="p-card__thumbnail--small"></a>
              </div>
            </div>
            <h5 class="p-card__title u-no-margin--bottom">Kibana</h5>
            <div class="p-card__content">
              <p class="u-text--subtle">by containers</p>
              <p><small>Kibana lets you visualize your Elasticsearch data and the&hellip;</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-fixed-width">
        <div class="u-align--center"><i class="p-icon--spinner u-animation--spin"></i></div>
      </div>
    </div>
</section>
{% endblock %}
