<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}Charmhub - The Open Operator Collection{% endblock %}</title>
  <link rel="preconnect" href="https://assets.ubuntu.com">
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/styles.css')}}" />
  <base target="_blank">
</head>
<body>
  <div style="margin-bottom: 0.25rem">
    <img src="{% if package.store_front.icons %}{{ package.store_front.icons[0] }}{% else %}https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_24,h_24/https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg{% endif %}" alt="{{ package.name }}" loading="lazy" width="24" height="24">
  </div>
  <div style="margin-bottom: 0.25rem" class="u-truncate" title="{{ package.store_front['display-name'] }}">
    <a href="/{{ package.name }}">{{ package.store_front["display-name"] }}</a>
  </div>
  <div class="u-truncate" style="margin-bottom: 0.25rem" title="{{ package.store_front.publisher_name }}">
    <em class="u-text-muted">{{ package.store_front.publisher_name }}</em>
    &nbsp;
    {% if "kubernetes" in package.store_front["deployable-on"] %}
      <img alt="Kubernetes" src="https://assets.ubuntu.com/v1/f1852c07-Kubernetes.svg" width="16" height="16">
    {% endif %}
    {% if "windows" in package.store_front["deployable-on"] %}
      <img alt="Windows" src="https://assets.ubuntu.com/v1/ff17c4fe-Windows.svg" width="16" height="16">
    {% endif %}
    {% if "vm" in package.store_front["deployable-on"] %}
      <img alt="Machine" src="https://assets.ubuntu.com/v1/bf61e269-machine-badge.svg" width="16" height="16">
    {% endif %}
  </div>
  <div class="u-text-muted" style="margin-bottom: 1rem">
    {{ package["default-release"].channel.track }}/{{ package["default-release"].channel.name }}
  </div>
  {% if libraries %}
    <div class="u-align--right">
      <hr style="margin-bottom: 0.75rem" />
      <div>
        <a href="/{{ package.name }}/libraries">See libraries</a>
      </div>
    </div>
  {% endif %}
</body>
</html>
