<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}Charmhub - The Open Operator Collection{% endblock %}</title>
  <link rel="preconnect" href="https://assets.ubuntu.com">
  <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/styles.css')}}" />
  <base target="_blank">
</head>
<body>
  <div style="margin-bottom: 0.25rem">
    <img src="https://assets.ubuntu.com/v1/4de1c56c-404_v1.svg" alt="Not found" loading="lazy" width="24" height="24">
  </div>
  <div style="margin-bottom: 0.25rem">
    {{ entity_name }} not found
  </div>
  <div>
    <em class="u-text-muted">The requested charm or bundle could not be found, sorry.</em>
  </div>
</body>
</html>
