{% extends 'base_layout.html' %}

{% block meta_description %}Universal operators for application lifecycle management on Linux, Windows and Kubernetes{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1mps4SOa8_DA25fccYor3wxwV3ulQiD-uaocDHmaGmhw{% endblock meta_copydoc %}

{% block content %}
  {% include "partial/_header-strip.html" %}

  <section class="p-strip">
    <div class="u-fixed-width">
      <div class="u-flex" style="justify-content: center;">
        <div class="u-vertically-center" style="margin-right: 2rem;">
          {{
            image(
              url="https://assets.ubuntu.com/v1/05dad221-info.svg",
              alt="",
              width="70",
              height="70",
              hi_def=True,
            ) | safe
          }}
        </div>
        <div>
          <h1 class="p-heading--three">Maintenance</h1>
          <p class="p-heading--four u-no-max-width">Store in maintenance, we'll be back soon.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
