{% extends 'base_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/194S-ZXaWOjB2wgkmZSET1anhzXBvO7AwFoy2yH-Z2HI{% endblock meta_copydoc %}

{% block meta_description %}Better operators for the whole estate{% endblock %}

{% block content %}
<section class="p-strip--overview is-dark is-slanted--right-blue" style="padding-block-end: 3rem; padding-block-start: 2rem;">
  <div class="u-fixed-width">
    <h1>Better operators for the whole estate</h1>
    <p class="p-heading--4"><a href="/manifesto" class="p-link--inverted">Read our manifesto</a></p>
  </div>
</section>
<section class="p-strip--accent">
  <div class="row">
    <div class="col-5">
      <h2>Pure Python Operators</h2>
      <h3 class="p-heading--4">Python rocks for DevSecOps</h3>
      <p>Next level infrastructure-as-code.</p>
      <p>Community-driven Python for Prometheus, Grafana, Kafka, Graylog, Elastic, MySQL, Postgres, Etcd, Vault, MongoDB, Cassandra, Rabbit and more.</p>
      <p>Python rocks for DevSecOps.</p>
    </div>
    <div class="col-6 col-start-large-7 u-align--center u-hide--small">
      {{
        image(
          url="https://assets.ubuntu.com/v1/3504784e-Charms.svg",
          alt="",
          width="322",
          height="322",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">

  </div>
</section>



<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Operators for &lsquo;legacy&rsquo; apps</h2>
      <h3 class="p-heading--4">Traditional apps on VMs, IAAS, and bare metal need operators too</h3>
    </div>
    <div class="col-6 col-start-large-7">
      <p>Operators are a hot new thing in Kubernetes but they are just as great for legacy estate.</p>
      <p>We also host operators for traditional applications on VMware, OpenStack, public cloud, and bare metal, which integrate seamlessly with those on K8s.</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <ul class="p-inline-images">
      <li class="p-inline-images__item">
        <img class="p-inline-images__logo" style="width: 80px;" src="https://assets.ubuntu.com/v1/a82add58-profile-aws.svg" alt="AWS" width="80" height="48">
      </li>
      <li class="p-inline-images__item">
        <img class="p-inline-images__logo" style="width: 120px;" src="https://assets.ubuntu.com/v1/e3914def-partner-logo-azure.svg" alt="Azure" width="120" height="35">
      </li>
      <li class="p-inline-images__item">
        <img class="p-inline-images__logo" style="width: 144px;" src="https://assets.ubuntu.com/v1/314085ad-openstack.svg" alt="OpenStack" width="144" height="37">
      </li>
      <li class="p-inline-images__item">
        <img class="p-inline-images__logo" style="width: 144px;" src="https://assets.ubuntu.com/v1/e795fc84-Google_Cloud_Logo.svg" alt="Google Cloud" width="144" height="23">
      </li>
      <li class="p-inline-images__item">
        <img class="p-inline-images__logo" style="width: 120px;" src="https://assets.ubuntu.com/v1/038514e8-MAAS_black-orange_rgb.svg" alt="Maas" width="120" height="32">
      </li>
    </ul>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>SAAS operators</h2>
      <h3 class="p-heading--4">Integrate with SAAS transparently</h3>
      <p>Our universal Python Operator Framework handles SAAS too.</p>
      <p>For example, a SAAS MySQL looks and behaves just like a local MySQL as far as the other operators are concerned, so you can choose how you deliver the database in any deployment scenario.</p>
    </div>
    <div class="col-6 col-start-large-7 u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/f18fa257-Charmhub-SAAS+Operators+1.svg",
          alt="",
          width="322",
          height="217",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Model-driven operator lifecycle manager</h2>
      <h3 class="p-heading--4">Integrated view of application scale, topology, lifecycle and configuration</h3>
    </div>
    <div class="col-6 col-start-large-7">
      <p>Standalone operators from individual vendors with no common model are hard to integrate because they all behave differently.</p>
      <p>That&rsquo;s why our <a href="https://juju.is/" class="p-link--external">Operator Lifecycle Manager</a> is completely model-driven, it understands ALL the operators and provides a unified view.</p>
    </div>
  </div>
</section>

<section class="p-strip--half-and-half">
  <div class="row">
    <div class="col-5">
      <h2>Community First</h2>
      <h3 class="p-heading--4">A great place to share code and get things done</h3>
      <p>We believe in vendor and community&dash;driven operators that work together smoothly. Create an operator, with shared Python libraries to integrate with other apps here.</p>
      <p>Our <a href="https://ubuntu.com/community/code-of-conduct" class="p-link--external">code of conduct</a> governs collaboration and the <a href="/manifesto">Open Operator Manifesto</a> is our mission statement.</p>
      <a href="/governance" class="p-button--neutral">Learn more about our governance</a>
    </div>
    <div class="col-6 col-start-large-7 u-align--center u-hide--small">
      {{
        image(
          url="https://assets.ubuntu.com/v1/b25414b3-Community.svg",
          alt="",
          width="520",
          height="320",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Amazing integration</h2>
      <h3 class="p-heading--4">Application topology awareness and pre-packaged integration code</h3>
      <p>Application integration is a first class aspect of the Python Operator Framework.</p>
      <p>Every operator declares the apps it can integrate with, and integration code is pre-packaged in the operator. Just connect apps to integrate them.</p>
      <p>Great operators manage more than app lifecycle, they handle the application graph, with dynamic integration that evolves over time with new apps, because that’s real life.</p>
    </div>
    <div class="col-6 col-start-large-7 u-align--center u-vertically-center u-hide--small">
      {{
        image(
          url="https://assets.ubuntu.com/v1/52579016-JAAS+diagram-update.svg",
          alt="",
          width="464",
          height="431",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<div class="u-fixed-width"><hr></div>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Open Source</h2>
      <h3 class="p-heading--4">Apache licensed framework gives you the freedom to choose</h3>
      <p>We prefer open source, but the Apache License used by the Python Operator Framework and integration libraries gives you the freedom to publish your own operators under any license.</p>
    </div>
    <div class="col-6 col-start-large-7 u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/2b693e9e-Apache.svg",
          alt="",
          width="136",
          height="240",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Beyond day 2, think about day 1500</h2>
      <h3 class="p-heading--4">Everyday tasks and operations, encoded and shared</h3>
    </div>
    <div class="col-6 col-start-large-7">
      <p>It&rsquo;s not about standing workloads up fast, Kubernetes already does that. And it’s not about smooth upgrades and rollbacks, which are standard in container workflows.</p>
      <p>It&rsquo;s about stepping back from all the details of all the operations of all the standard workloads, so that they become just like SAAS. Never compose low-level YAML. Never rebuild a container for security. Never write operations code for a workload that is something lots of people run.</p>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Cross platform Operator Framework</h2>
      <h3 class="p-heading--4">X86 and ARM architectures, on Linux and Windows</h3>
      <p>The Python Operator Framework handles cross&dash;platform operations in heterogeneous environments.</p>
      <p>Move your whole business to operators, whatever the application or the substrate. On cloud or bare metal. On containers or machines. This is the better way.</p>
    </div>
    <div class="col-6 col-start-large-7 u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/6bd4ea40-Charmhub-Cross+Platform+1.svg",
          alt="",
          width="322",
          height="206",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--charmhub is-slanted--left is-dark">
  <div class="row">
    <div class="col-5">
      <h2>About Operators</h2>
      <h3 class="p-heading--4">Software that runs software. What could go wrong?</h3>
    </div>
    <div class="col-6 col-start-large-7">
      <p>Containers are amazing, with a lot of detail. It is hard to drive them correctly through YAML.</p>
      <p>An operator is a software robot that knows everything the best sysadmins know about that workload. It encodes best practices for installing, integrating, upgrading, scaling and assessing that workload. Using the operator is like hiring the world’s best specialist administrator&dash;free.</p>
      <p>Learn more <a href="/about" class="p-link--inverted"> about operators</a>, and read our <a href="/manifesto" class="p-link--inverted">Open Operator Manifesto</a>, the critical factors for modern devsecops.</p>
      <a href="/about" class="p-button--neutral">Find out more</a>
    </div>
  </div>
</section>

<section class="p-strip" style="padding-block-end: 8rem;">
  <div class="row">
    <div class="col-5">
      <h2>Beyond Configuration Management</h2>
      <h3 class="p-heading--4">Stop maintaining so much homegrown operations code</h3>
    </div>
    <div class="col-6 col-start-large-7">
      <p>Traditional config management doesn&rsquo;t capture knowledge in a general way. Each deployment is hardcoded. There is little code reuse across teams and organisations. You may find snippets of code to cut&dash;and&dash;paste, but you maintain everything yourself.</p>
      <p>Open operators fix that. They separate workload operations code from the deployment&dash;specific scenario, so an open operator is completely reusable in other scenarios and other organisations.</p>
      <p>It&rsquo;s much better to reuse community operators. If you need to create one, write it properly and share it, then the maintenance burden is shared as well.</p>
      <a href="/" class="p-button--neutral">Browse the collection</a>
    </div>
  </div>
</section>
{% endblock %}
