{% extends 'base_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1WcNN2RlQQrbLSP5ZgcIsAeQAHj5h_yDW6Yd5oBMmU3M{% endblock meta_copydoc %}

{% block meta_description %}Charmhub description{% endblock %}

{% block content %}
{#<section class="p-strip p-strip--charmhub is-dark is-shallow">
  <div class="u-fixed-width">
    <h1 class="p-heading--2">The app store for clouds</h1>
    <p>Find and deploy <a href="" class="p-link--inverted">Juju</a> solutions.</p>
  </div>
</section>#}
<div class="p-sort" data-js="mobile-sort-handler">
  <div class="p-sort__title">
    Sort by
  </div>
  <form class="p-sort__content">
    <div class="p-sort__item">
      <input type="radio" name="sortMobile" id="featured" value="featured" {% if active_filter('sort', 'featured') %}checked{% endif %}>
      <label for="featured">Featured</label>
    </div>
    <div class="p-sort__item">
      <input type="radio" name="sortMobile" id="name-desc" value="name-desc" {% if active_filter('sort', 'name-desc') %}checked{% endif %}>
      <label for="name-desc">Name A/Z</label>
    </div>
    <div class="p-sort__item">
      <input type="radio" name="sortMobile" id="name-asc" value="name-asc" {% if active_filter('sort', 'name-asc') %}checked{% endif %}>
      <label for="name-asc">Name Z/A</label>
    </div>
  </form>
</div>
<section class="p-strip--main">
  <div class="row">

    {% include "partial/_filters.html" %}

</section>

{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/store.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    new charmhub.store.Filters({
      filter: "[data-js='filter-handler']",
      search: "[data-js='search-handler']",
      sort: "[data-js='sort-handler']",
      sortMobile: "[data-js='mobile-sort-handler']",
      sortMobileButton: "[data-js='mobile-sort-reveal-button']",
      filterMobileButton: "[data-js='mobile-filter-reveal-button']",
    });
  });
</script>
{% endblock %}
