{% extends 'base_layout.html' %}

{% block meta_copydoc %}https://docs.google.com/document/d/1WcNN2RlQQrbLSP5ZgcIsAeQAHj5h_yDW6Yd5oBMmU3M{% endblock meta_copydoc %}

{% block meta_description %}Charmhub description{% endblock %}

{% block content %}
<section class="p-strip--charmhub is-shallow is-dark">
  <div class="u-fixed-width">
    <h1 class="p-heading--2">The app store for clouds</h1>
    <p>Find and deploy <a href="" class="p-link--inverted">Juju</a> solutions.</p>
  </div>
</section>
<section class="p-strip--main">
  <div class="row">

    {% include "partial/_side-navigation.html" %}

    <div class="col-9">
      <div class="row u-vertically-center">
        <div class="col-2">
          <h4 class="p-muted-heading u-float-left">{{ results|length }} items</h4>
        </div>
        <div class="col-4 col-start-large-4">
          <form class="p-search-box">
            <input type="search" class="p-search-box__input" name="q" placeholder="Search" {% if q %}value="{{ q }}"{% endif %} />
            <button type="submit" class="p-search-box__button" alt="Search"><i class="p-icon--search"></i></button>
          </form>
        </div>
        <div class="col-2">
          <!-- TO DO - add filter functionality -->
          <select name="filter">
            <option disabled="disabled" value="" selected="">Sort by</option>
            <option value="/careers/engineering">Most popular</option>
            <option value="/careers/tech-ops">Name A/Z</option>
            <option value="/careers/commercial-ops">Name Z/A</option>
            <option value="/careers/commercial-ops">Author</option>
            <option value="/careers/all">Featured</option>
          </select>
        </div>
      </div>
      <div class="row u-equal-height">
      {% if results %}
        {% for package in results %}
          {% include "partial/_entity-card.html" %}
        {% endfor %}
      {% endif %}
      </div>
    </div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="{{ versioned_static('js/dist/store.js') }}" defer></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    charmhub.store.test()
  });
</script>
{% endblock %}
