{% extends 'publisher/publisher_layout.html' %}

{% block title %}Claim a name that is already registered{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% block content %}
<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <a href="/charms">&lsaquo;&nbsp;My charms &amp; bundles</a>
    <h1 class="p-heading--2">
      Claim the name <strong>{{ entity_name }}</strong>
    </h1>
    <p class="u-no-max-width">By completing this form you are requesting for this name to be transferred to you from its owner.</p>
    <form class="p-form p-form--stacked" action="" method="POST">
      <div class="p-form__group row u-no-padding">
        <div class="col-2">
          <p class="is-label">Charm/bundle name:</p>
        </div>
        <div class="col-6">
          <div class="p-form__control u-clearfix">
            <span>{{ entity_name }}</span>
            <input hidden="text" id="entity-name" name="entity-name" value="{{ entity_name }}">
          </div>
        </div>
      </div>
      <div class="p-form__group row u-no-padding">
        <div class="col-2">
          <label for="claim-comment" class="p-form__label">Comment:</label>
        </div>
        <div class="col-6">
          <div class="p-form__control u-clearfix">
            <textarea id="claim-comment" name="claim-comment"></textarea>
            <p class="p-form-help-text">Explain why you would like this name to be transferred from its current owner</p>
          </div>
        </div>
      </div>
      <hr class="p-separator--shallow">
      <div class="u-align--right">
        <a class="p-button--neutral" href="/charms" style="margin-inline-end: 1rem;">Cancel</a>
        <button type="submit" class="p-button--positive">
          Submit claim
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
