{% extends 'publisher/publisher_layout.html' %}

{% block title %}Thank you forrequesting the name {{ entity_name}}{% endblock %}
{% block meta_copydoc %}{% endblock meta_copydoc %}
{% block meta_description %}{% endblock %}

{% block content %}
<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <a href="/charms">&lsaquo;&nbsp;My charms &amp; bundles</a>
    <h1 class="p-heading--2">
      Thank you for requesting the name <strong>{{ entity_name }}</strong>
    </h1>
    <p>We will process the details provided with the name dispute.</p>
    <p>Each case is reviewed individually and we can’t provide an estimate on how long it will take for us to process this information. We will contact you once we confirm the information provided.</p>
    <p>
      <a href="/charms" class="p-button--positive">Return to my charms</a>
    </p>
  </div>
</section>
{% endblock %}
