<div class="p-charm-header__container">
  <div style="position: relative;">
    <button class="p-button p-channel-map__button" data-controls="channel-map-versions" aria-controls="channel-map-versions" data-js="channel-map">
      <span data-js="channel-map-selected">
        {{ package["default-release"].channel.name }} {{ package["default-release"].revision.version }}
      </span>
      &nbsp;&nbsp;<i class="p-icon--chevron-down"></i>
    </button>
    <div class="p-channel-map u-hide">
      <div class="p-channel-map__mask">
      </div>
      <div class="p-card--highlighted p-channel-map__content">
        <div class="u-fixed-width">
          <div class="p-form p-form--inline">
            <div class="p-form__group">
              <label class="p-form__label">Architecture:</label>
              <div class="p-form__control">
                <select data-js="channel-map-filter">
                  <option value="any">Any</option>
                  {% for arch in package.store_front.all_architectures %}
                  <option value="{{ arch }}">{{ arch }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="u-fixed-width">
          <table class="p-table--mobile-card">
            <thead>
              <tr>
                <th>Channel</th>
                <th>Version</th>
                <th>Revision</th>
                <th>Published</th>
                <th>Runs on</th>
              </tr>
            </thead>
            <tbody>
              {% for track, track_data in package.store_front.channel_map.items() %}
              {% for channel, channel_data in track_data.items() %}
              <tr data-channel-map-track="{{ track }}" data-channel-map-channel="{{ channel }}" data-channel-map-version="{{ channel_data.latest.version }}" data-channel-map-filter="{% for release, release_data in channel_data.releases.items() %}{% for arch in release_data.architectures %} {{ arch }} {% endfor %}{% endfor %}">
                <td data-heading="Channel">{{ track }}/{{ channel }}</td>
                <td data-heading="Version">{{ channel_data.latest.version }}</td>
                <td data-heading="Revision">{{ channel_data.latest.revision.revision }}</td>
                <td data-heading="Published">{{ channel_data.latest.released_at }}</td>
                <td data-heading="Runs on">
                  <div class="series-tags u-no-margin--top">
                    {% for channel_base in package.store_front.all_channel_bases %}
                    {% if channel_base.channel == channel %}
                    {% for base in channel_base.bases %}
                      <span class="series-tag">{{ base }}</span>
                      {% endfor %}
                    {% endif %}
                    {% endfor %}
                  </div>
                </td>
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="p-charm-header__code">
    <div class="p-tooltip--information">
      <div>
        <code>juju deploy {{ package["name"] }}{% if package["default-release"]["channel"]["name"] and package["default-release"]["channel"]["name"] != "stable" %} --channel {{ package["default-release"]["channel"]["name"] }}{% endif %}</code>
      </div>
      <div class="instruction-tooltip">
        <div class="p-tooltip__button" role="button" aria-controls="icon-tooltip-modal" tabindex="0">
          Show information
        </div>
        <div class="p-tooltip__modal" id="icon-tooltip-modal">
          <div class="p-tooltip__dialog" role="dialog" aria-labelledby="modal-content">
            <button class="p-tooltip__close" aria-controls="icon-tooltip-modal" aria-label="Close tooltip modal">Close</button>
            <span id="modal-content" class="u-no-margin--bottom u-no-padding--top">
              <p class="u-no-padding--top">You will need Juju 2.9 to be able to run this command. <a href="https://discourse.charmhub.io/t/juju-2-9-0-release-notes/4525">Learn how to upgrade to Juju 2.9</a>.</p>
              {% if package.store_front["deployable-on"]|length == 1 and package.store_front["deployable-on"][0] == "kubernetes" %}
              <p>Deploy Kubernetes operators easily with Juju, the <a href="https://juju.is/overview">Universal Operator Lifecycle Manager</a>. Need a Kubernetes cluster? Install <a href="https://microk8s.io/">MicroK8s</a> to create a full <a href="https://www.cncf.io/certification/software-conformance/">CNCF-certified</a> Kubernetes system in under 60 seconds.</p>
              <p class="u-no-margin--bottom"><a href="https://juju.is/docs/microk8s-cloud">Deploy using our Quickstart Guide</a></p>
              {% else %}
              <p>Deploy universal operators easily with Juju, the <a href="https://juju.is/overview">Universal Operator Lifecycle Manager</a>.</p>
              <p class="u-no-margin--bottom"><a href="https://juju.is/docs/deploying-applications#heading--deploying-from-the-charm-store">Learn how with our Quickstart Guide</a></p>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
