<div class="p-charm-header__container">
  <div style="position: relative;">
    <button class="p-button has-icon p-channel-map__button" data-controls="channel-map-versions" aria-controls="channel-map-versions" data-js="channel-map">
      <span data-js="channel-map-selected">
        {% set default_channel = package["default-release"].channel %}
        {{ default_channel.name }} {{ package.store_front.channel_map[default_channel.get("track", "latest")][default_channel.risk].latest.version }}
      </span>
      <i class="p-icon--chevron-down"></i>
    </button>
    <div class="p-channel-map u-hide">
      <div class="p-channel-map__mask">
      </div>
      <div class="p-card--highlighted p-channel-map__content">
        {% if package.type == "charm" %}
        <div class="u-fixed-width">
          <div class="p-form p-form--inline">
            <div class="p-form__group">
              <label class="p-form__label">Architecture:</label>
              <div class="p-form__control">
                <select data-js="channel-map-arch-filter">
                  <option value="any">Any</option>
                  {% for arch in package.store_front.all_architectures %}
                  <option value="{{ arch }}">{{ arch }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="p-form__group">
              <label class="p-form__label">Base version:</label>
              <div class="p-form__control">
                <select data-js="channel-map-base-filter">
                  <option value="any">Any</option>
                  {% for base_value,base in package.store_front.all_channel_bases.items() %}
                  <option value="{{ base_value }}">{{ base }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="u-fixed-width">
          <table class="p-table--mobile-card">
            <thead>
              <tr>
                <th>Channel</th>
                <th>Revision</th>
                <th>Published</th>
                {% if package.type == "charm" %}
                  <th>Runs on</th>
                {% endif %}
                {% if has_sboms %}
                  <th>Download SBOM</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for track, track_data in package.store_front.channel_map.items() %}
              {% for channel, channel_data in track_data.items() %}
              {% for release, release_data in channel_data.releases.items() %}
              <tr data-channel-map-track="{{ track }}" data-channel-map-channel="{{ channel }}" data-channel-map-version="{{ release_data.version }}" data-channel-map-arch-filter="{% for arch in release_data.architectures %} {{ arch }} {% endfor %}" data-channel-map-base-filter=" {% for channel_base in release_data.channel_bases %} {% for series in channel_base.channels %} {{ channel_base.name }}{{ series }} {% endfor %}{% endfor %}">
                <td data-heading="Channel">{{ track }}/{{ channel }}</td>
                <td data-heading="Revision">{{ release_data.revision.revision }}</td>
                <td data-heading="Published">{{ release_data.release_date }}</td>
                {% if package.type == "charm" %}
                  <td data-heading="Runs on">
                    <div class="series-tags u-no-margin--top">
                      {% for base in channel_data.all_bases %}
                    <span class="series-tag" data-base-supported-archs="{% for arch in base.architectures %}{{arch}} {% endfor %}" >{{ base.name }}</span>
                        {% endfor %}
                    </div>
                  </td>
                {% endif %}
                {% if has_sboms %}
                  <td 
                    data-heading="Download SBOM" 
                    data-js="sbom-cell"
                    data-sbom-url="/download/sbom_charm_{{package.id}}_{{release_data.revision.revision}}.spdx2.3.json"
                  >
                    Checking SBOM...
                  </td>
                {% endif %}
              </tr>
              {% endfor %}
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="p-charm-header__code">
    {% block juju_cmd %}
      {% set channel_cmd_part = "" %}
      {% set extra_flags_part = "" %}
      {% if package["default-release"]["channel"]["name"] and package["default-release"]["channel"]["name"] != "stable" %}
        {% set channel_cmd_part = " --channel " + package["default-release"]["channel"]["name"] %}
      {% endif %}
      {% if package["overlay_data"] and package["overlay_data"]["juju_cmd_extra_flags"] %}
        {% set extra_flags_part = " " + package["overlay_data"]["juju_cmd_extra_flags"] %}
      {% endif %}
      {% set deploy_command = "juju deploy " + package["name"] + channel_cmd_part + extra_flags_part %}
      <div class="p-code-snippet u-no-margin--bottom" style="position: relative;">
        <pre class="p-code-snippet__block is-wrapped" style="padding-right: 3.5rem;"><code id="deploy-command">{{ deploy_command }}</code></pre>
        <button
          type="button"
          class="p-button--base is-dense has-icon u-no-margin--bottom"
          aria-label="Copy deploy command"
          title="Copy deploy command"
          data-js="copy-deploy-command"
          style="position: absolute; top: 0.5rem; right: 0.5rem;"
        >
          <i class="p-icon--copy" aria-hidden="true">Copy deploy command</i>
        </button>
      </div>
    {% endblock %}
  </div>

  <div class="p-charm-header__action">
    <p>
      <a href="https://juju.is/docs/juju/manage-applications" class="" target="_blank" rel="noopener noreferrer">
        Learn to deploy on juju&nbsp;&gt;
      </a>
    </p>
  </div>
</div>
