<button class="p-button--neutral u-no-margin--bottom" data-controls="channel-map-versions" aria-controls="channel-map-versions" data-js="channel-map">
  <span data-js="channel-map-selected">
    {{ package["channel_selected"].channel.name }} {{ package["channel_selected"].revision.version }}
  </span>
  &nbsp;&nbsp;<i class="p-icon--contextual-menu"></i>
</button>
<div class="p-channel-map u-hide">
  <div class="p-channel-map__mask">
  </div>
  <div class="p-card--highlighted p-channel-map__content">
    <div class="u-fixed-width">
      <div class="p-form p-form--inline">
        <div class="p-form__group">
          <label class="p-form__label">Filter by series:</label>
          <div class="p-form__control">
            <select data-js="channel-map-filter" value="any">
              <option value="any">Any</option>
              {% for version in package.store_front.ubuntu_versions %}
              <option value="{{ version }}">{{ version }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="u-fixed-width">
      <table>
        <thead>
          <tr>
            <th>Channel</th>
            <th>Version</th>
            <th>Platform</th>
          </tr>
        </thead>
        <tbody>
          {% for track, track_data in package.store_front.channel_map.items() %}
          {% for channel, channel_data in track_data.items() %}
          <tr data-channel-map-channel="{{ channel }}" data-channel-map-version="{{ channel_data.version }}" data-channel-map-filter="{% for data in channel_data %}{{ data.platform }} {% endfor %}">
            <td>{{ track }}/{{ channel }}</td>
            <td>{{ channel_data[0].version }}</td>
            <td>
              <div class="series-tags u-no-margin--top">
                {% for data in channel_data %}
                <span class="series-tag">{{ data.platform }}</span>
                {% endfor %}
              </div>
            </td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
