<section id="search-docs" class="p-strip--accent is-shallow">
  <div class="row">
    <form class="p-search-box u-no-margin--bottom" action="/docs/search">
      <input type="search" class="p-search-box__input" name="q" placeholder="Search documentation" required="">
      <button type="reset" class="p-search-box__reset" alt="reset"><i class="p-icon--close">Reset</i></button>
      <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search">Search</i></button>
    </form>
  </div>
</section>
