{% if package["type"] == "bundle" %}
  {% set isBundle = True %}
{% endif %}
<div class="p-layout__card u-equal-height" id="{{ package.name }}" data-filter="{% for category in package.store_front.categories %}{{ category.slug }} {% endfor %}{{ package.store_front.publisher_name }}">
  <a href="/{{ package.name }}" class="p-card--button">
    <div class="p-card__header">
      <div class="{% if isBundle %}p-bundle-icons{% endif %}">
        {% if package["store_front"]["icons"] %}
          {{
            image(
              url=package.store_front.icons[0],
              alt=package.title,
              width="40",
              height="40",
              hi_def=True,
              fill=True,
              attrs={"class": "p-card__thumbnail"},
            ) | safe
          }}
        {% else %}
          {{
            image(
              url="https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg",
              alt=package.title,
              width="40",
              height="40",
              hi_def=True,
              fill=True,
              attrs={"class": "p-card__thumbnail"},
            ) | safe
          }}
        {% endif %}
        {% if isBundle %}
        <img src="{{ package.store_front.icons[0] }}" alt="{{ package.title}}" class="p-card__thumbnail">
        <img src="{{ package.store_front.icons[0] }}" alt="{{ package.title}}" class="p-card__thumbnail">
        {% endif %}
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom">{{ format_slug(package.name) }}</h3>
      <p class="u-text--subtle u-no-padding--top">{{ package["result"]["publisher"]["display-name"] }}</p>
    </div>

    {% if package["result"]["summary"] %}
      <div class="p-card__content">
        <p><small>{{ package["result"]["summary"]|truncate(90, True) }}</small></p>
      </div>
    {% endif %}
    <div class="p-card__footer">
      <div class="p-item--left" title="{{ package.store_front.categories[0].name }}">{{ package.store_front.categories[0].name }}</div>
    </div>
  </a>
</div>
