<div class="col-3 p-card">
  <div class="u-clearfix">
    <div class="u-float-left">
      <a href="/{{ entity.package_name }}">
        <img src="{{ entity.icon_url }}" alt="{{ entity.title}}" class="p-card__thumbnail">
      </a>
    </div>
    <div class="u-float-right">
      <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" alt="" class="p-card__thumbnail">
      <img src="https://assets.ubuntu.com/v1/31c507a5-image-juju.svg" alt="" class="p-card__thumbnail">
    </div>
  </div>
  <h5 class="p-card__title u-no-margin--bottom">{{ entity.title }}</h5>
  <div class="p-card__content">
    <p class="u-text--subtle">by {{ entity.publisher }}</p>
    <p><small>{{ entity.summary }}</small></p>
  </div>
</div>
