{% for charm in featured_charms %}
<div class="l-flex__card u-equal-height" id="mysql">
  <a href="/{{ charm['name'] }}" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,c_fill,w_64,h_64/{{ charm['icon'] }}" alt="{{ charm['name'] }} icon" class="p-card__thumbnail" width="40" height="40" loading="lazy">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">{{ charm['display_name'] }}</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">{{ charm['publisher'] }}</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">{{ charm['summary'] }}</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons">
        <span class="p-tooltip" aria-describedby="default-tooltip">
        {% if charm["platform"]  == "kubernetes" %}
          <img alt="Kubernetes" src="https://assets.ubuntu.com/v1/f1852c07-Kubernetes.svg" width="24" height="24">
          <span class="p-tooltip__message" role="tooltip">This operator drives the application on Kubernetes</span>
        {% elif charm["platform"] == "linux" %}
          <img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24">
          <span class="p-tooltip__message" role="tooltip">This operator drives the application on Linux servers</span>
        {% endif %}
        </span>
      </div>
    </div>
  </a>
</div>
{% endfor %}
