{% for charm in featured_charms %}
  <div class="l-fluid-breakout__item" id="{% if noscript %}noscript-{% endif %}{{ charm['name'] }}">
    <a href="/{{ charm['name'] }}" class="p-card--button">
      <div class="p-card__header">
        <div class="p-card__thumbnail-container">
          {% if charm.result.media %}
            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_64,h_64/{{ charm['result']['media'][0]['url'] }}" width="64" height="64" class="p-card__thumbnail" alt="{{ charm['name'] }}">
            {% else %}
            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_64,h_64/https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg" width="64" height="64" class="p-card__thumbnail" alt="{{ charm['name'] }}">
          {% endif %}
        </div>
        <h3 class="p-card__title p-heading--4 u-no-margin--bottom package-card-title">{{ charm['store_front']['display-name'] | replace("-", " ") }}</h3>
        <p
          class="u-text--muted u-no-padding--top package-card-publisher"
          style="white-space: nowrap;"
          {% if charm.result.publisher['display-name'] %}
            {% if charm.result.publisher['display-name']|length > 20 %}
              title="{{ charm.result.publisher['display-name'] }}"
            {% endif %}
          {% endif %}
        >
          {% if charm.result.publisher['display-name'] %}
            {{ charm.result.publisher["display-name"]|truncate(20, true) }}
          {% endif %}
        </p>
      </div>
      <div class="p-card__content">
        <p><small class="package-card-summary">{{ charm.result.summary|truncate(85) }}</small></p>
      </div>

      <div class="p-card__footer">
        <div class="package-card-icons">
          {% if "linux" in charm.store_front["deployable-on"] %}
            <span class="p-tooltip" aria-describedby="linux-tooltip">
              <img alt="Linux" src="https://assets.ubuntu.com/v1/a911ecf6-vm-badge.svg" width="24" height="24">
              <span class="p-tooltip__message" role="tooltip" id="linux-tooltip">This operator drives the application on Linux servers</span>
            </span>
          {% endif %}

          {% if "kubernetes" in charm.store_front["deployable-on"] %}
            <span class="p-tooltip" aria-describedby="k8s-tooltip">
              <img alt="Kubernetes" src="https://assets.ubuntu.com/v1/f1852c07-Kubernetes.svg" width="24" height="24">
              <span class="p-tooltip__message" role="tooltip" id="k8s-tooltip">This operator drives the application on Kubernetes</span>
            </span>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
{% endfor %}
