<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>

<div class="p-layout__card u-equal-height" id="mysql">
  <a href="/mysql" class="p-card--button">
    <div class="p-card__header">
      <div class="p-card__thumbnail-container">
        <img src="https://api.jujucharms.com/charmstore/v5/mysql/icon.svg" alt="mysql" class="p-card__thumbnail" width="40" height="40">
      </div>
      <h3 class="p-card__title p-heading--4 u-no-margin--bottom entity-card-title">mysql</h3>
      <p class="u-text--muted u-no-padding--top entity-card-publisher">mysql-charmers</p>
    </div>

    <div class="p-card__content">
      <p><small class="entity-card-summary">MySQL is a fast, stable and true multi-user, multi-threaded SQL database</small></p>
    </div>

    <div class="p-card__footer">
      <div class="entity-card-icons"><img alt="Linux" src="https://assets.ubuntu.com/v1/dc11bd39-Linux.svg" width="24" height="24"></div>
    </div>
  </a>
</div>