<div class="col-3 u-hide--small">
  <div class="p-filter-list">
    <div class="p-muted-heading">Filter ({{ get_filter_count() }})</div>
    {% if categories %}
    <ul class="p-filter-list__list">
      <li class="p-filter-list__item--title">
        <span class="p-filter-list__text">Categories</span>
      </li>
      {% for category in categories %}
      <li class="p-filter-list__item">
        <a href="{% if active_filter('category', category.slug) %}{{ remove_filter('category', category.slug) }}{% else %}{{ add_filter('category', category.slug) }}{% endif %}" class="p-filter-list__link{% if active_filter('category', category.slug) %} is-active{% endif %}">
          <input type="checkbox" id="{{category.slug}}" {% if active_filter('category', category.slug) %}checked{% endif %}>
          <div class="p-filter-list__label">{{ category.name }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if publisher_list %}
    <ul class="p-filter-list__list">
      <li class="p-filter-list__item--title">
        <span class="p-filter-list__text">Publisher</span>
      </li>
      {% for publisher in publisher_list %}
      <li class="p-filter-list__item">
        <a href="{% if active_filter('publisher', publisher.slug) %}{{ remove_filter('publisher', publisher.slug) }}{% else %}{{ add_filter('publisher', publisher.slug) }}{% endif %}" class="p-filter-list__link{% if active_filter('publisher', publisher.slug) %} is-active{% endif %}">
          <input type="checkbox" id="{{publisher.slug}}" {% if active_filter('publisher', publisher.slug) %}checked{% endif %}>
          <div class="p-filter-list__label">{{ publisher.name }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<!-- TO DO - update mobile -->
<!-- <div class="col-3 u-hide--medium u-hide--large">
      <select name="menu" onchange="location.href=this.value">
        <option disabled="disabled" value="" selected="">Go to...</option>
        <option value="/careers/engineering">Engineering</option>
        <option value="/careers/tech-ops">TechOps</option>
        <option value="/careers/commercial-ops">Operations</option>
        <option value="/careers/sales">Sales</option>
        <option value="/careers/marketing">Marketing</option>
        <option value="/careers/design">Web &amp; design</option>
        <option value="/careers/project-management">Project Management
        </option>
        <option value="/careers/finance">Finance</option>
        <option value="/careers/legal">Legal</option>
        <option value="/careers/admin">Admin</option>
        <option value="/careers/hr">Human Resources</option>
        <option value="/careers/lifestyle">Lifestyle</option>
        <option value="/careers/ethics">Ethics</option>
        <option value="/careers/travel">Travel</option>
        <option value="/careers/progression">Progression</option>
        <option value="/careers/diversity">Diversity</option>
        <option value="/careers/all">All</option>
      </select>
    </div> -->
