<div class="col-3">
  <div class="p-filter" data-js="filter-handler">
    <div class="p-filter__title" data-js='js-shadow-title'>
      Filter ({{ results|length }})
    </div>
    <form>
      <div class="p-filter__scroll-box">
        {% if categories %}
        <ul class="p-filter__list">
          <li class="p-filter__item--title">
            Categories
          </li>
          {% for category in categories %}
          <li class="p-filter__item" data-filter-type="category" data-js="filter" data-filter-value="{{ category.slug }}">
            <input type="checkbox" id="{{ category.slug }}" value="{{ category.slug }}" {% if active_filter('category', category.slug) %}checked{% endif %}>
            <label for="{{ category.slug }}">{{ category.name }}</label>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if publisher_list %}
        <ul class="p-filter__list">
          <li class="p-filter__item--title">
            Publisher
          </li>
          {% for publisher in publisher_list %}
          <li class="p-filter__item" data-filter-type="publisher" data-js="filter" data-filter-value="{{ publisher.slug }}">
            <input type="checkbox" id="{{ publisher.slug }}" value="{{ publisher.slug }}" {% if active_filter('publisher', publisher.slug) %}checked{% endif %}>
            <label for="{{ publisher.slug }}">{{ publisher.name }}</label>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <noscript>
        <button type="submit" class="u-hide--small">Apply Filters</button>
      </noscript>
      <div class="p-filter__controls">
        <button type="reset" class="p-button--neutral" data-js="filter-reset">Reset</button>
        <button class="p-button--positive" data-js="filter-submit">Show results ({{ results|length }})</button>
      </div>
    </form>
  </div>
</div>
<div class="col-9">
  <div class="row">
    <div class="col-3 p-store__items-left">
      <div class="p-store__text p-muted-heading">
        {{ results|length }} items
      </div>
      <div class="p-store__sort-mobile">
        <a href="/store" data-js="mobile-sort-reveal-button" class="has-icon p-store__button"><i class="p-icon--sort"></i>Sort by</a>
        <a href="/store" data-js="mobile-filter-reveal-button" class="has-icon p-store__button"><i class="p-icon--filter"></i>Filters (4)</a>
      </div>
    </div>
    <div class="col-6 p-store__items-right">
      <form class="p-search-box p-store__search" data-js="search-handler">
        <input type="search" class="p-search-box__input" name="q" placeholder="Search" {% if q %}value="{{ q }}" {% endif %} />
        <button type="submit" class="p-search-box__button" alt="Search"><i class="p-icon--search"></i></button>
      </form>
      <select name="sort" data-js="sort-handler" value="{{ sort }}" class="p-store__sort-desktop">
        <option disabled="disabled" value="">Sort by</option>
        <option value="featured" {% if active_filter('sort', 'featured') %}selected{% endif %}>Featured</option>
        <option value="name-desc" {% if active_filter('sort', 'name-desc') %}selected{% endif %}>Name A/Z</option>
        <option value="name-asc" {% if active_filter('sort', 'name-asc') %}selected{% endif %}>Name Z/A</option>
        {#<option value="most-popular">Most popular</option>#}
        {#<option value="publisher">Publisher</option>#}
      </select>
    </div>
  </div>
  <div class="row">
    {% if results %}
      {% for package in results %}
        {% include "partial/_entity-card.html" %}
      {% endfor %}
    {% endif %}
  </div>
</div>
