<footer>
  <hr>
  <div class="u-fixed-width">
    <p class="u-no-padding--top" style="margin-block-end: 1rem;"><strong>List your own operator on Charmhub.</strong><a href="https://github.com/canonical/operator" class="p-link--external"> Submit your operator</a></p>
  </div>
  <div class="p-footer">
    <div class="row">
      <div class="col-8">
        <h3>The Operator Framework</h3>
        <p>The Operator Framework provides a simple, lightweight, and powerful way of writing Juju charms, the best way to encapsulate operational experience in code.</p>
        <ul class="p-inline-list">
          <li class="p-inline-list__item"><a href="https://github.com/canonical/operator/" class="p-button--neutral">Get involved</a></li>
          <li class="p-inline-list__item"><a href="/contact-us" class="p-button--outline">Contact us</a></li>
        </ul>
        <p>&copy; {{ now('%Y') }} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item"><a href="https://ubuntu.com/legal" class="p-footer__link">Legal information</a></li>
          <li class="p-inline-list__item"><a href="https://github.com/canonical-web-and-design/charmhub.io/issues/new" class="p-footer__link">Report a bug on this website</a></li>
        </ul>
      </div>
      <div class="col-4 u-align--right">
        <ul class="p-inline-list">
          <li class="p-inline-list__item">
            <a href="https://www.facebook.com/ubuntulinux" class="p-icon--facebook">Facebook</a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://twitter.com/ubuntu" class="p-icon--twitter">Twitter</a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://www.youtube.com/user/celebrateubuntu" class="p-icon--youtube">Youtube</a>
          </li>
        </ul>
        <ul class="p-list">
          <li class="p-list__item"><a href="/" class="p-footer__link" style="color: #fff; font-weight: 400;">Charmhub.io</a></li>
          <li class="p-list__item"><a href="/overview" class="p-footer__link" style="color: #fff;">Overview</a></li>
          <li class="p-list__item"><a href="/about" class="p-footer__link" style="color: #fff;">About Charmhub</a></li>
          <li class="p-list__item"><a href="https://discourse.juju.is/" class="p-footer__link" style="color: #fff;">Community</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
