<footer>
  <hr>
  <div class="u-fixed-width">
    <p class="u-no-padding--top" style="margin-block-end: 1rem;"><strong>List your own operator on Charmhub.</strong><a href="https://github.com/canonical/operator" class="p-link--external"> Submit your operator</a></p>
  </div>
  <div class="p-footer">
    <div class="row">
      <div class="col-8">
        <p>&copy; {{ now('%Y') }} Canonical Ltd.</p>
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item"><a href="https://ubuntu.com/legal" class="p-footer__link">Legal information</a></li>
          <li class="p-inline-list__item"><a href="https://github.com/canonical-web-and-design/charmhub.io/issues/new" class="p-footer__link">Report a bug on this website</a></li>
        </ul>
        <ul class="p-inline-list--middot">
          <!-- TO DO - add links for Docs, Comunity & Blog -->
          <!-- <li class="p-inline-list__item"><a href="/docs"
                class="p-footer__link">Docs</a></li>
            <li class="p-inline-list__item"><a href="https://ubuntu.com/legal"
                class="p-footer__link">Comunity</a></li>
            <li class="p-inline-list__item"><a href="/blog"
                class="p-footer__link">Blog</a></li> -->
          <li class="p-inline-list__item"><a href="https://juju.is/docs/installing" class="p-footer__link">Install Juju</a></li>
        </ul>
      </div>
      <div class="col-4 u-align--right">
        <ul class="p-inline-list">
          <li class="p-inline-list__item">
            <a href="https://www.facebook.com/pages/Canonical/125818784107695?fref=ts" class="p-icon--facebook"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://twitter.com/Canonical" class="p-icon--twitter"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://www.youtube.com/user/celebrateubuntu" class="p-icon--youtube"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
