<hr />

<footer class="p-strip">
  <div class="row">
    <div class="col-3">
      <h2 class="p-heading--5">Charmed Operator Framework</h2>

      <ul class="p-list">
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/#what-is-juju"><small>What is Juju?</small></a>
        </li>

        <li class="p-list__item">
          <a class="p-link--soft" href="https://charmhub.io"><small>What is Charmhub?</small></a>
        </li>

        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/docs/olm/quick-reference"><small>What are Charmed Operators?</small></a>
        </li>

        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/model-driven-operations-manifesto"><small>Charmed Operator Manifesto</small></a>
        </li>

        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/docs/sdk"><small>Charmed Operator SDK</small></a>
        </li>
      </ul>
    </div>

    <div class="col-3">
      <h2 class="p-heading--5">Charmed Operators</h2>

      <ul class="p-list">
        <li class="p-list__item">
          <a class="p-link--soft" href="/?base=all&filter=databases,big-data"><small>Data</small></a>
        </li>

        <li class="p-list__item">
          <a class="p-link--soft" href="/?base=all&filter=logging-tracing,monitoring"><small>Observability</small></a>
        </li>

        <li class="p-list__item">
          <a class="p-link--soft" href="https://ubuntu.com/kubernetes"><small>Charmed Kubernetes</small></a>
        </li>

        <li class="p-list__item">
          <a class="p-link--soft" href="https://ubuntu.com/openstack"><small>Charmed OpenStack</small></a>
        </li>

        <li class="p-list__item">
          <a class="p-list__item u-hide--medium u-hide--large" href="/"><small>All operators</small></a>
        </li>
      </ul>
    </div>

    <div class="col-3">
      <h2 class="p-heading--5">Compare</h2>
      <ul class="p-list">
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/blog/operators-and-charmed-operators"><small>Operators & Charmed Operators</small></a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/blog/beyond-helm-and-kustomize-the-future-of-kubernetes-apps"><small>Helm alternative</small></a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/blog/beyond-helm-and-kustomize-the-future-of-kubernetes-apps"><small>Kustomize alternative</small></a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/blog/ansible-vs-terraform-vs-juju-fight-or-cooperation"><small>Ansible alternative</small></a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/blog/juju-vs-infrastructure-as-code-tools"><small>Terraform alternative</small></a>
        </li>
      </ul>
    </div>

    <div class="col-3">
      <h2 class="p-heading--5">Blog</h2>
      <ul class="p-list">
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/blog/ubuntu-and-canonical-at-kubecon-europe-2021"><small>Best Practices for creating charms</small></a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/model-driven-operations-manifesto"><small>Model Driven Operations Manifesto</small></a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/blog/beyond-helm-and-kustomize-the-future-of-kubernetes-apps"><small>Why Helm and Kustomize Aren’t Enough: the Future</small> of Kubernetes Apps</a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://juju.is/blog/operators-and-charmed-operators"><small>Comparing Operators to Charmed Operators</small></a>
        </li>
        <li class="p-list__item u-hide--medium u-hide--large">
          <a class="p-heading--5 p-link--soft" href="https://juju.is/blog"><small>Read all of our blogs</small></a>
        </li>
      </ul>
    </div>

    <div class="col-9 col-start-large-4 u-hide--small">
      <div class="u-sv2">
        <hr class="is-fixed-width">
      </div>

      <div class="row u-sv3">
        <div class="col-3">
          <a class="p-heading--5 p-link--soft" href="/"><small>All operators</small></a>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
          <a class="p-heading--5 p-link--soft" href="https://juju.is/blog"><small>Read all of our blogs</small></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="u-sv2 u-fixed-width">
      <hr>
    </div>
  </div>

  <div class="p-strip is-shallow">
    <div class="row u-vertically-center">
      <div class="col-6">
        <h2>Join the community</h2>
      </div>

      <div class="col-6">
        <ul class="p-inline-list u-no-margin--bottom u-float-right--medium u-float-right--large"> 
          <li class="p-inline-list__item">
            <a href="https://chat.charmhub.io/charmhub/channels/juju" class="p-icon--chat"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="http://discourse.charmhub.io/" class="p-icon--forum"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://juju.is/careers" class="p-icon--careers"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://github.com/canonical/operator/" class="p-icon--github"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="http://www.twitter.com/juju_devops" class="p-icon--twitter"></a>
          </li>
          <li class="p-inline-list__item">
            <a href="http://youtube.com/jujucharms" class="p-icon--youtube"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="u-sv2 u-fixed-width">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="p-list">
        <li class="p-list__item">
          <a class="p-link--soft js-revoke-cookie-manager" href=""><small>Manage your tracker settings</small></a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://github.com/canonical-web-and-design/charmhub.io/issues/new"><small>Report a bug on this site</small></a>
        </li>
        <li class="p-list__item">
          <a class="p-link--soft" href="https://www.ubuntu.com/legal"><small>Legal Information</small></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
