<div class="p-modal" id="contact-modal">
  <div class="p-modal__dialog" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="p-modal__header" style="display: block; border-bottom: 0;">
      <button class="p-modal__close" aria-label="Close active modal" style="margin-left: -1rem">Close</button>
      <h2 class="p-modal__title u-sv1" id="modal-title">Let&rsquo;s get your apps charmed!</h2>
    </header>
    <div class="js-pagination js-pagination--1">
      <p>We&rsquo;re building better operations in partnership with ISVs and communities, to simplify the adoption of new software and improve deployment security everywhere.</p>
      <p>Tell us about your project so we can bring the right team to the conversation.</p>
      <div class="js-formfield">
        <h3 class="p-heading--5">What describes you best?</h3>
        <div class="row u-no-padding">
          <div class="col-4">
            <input type="checkbox" id="isv-or-upstream">
            <label for="isv-or-upstream">ISV or upstream</label>
            <input type="checkbox" id="systems-integrator">
            <label for="systems-integrator">Systems integrator</label>
          </div>
          <div class="col-4">
            <input type="checkbox" id="community-member">
            <label for="community-member">Community member</label>
            <input type="checkbox" id="end-user-of-applications-on-the-cloud">
            <label for="end-user-of-applications-on-the-cloud">End user of applications on the cloud</label>
          </div>
          <div class="col-4">
            <input type="checkbox" id="site-reliability-engineer">
            <label for="site-reliability-engineer">Site reliability engineer</label>
            <input type="checkbox" id="devops-engineer">
            <label for="devops-engineer">Devops engineer</label>
          </div>
        </div>
      </div>
      <div class="js-formfield">
        <h3 class="p-heading--5">Specific areas which are important to you</h3>
        <div class="row u-no-padding">
          <div class="col-4">
            <input type="checkbox" id="multi-cloud-operations">
            <label for="multi-cloud-operations">Multi-cloud operations</label>
            <input type="checkbox" id="kubernetes-application-management">
            <label for="kubernetes-application-management">Kubernetes application management</label>
          </div>
          <div class="col-4">
            <input type="checkbox" id="legacy-estate-operations">
            <label for="legacy-estate-operations">Legacy estate operations</label>
            <input type="checkbox" id="devsecops">
            <label for="devsecops">Devsecops</label>
          </div>
          <div class="col-4">
            <input type="checkbox" id="integration">
            <label for="integration">Integration</label>
            <div class="js-other-container">
              <input type="checkbox" class="js-other-container__checkbox" id="specific-areas-important-to-you-other">
              <label for="specific-areas-important-to-you-other">Other</label>
              <input type="text" id="specific-areas-important-to-you-other-specified" class="u-hide js-other-container__input" placeholder="Please specify" aria-label="Other">
            </div>
          </div>
        </div>
      </div>
      <div class="js-formfield u-sv3">
        <h3 class="p-heading--5">Describe your project</h3>
        <textarea id="describe-your-project" name="describe-your-project" aria-label="Describe your project" rows="3"></textarea>
      </div>
      <div class="pagination">
        <a class="p-button--positive pagination__link--next" href="">Next</a>
      </div>
    </div>

    <div class="js-pagination js-pagination--2 u-hide">
      <div class="js-formfield">
        <h3 class="p-heading--5">Where do you operate your cloud applications?</h3>
        <div class="row u-no-padding">
          <div class="col-4">
            <input type="checkbox" id="Azureaws">
            <label for="operate-cloud-apps-aws">AWS</label>
            <input type="checkbox" id="operate-cloud-apps-azure">
            <label for="operate-cloud-apps-azure">Azure</label>
            <input type="checkbox" id="operate-cloud-apps-google">
            <label for="operate-cloud-apps-google">Google</label>
            <input type="checkbox" id="operate-cloud-apps-ibm">
            <label for="operate-cloud-apps-ibm">IBM</label>
            <input type="checkbox" id="operate-cloud-apps-oracle">
            <label for="operate-cloud-apps-oracle">Oracle</label>
            <div class="js-other-container">
              <input type="checkbox" class="js-other-container__checkbox" id="operate-cloud-apps-other-public-cloud">
              <label for="operate-cloud-apps-other-public-cloud">Other public cloud</label>
              <input type="text" id="operate-cloud-apps-other-public-cloud-specified" class="u-hide js-other-container__input" placeholder="Please specify" aria-label="Other public cloud">
            </div>
          </div>
          <div class="col-4">
            <input type="checkbox" id="operate-cloud-apps-linux-workstation">
            <label for="operate-cloud-apps-linux-workstation">Linux workstations</label>
            <input type="checkbox" id="operate-cloud-apps-windows-workstations">
            <label for="operate-cloud-apps">Windows workstations</label>
            <input type="checkbox" id="operate-cloud-apps-vmware">
            <label for="operate-cloud-apps-vmware">VMware</label>
            <input type="checkbox" id="operate-cloud-apps-openstack">
            <label for="operate-cloud-apps-openstack">OpenStack</label>
            <input type="checkbox" id="operate-cloud-apps-lxd">
            <label for="operate-cloud-apps-lxd">LXD</label>
            <input type="checkbox" id="operate-cloud-apps-bare-metal">
            <label for="operate-cloud-apps-bare-metal">Bare metal</label>
            <div class="js-other-container">
              <input type="checkbox" class="js-other-container__checkbox" id="operate-cloud-apps-other-private-cloud">
              <label for="operate-cloud-apps-other-private-cloud">Other private cloud</label>
              <input type="text" id="operate-cloud-apps-other-private-cloud-specified" class="u-hide js-other-container__input" placeholder="Please specify" aria-label="Other private cloud">
            </div>
          </div>
          <div class="col-4">
            <input type="checkbox" id="operate-cloud-apps-kubernetes">
            <label for="operate-cloud-apps-kubernetes">Kubernetes</label>
            <input type="checkbox" id="operate-cloud-apps-eks">
            <label for="operate-cloud-apps-eks">EKS</label>
            <input type="checkbox" id="operate-cloud-apps-aks">
            <label for="operate-cloud-apps-aks">AKS</label>
            <input type="checkbox" id="operate-cloud-apps-gke">
            <label for="operate-cloud-apps-gke">GKE</label>
            <div class="js-other-container">
              <input type="checkbox" class="js-other-container__checkbox" id="operate-cloud-apps-other-caas">
              <label for="operate-cloud-apps-other-caas">Other CAAS</label>
              <input type="text" id="operate-cloud-apps-other-caas-specified" class="u-hide js-other-container__input" placeholder="Please specify" aria-label="Other CAAS">
            </div>
          </div>
        </div>
      </div>
      <div class="js-formfield u-sv3">
        <h3 class="p-heading--5">What are your platform preferences?</h3>
        <div class="row u-no-padding">
          <div class="col-4">
            <p class="js-sub-section u-no-margin--bottom">Architecture</p>
            <input type="checkbox" id="platform-preferences-Architecture-intel">
            <label for="platform-preferences-Architecture-intel">Intel</label>
            <input type="checkbox" id="platform-preferences-Architecture-ARM">
            <label for="platform-preferences-Architecture-ARM">ARM</label>
            <input type="checkbox" id="platform-preferences-Architecture-POWER">
            <label for="platform-preferences-Architecture-POWER">POWER</label>
            <input type="checkbox" id="platform-preferences-Architecture-risc-v">
            <label for="platform-preferences-Architecture-risc-v">Risc-V</label>
            <input type="checkbox" id="platform-preferences-Architecture-Z">
            <label for="platform-preferences-Architecture-Z">Z</label>
          </div>
          <div class="col-4">
            <p class="js-sub-section u-no-margin--bottom">Operating system</p>
            <input type="checkbox" id="platform-preferences-os-ubuntu">
            <label for="platform-preferences-os-ubuntu">Ubuntu</label>
            <input type="checkbox" id="platform-preferences-os-debian">
            <label for="platform-preferences-os-debian">Debian</label>
            <input type="checkbox" id="platform-preferences-os-rhel">
            <label for="platform-preferences-os-rhel">RHEL</label>
            <input type="checkbox" id="platform-preferences-os-centos">
            <label for="platform-preferences-os-centos">CentOS</label>
            <input type="checkbox" id="platform-preferences-os-windows">
            <label for="platform-preferences-os-windows">Windows</label>
            <input type="checkbox" id="platform-preferences-os-suse">
            <label for="platform-preferences-os-suse">SUSE</label>
            <div class="js-other-container">
              <input type="checkbox" class="js-other-container__checkbox" id="platform-preferences-Vendor-other-os">
              <label for="platform-preferences-Vendor-other-os">Other</label>
              <input type="text" id="platform-preferences-Vendor-other-os-specified" class="u-hide js-other-container__input" placeholder="Please specify" aria-label="Other OS">
            </div>
          </div>
          <div class="col-4">
            <p class="js-sub-section u-no-margin--bottom">Acceleration</p>
            <input type="checkbox" id="platform-preferences-acc-nvidia">
            <label for="platform-preferences-acc-nvidia">Nvidia</label>
            <input type="checkbox" id="platform-preferences-acc-amd">
            <label for="platform-preferences-acc-amd">AMD</label>
            <input type="checkbox" id="platform-preferences-acc-mellanox">
            <label for="platform-preferences-acc-mellanox">Mellanox</label>
            <input type="checkbox" id="platform-preferences-acc-intelxe">
            <label for="platform-preferences-acc-intelxe">Intel Xe</label>
            <div class="js-other-container">
              <input type="checkbox" class="js-other-container__checkbox" id="platform-preferences-Vendor-other-acc">
              <label for="platform-preferences-Vendor-other-acc">Other</label>
              <input type="text" id="platform-preferences-Vendor-other-acc-specified" class="u-hide js-other-container__input" placeholder="Please specify" aria-label="Other Acceleration">
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <a class="pagination__link--previous p-button--base" href="">Previous</a>
        <a class="pagination__link--next p-button--positive" href="">Next</a>
      </div>
    </div>

    <div class="js-pagination js-pagination--3 u-hide">
      <h3 class="p-heading--5">How should we get in touch?</h3>
      <form class="modal-form marketo-form" action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_1337">
        <div class="row u-no-padding">
          <div class="col-6">
            <ul class="p-list u-no-margin--bottom">
              <li class="mktFormReq mktField p-list__item">
                <label for="FirstName" class="mktoLabel">First name:</label>
                <input required id="FirstName" name="FirstName" maxlength="255" type="text" class="mktoField mktoRequired" required="required" />
              </li>
              <li class="mktFormReq mktField p-list__item">
                <label for="LastName" class="mktoLabel">Last name:</label>
                <input required id="LastName" name="LastName" maxlength="255" type="text" class="mktoField mktoRequired" required="required" />
              </li>
              <li class="mktFormReq mktField p-list__item">
                <label for="Email" class="mktoLabel">Email address:</label>
                <input required id="Email" name="Email" maxlength="255" type="email" class="mktoField mktoEmailField mktoRequired" required="required" />
              </li>
            </ul>

            <div class="u-hide">
              <h3>Your comments</h3>
              <ul class="p-list">
                <li class="mktFormReq mktField p-list__item">
                  <label for="Comments_from_lead__c" class="mktoLabel">What would you like to talk to us about?</label>
                  <textarea id="Comments_from_lead__c" name="Comments_from_lead__c" rows="5" class="mktoField" maxlength="2000"></textarea>
                </li>
              </ul>
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="formValidation" value="" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="formid" class="mktoField" value="1337" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="formVid" class="mktoField" value="1337" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="lpId" class="mktoField" value="2313" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="subId" class="mktoField" value="30" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="munchkinId" class="mktoField" value="066-EOV-335" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="lpurl" class="mktoField" value="charmhub" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="cr" class="mktoField" value="" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="kw" class="mktoField" value="" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="q" class="mktoField" value="" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="returnURL" value="http://charmhub.io/thank-you" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="retURL" value="http://charmhub.io/thank-you" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Consent_to_Processing__c" value="yes" />
            </div>
          </div>
        </div>
        <div class="u-fixed-width u-no-padding">
          <ul class="p-list">
            <li class="mktField p-list__item">
              <input class="mktoField" value="yes" id="canonicalUpdatesOptIn" name="canonicalUpdatesOptIn" type="checkbox" />
              <label class="mktoLabel mktoHasWidth" for="canonicalUpdatesOptIn">Please send me information about Canonical’s products and services.</label>
            </li>
            <li class="p-list__item">
              <p>Submitting this form confirms that I have read and agree to <a href="https://ubuntu.com/legal/data-privacy/contact" class="p-link--external">Canonical&rsquo;s Privacy Notice</a> and <a href="https://ubuntu.com/legal/data-privacy" class="p-link--external">Privacy Policy</a>.</p>
            </li>
            <li class="p-list__item">
              <div class="g-recaptcha" data-sitekey="6LfYBloUAAAAAINm0KzbEv6TP0boLsTEzpdrB8if" style="margin: 2rem 0;"></div>
            </li>
          </ul>
          <div class="pagination">
            <a class="pagination__link--previous p-button--base" href="" style="margin-inline-end: 1rem;">Previous</a>
            <button type="submit" class="pagination__link--next p-button--positive mktoButton" aria-label="Submit">Let's discuss</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
