<section class="p-strip--accent">
  <div class="row">
    <div class="col-6">
      <h1>Take control of <br /><span style="display: block; height: 1.2em;" class="typer" id="main" data-words="Kubernetes,Bare metal,VM workloads,infrastructure,integrations,deployment,management,hybrid cloud,multi cloud,observability,identity,data,applications" data-delay="60" data-deleteDelay="1000" data-colors="#ffffff"></span></h1>
      <h2 class="p-heading--4">The Charmed Operator Collection</h2>
    </div>
    <div class="col-6">
      <p>Take control of your applications and infrastructure across hybrid cloud, Kubernetes (K8s) and VM environments. Deploy, integrate and manage your way beyond configuration management to application management. Charmed Operators (Charms) use <a href="https://juju.is/" class="p-link--inverted" style="text-decoration: underline;">Juju, the Charmed Operator Framework</a>. They're broad, they're powerful and they're Open Source (unless you choose otherwise).</p>
    </div>
  </div>
</section>

<script src="{{ versioned_static('js/dist/typer.js') }}" defer></script>
