{% macro create_navigation(nav_items, channel_requested=None, expandable=False, expanded=False) %}
  <ul class="p-side-navigation__list">
    {% for element in nav_items %}
    <li class="p-side-navigation__item">
      {% if element.navlink_href %}
        <a
          class="p-side-navigation__link {% if expandable and element.children %}is-expandable{% endif %}"
          href="{{ element.navlink_href }}{% if request.args.get('channel') %}?channel={{request.args.get('channel')}}{% endif %}"
          {% if expandable and element.children %}aria-expanded={% if expanded %}"true"{% else %}"false"{% endif %}{% endif %}
          {% if request.path == element.navlink_href %}aria-current="page"{% endif %}
        >{{ element.navlink_text }}</a>
      {% else %}
        <strong
          class="p-side-navigation__text {% if expandable and element.children %}is-expandable{% endif %}"
          {% if expandable and element.children %}aria-expanded={% if expanded %}"true"{% else %}"false"{% endif %}{% endif %}
        >{{ element.navlink_text }}</strong>
      {% endif %}

      {% if expandable %}
        {% if element.children %}
          <button class="p-side-navigation__expand" aria-expanded={% if element.is_active or element.has_active_child %}"true"{% else %}"false"{% endif %} aria-label="show submenu for {{ element.navlink_text }}"></button>
        {% endif %}
        {{ create_navigation(element.children, channel_requested, expandable, element.is_active or element.has_active_child) }}
      {% else %}
        {% if element.children %}
          {{ create_navigation(element.children, channel_requested, expandable) }}
        {% endif %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro render_maintainer(maintainer) %}
  {% if ' <' in maintainer and maintainer.endswith('>') %}
    {% set name = maintainer.split(' <')[0] %}
    {% set email = maintainer.split(' <')[1].rstrip('>') %}
    <a href="mailto:{{ email }}">
      <i class="p-icon--user"></i>&nbsp;&nbsp;{{ name }}
    </a>
  {% elif maintainer is string and maintainer.find('<') != -1 and maintainer.find('>') != -1 %}
    {% set name = maintainer[:maintainer.find('<')].strip() %}
    {% set email = maintainer[maintainer.find('<') + 1:maintainer.find('>')].strip() %}
    <a href="mailto:{{ email }}">
      <i class="p-icon--user"></i>&nbsp;&nbsp;{{ name }}
    </a>
  {% else %}
    {% if 'matrix.to' in maintainer %}
      <a href="{{ maintainer }}">
        <i class="p-icon--user"></i>&nbsp;&nbsp;Matrix Channel
      </a>
    {% elif maintainer.startswith('mailto:') %}
      {% set email = maintainer.split('mailto:')[1] %}
      <a href="{{ maintainer }}">
        <i class="p-icon--user"></i>&nbsp;&nbsp;{{ email }}
      </a>
    {% elif 'launchpad.net/~' in maintainer %}
      {% set launchpad_url = maintainer if maintainer.startswith('http') else 'https://' + maintainer %}
      <a href="{{ launchpad_url }}">
        <i class="p-icon--user"></i>&nbsp;&nbsp;Launchpad Team
      </a>
    {% else %}
      {% set name = maintainer %}
      {% set email = maintainer %}
      <a href="mailto:{{ email }}">
        <i class="p-icon--user"></i>&nbsp;&nbsp;{{ name }}
      </a>
    {% endif %}
  {% endif %}
{% endmacro %}