<header id="navigation" class="p-navigation--sliding is-dark">
  <div class="p-navigation__row--25-75">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="https://juju.is">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/a603c7c9-Favicon - Juju.svg" alt="Canonical Juju" />
          </div>
          <span class="p-navigation__logo-title">Canonical Juju</span>
        </a>
      </div>
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </li>
      </ul>
    </div>
    <nav class="p-navigation__nav">
      <div class="p-navigation__nav--wrapper">
        <ul class="p-navigation__items">
          <li class="p-navigation__item">
            <a class="p-navigation__link" href="http://juju.is/why-juju">How Juju Works</a>
          </li>
          <li class="p-navigation__item{% if request.path == '/' %} is-selected{% endif %}">
            <a class="p-navigation__link" href="/">Charmhub</a>
          </li>
          <li class="p-navigation__item--dropdown-toggle" id="community-link">
            <a class="p-navigation__link" href="#community-link-menu" aria-controls="community-link-menu">Community</a>
            <div class="p-navigation__dropdown--container">
              <ul class="p-navigation__dropdown" id="community-link-menu" aria-hidden="true">
                <li class="p-navigation__item--dropdown-close">
                  <a href="#community-link-menu" aria-controls="community-link-menu" class="p-navigation__link js-back-button">
                    Back
                  </a>
                </li>
                <li>
                  <a href="https://discourse.charmhub.io" class="p-navigation__dropdown-item">
                    Discourse forum
                  </a>
                </li>
                <li>
                  <a href="https://matrix.to/#/#charmhub:ubuntu.com" class="p-navigation__dropdown-item">
                    Matrix chat
                  </a>
                </li>
                <li>
                  <a class="p-navigation__dropdown-item" href="https://juju.is/operator-day">Operator Day</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="p-navigation__item">
            <a class="p-navigation__link" href="https://juju.is/docs">Docs</a>
          </li>
          <li class="p-navigation__item">
            <a class="p-navigation__link" href="https://ubuntu.com/blog/tag/juju">Blog</a>
          </li>
        </ul>
        <div>
          <ul class="p-navigation__items global-nav">
            {# Authenticated #}
            <li class="p-navigation__item p-navigation__item--dropdown-toggle js-nav-account js-nav-account--authenticated u-hide" id="user-link">
              <a href="#user-link-menu" aria-controls="user-link-menu" class="p-navigation__link js-account--name account-name">My account</a>
              <div class="p-navigation__dropdown--container">
                <ul class="p-navigation__dropdown" id="user-link-menu" aria-hidden="true">
                  <li class="p-navigation__item--dropdown-close">
                    <a href="#user-link-menu" aria-controls="user-link-menu" class="p-navigation__link js-back-button">
                      Back
                    </a>
                  </li>
                  <li>
                    <a href="/charms" class="p-navigation__dropdown-item">My charms and bundles</a>
                  </li>
                  <li>
                    <a href="/logout" class="p-navigation__dropdown-item">Sign out</a>
                  </li>
                </ul>
              </div>
            </li>
            {# Not authenticated #}
            <li class="p-navigation__item js-nav-account js-nav-account--notauthenticated" role="menuitem">
              <a class="p-navigation__link" href="/charms">
                Sign in
                <i class="p-icon--user is-light"></i>
              </a>
            </li>
            <li class="p-navigation__item">
              <a href="/all-search"
                class="js-search-button p-navigation__link--search-toggle"
                aria-label="Search"></a>
            </li>
          </ul>
          <div class="p-navigation__search">
            <form action="/all-search" class="p-search-box is-light">
              <input type="search"
                      class="p-search-box__input"
                      name="q"
                      placeholder="Search Charmhub"
                      required=""
                      aria-label="Search Charmhub" />
              <button type="reset" class="p-search-box__reset">
                <i class="p-icon--close"></i>
              </button>
              <button type="submit" class="p-search-box__button">
                <i class="p-icon--search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
   <div class="p-navigation__search-overlay"></div>
</header>
<script>
const searchButtons = document.querySelectorAll(".js-search-button");
const searchOverlay = document.querySelector(".p-navigation__search-overlay");
const navigation = document.querySelector("#navigation");

function escKeyPressHandler(e) {
  if (e.key === "Escape") {
    closeSearch();
  }
}

function closeSearch() {
  searchButtons.forEach((searchButton) => {
    searchButton.removeAttribute("aria-pressed");
  });

  navigation.classList.remove("has-search-open");

  document.removeEventListener("keyup", escKeyPressHandler);
}

function openSearch(e) {
  e.preventDefault();
  const searchInput = navigation.querySelector(".p-search-box__input");
  searchButtons.forEach((searchButton) => {
    searchButton.setAttribute("aria-pressed", true);
  });

  navigation.classList.add("has-search-open");

  searchInput.focus();
  document.addEventListener("keyup", escKeyPressHandler);
}

function toggleSearch(e) {
  e.preventDefault();
  if (navigation.classList.contains("has-search-open")) {
    closeSearch();
  } else {
    closeSearch();
    openSearch(e);
  }
}


function initNavigationSearch() {
  searchButtons.forEach((searchButton) =>
    searchButton.addEventListener("click", toggleSearch),
  );

  searchOverlay.addEventListener("click", toggleSearch);
}

initNavigationSearch()
</script>

