<div class="col-3 u-hide--small">
  <div class="p-side-navigation">
    {% if categories %}
    <ul class="p-side-navigation__list">
      <li class="p-side-navigation__item--title">
        <span class="p-side-navigation__text">Categories</span>
      </li>
      {% for category in categories %}
      <li class="p-side-navigation__item">
        <a href="/store{% if active_filter('category', category.slug) %}{{ remove_filter('category', category.slug) }}{% else %}{{ add_filter('category', category.slug) }}{% endif %}" class="p-side-navigation__link{% if active_filter('category', category.slug) %} is-active{% endif %}">
          {{ category.name }}
          {% if active_filter('category', category.slug) %}
          <div class="p-side-navigation__status is-toggle"><i class="p-icon--close"></i></div>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if publisher_list %}
    <ul class="p-side-navigation__list">
      <li class="p-side-navigation__item--title">
        <span class="p-side-navigation__text">Publisher</span>
      </li>
      {% for publisher in publisher_list %}
      <li class="p-side-navigation__item">
        <a href="/store{% if active_filter('publisher', publisher.slug) %}{{ remove_filter('publisher', publisher.slug) }}{% else %}{{ add_filter('publisher', publisher.slug) }}{% endif %}" class="p-side-navigation__link{% if active_filter('publisher', publisher.slug) %} is-active{% endif %}">
          {{ publisher.name }}
          {% if active_filter('publisher', publisher.slug) %}
          <div class="p-side-navigation__status is-toggle"><i class="p-icon--close"></i></div>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

<!-- TO DO - update mobile -->
<!-- <div class="col-3 u-hide--medium u-hide--large">
      <select name="menu" onchange="location.href=this.value">
        <option disabled="disabled" value="" selected="">Go to...</option>
        <option value="/careers/engineering">Engineering</option>
        <option value="/careers/tech-ops">TechOps</option>
        <option value="/careers/commercial-ops">Operations</option>
        <option value="/careers/sales">Sales</option>
        <option value="/careers/marketing">Marketing</option>
        <option value="/careers/design">Web &amp; design</option>
        <option value="/careers/project-management">Project Management
        </option>
        <option value="/careers/finance">Finance</option>
        <option value="/careers/legal">Legal</option>
        <option value="/careers/admin">Admin</option>
        <option value="/careers/hr">Human Resources</option>
        <option value="/careers/lifestyle">Lifestyle</option>
        <option value="/careers/ethics">Ethics</option>
        <option value="/careers/travel">Travel</option>
        <option value="/careers/progression">Progression</option>
        <option value="/careers/diversity">Diversity</option>
        <option value="/careers/all">All</option>
      </select>
    </div> -->
