<div class="row p-tabs__content" id="configuration">
  <div class="col-3">
    <aside class="p-table-of-contents">
      <div class="p-table-of-contents__section">
        <p class="p-table-of-contents__header">Contents</p>
        <nav class="p-table-of-contents__nav">
          <ul class="p-list">
            <!-- TO DO - update links -->
            <li><a class="p-table-of-contents__link" href="#action-managed-upgrade">action-managed-upgrade</a></li>
            <li><a class="p-table-of-contents__link"
                href="#allow-password-autocompletion">allow-password-autocompletion</a></li>
            <li><a class="p-table-of-contents__link is-active" href="#api-result-limit">api-result-limit</a></li>
            <li><a class="p-table-of-contents__link" href="#cinder-backup">cinder-backup</a></li>
            <li><a class="p-table-of-contents__link" href="#custom-theme">custom-theme</a></li>
            <li><a class="p-table-of-contents__link" href="#customization-module">customization-module</a></li>
            <li><a class="p-table-of-contents__link" href="#database">database</a></li>
            <li><a class="p-table-of-contents__link" href="#database-user">database-user</a></li>
            <li><a class="p-table-of-contents__link" href="#debug">debug</a></li>
          </ul>
        </nav>
      </div>
    </aside>
  </div>
  <div class="col-8 col-start-large-5">
    <ul class="p-list--divided">
      <li class="p-list__item" id="action-managed-upgrade">
        <p><strong>action-managed-upgrade</strong></p>
        <p>If True enables openstack upgrades for this charm via juju actions. You will still need to set
          openstack-origin to the new repository but instead of an upgrade running automatically across all units, it
          will wait for you to
          execute the openstack-upgrade action for this charm on each unit. If False it will revert to existing behavior
          of
          upgrading all units on config change.</p>
        <p>Value type: String</p>
        <p>Default value: None</p>
      </li>
      <li class="p-list__item" id="allow-password-autocompletion">
        <p><strong>allow-password-autocompletion</strong></p>
        <p>Setting this to True will allow password form autocompletion by browser.</p>
        <p>Value type: String</p>
        <p>Default value: None</p>
      </li>
      <li class="p-list__item" id="api-result-limit">
        <p><strong>api-result-limit</strong></p>
        <p>The maximum number of objects (e.g. Swift objects or Glance images) to display on a single page before
          providing a
          paging element (a "more" link) to paginate results.</p>
        <p>Value type: Interval</p>
        <p>Default value: True</p>
      </li>
      <li class="p-list__item" id="cinder-backup">
        <p><strong>cinder-backup</strong></p>
        <p>Enable cinder backup panel.</p>
        <p>Value type: Boolean</p>
        <p>Default value: None</p>
      </li>
      <li class="p-list__item" id="custom-theme">
        <p><strong>custom-theme</strong></p>
        <p>Use a custom theme supplied as a resource. NOTE: This setting is supported >= OpenStack Mitaka and this setting is
        mutually exclustive to ubuntu-theme and default-theme.</p>
        <p>Value type: Boolean</p>
        <p>Default value: None</p>
      </li>
      <li class="p-list__item" id="customization-module">
        <p><strong>customization-module</strong></p>
        <p>This option provides a means to enable customisation modules to modify existing dashboards and panels. This is available
        from Liberty onwards.</p>
        <p>Value type: String</p>
        <p>Default value: None</p>
      </li>
      <li class="p-list__item" id="database">
        <p><strong>database</strong></p>
        <p>Database name for Horizon (if enabled).</p>
        <p>Value type: String</p>
        <p>Default value: Horizon</p>
      </li>
      <li class="p-list__item" id="database-user">
        <p><strong>database-user</strong></p>
        <p>Username for Horizon database access (if enabled).</p>
        <p>Value type: String</p>
        <p>Default value: Horizon</p>
      </li>
      <li class="p-list__item" id="debug">
        <p><strong>debug</strong></p>
        <p>Enable Django debug messages.</p>
        <p>Value type: String</p>
        <p>Default value: No</p>
      </li>
    </ul>
  </div>
</div>