<ul class="p-inline-list--stretch">
  <li class="p-inline-list__item u-no-margin--right">
    <div class="p-button-group">
      <div class="p-button-group__inner">
        <div class="p-button-group__buttons">
          <a href="/charms" class="p-button-group__button{% if request.path.endswith('charms') %} is-selected{% endif %}">Charms</a>
          <a href="/bundles" class="p-button-group__button{% if request.path.endswith('bundles') %} is-selected{% endif %}">Bundles</a>
        </div>
      </div>
    </div>
  </li>
  <li class="p-inline-list__item u-align--right">
    <a href="/register-name" class="p-button--neutral">Register a new charm or bundle</a>
  </li>
</ul>

