<div class="u-fixed-width p-tabs__content" id="actions">
  <noscript>
    <hr class="p-separator" />
    <h2>Actions</h2>
  </noscript>
  <aside class="p-accordion" role="tablist" aria-multiselect="true">
    <ul class="p-accordion__list">
      {% for action in actions %}
      <li class="p-accordion__group">
        <button type="button" class="p-accordion__tab" id="{{action.name}}" role="tab" aria-controls="{{action.name}}-section" aria-expanded="true">
          <div class="row">
            <div class="col-4">
              {{ action.name }}
            </div>
            <div class="col-8">
              <span class="p-accordion__tab-description">{{ action.hint }}</span>
            </div>
          </div>
        </button>
        <section class="p-accordion__panel" id="{{action.name}}-section" role="tabpanel" aria-hidden="false" aria-labelledby="{{action.name}}-section">
          <ul class="p-list--divided u-no-margin--bottom">
            {% if action.description %}
            <li class="p-list__item">
              description
              <ul class="p-list">
                <li class="p-list__item">{{ action.description }}</li>
              </ul>
            </li>
            {% endif %}
            {% if action.params %}
            <li class="p-list__item">
              params
              {% for param in action.params %}
              <ul class="p-list">
                <li class="p-list__item">
                  {{ param.name }}
                  <ul class="p-list">
                    <li class="p-list__item">type: {{ param.content.type }}</li>
                    <li class="p-list__item">description: {{ param.content.description }}</li>
                  </ul>
                </li>
              </ul>
              {% endfor %}
            </li>
            {% endif %}
            {% if action.required %}
            <li class="p-list__item">
              required
              <ul class="p-list">
                <li class="p-list__item">{{ action.required }}</li>
              </ul>
            </li>
            {% endif %}
            {% if action.additionalProperties %}
            <li class="p-list__item">
              additionalProperties
              <ul class="p-list">
                <li class="p-list__item">{{ action.additionalProperties }}</li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </section>
      </li>
      {% endfor %}
    </ul>
  </aside>
</div>