<div class="u-fixed-width p-tabs__content" id="actions">
  <aside class="p-accordion" role="tablist" aria-multiselect="true">
    <ul class="p-accordion__list">
      <li class="p-accordion__group">
        <button type="button" class="p-accordion__tab" id="tab1" role="tab" aria-controls="tab1-section"
          aria-expanded="true">
          <div class="row">
            <div class="col-4">
              pause
            </div>
            <div class="col-8">
              <span class="p-accordion__tab-description">Pause the openstack-dashboard unit</span>
            </div>
          </div>
        </button>
        <section class="p-accordion__panel" id="tab1-section" role="tabpanel" aria-hidden="false"
          aria-labelledby="tab1-section">
          <ul class="p-list--divided u-no-margin--bottom">
            <li class="p-list__item">
              description
              <ul class="p-list">
                <li class="p-list__item">Set a value for the pool</li>
              </ul>
            </li>
            <li class="p-list__item">
              params:
              <ul class="p-list">
                <li class="p-list__item">
                  pool-name:
                  <ul class="p-list">
                    <li class="p-list__item">type: string</li>
                    <li class="p-list__item">description: The pool to set this variable on.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </li>
      <li class="p-accordion__group">
        <button type="button" class="p-accordion__tab" id="tab2" role="tab" aria-controls="tab2-section"
          aria-expanded="true">
          <div class="row">
            <div class="col-4">
              resume
            </div>
            <div class="col-8">
              <span class="p-accordion__tab-description">Resume the openstack-dashboard unit</span>
            </div>
          </div>
        </button>
        <section class="p-accordion__panel" id="tab2-section" role="tabpanel" aria-hidden="false"
          aria-labelledby="tab1-section">
          <ul class="p-list--divided u-no-margin--bottom">
            <li class="p-list__item">
              description
              <ul class="p-list">
                <li class="p-list__item">Set a value for the pool</li>
              </ul>
            </li>
            <li class="p-list__item">
              params:
              <ul class="p-list">
                <li class="p-list__item">
                  pool-name:
                  <ul class="p-list">
                    <li class="p-list__item">type: string</li>
                    <li class="p-list__item">description: The pool to set this variable on.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </li>
      <li class="p-accordion__group">
        <button type="button" class="p-accordion__tab" id="tab3" role="tab" aria-controls="tab3-section"
          aria-expanded="true">openstack-upgrade</button>
        <section class="p-accordion__panel" id="tab3-section" role="tabpanel" aria-hidden="false"
          aria-labelledby="tab1-section">
          <ul class="p-list--divided u-no-margin--bottom">
            <li class="p-list__item">
              description
              <ul class="p-list">
                <li class="p-list__item">Set a value for the pool</li>
              </ul>
            </li>
            <li class="p-list__item">
              params:
              <ul class="p-list">
                <li class="p-list__item">
                  pool-name:
                  <ul class="p-list">
                    <li class="p-list__item">type: string</li>
                    <li class="p-list__item">description: The pool to set this variable on.</li>
                  </ul>
                </li>
                <li class="p-list__item">
                  Key:
                  <ul class="p-list">
                    <li class="p-list__item">type: string</li>
                    <li class="p-list__item">description: Any valid Ceph key from
                    http://docs.ceph.com/docs/master/rados/operations/pools/#set-pool-values</li>
                  </ul>
                </li>
                <li class="p-list__item">
                  Value:
                  <ul class="p-list">
                    <li class="p-list__item">type: string</li>
                    <li class="p-list__item">description: The value to set</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="p-list__item">
              required
              <ul class="p-list">
                <li class="p-list__item">
                  [key, value, pool-name]
                </li>
              </ul>
            </li>
            <li class="p-list__item">
              additionalProperties
              <ul class="p-list">
                <li class="p-list__item">
                  False
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </li>
      <li class="p-accordion__group">
        <button type="button" class="p-accordion__tab" id="tab4" role="tab" aria-controls="tab4-section"
          aria-expanded="true">
          <div class="row">
            <div class="col-4">
              security-checklist
            </div>
            <div class="col-8">
              <span class="p-accordion__tab-description">Validate the running configuration against the OpenStack
                security guides checklist.</span>
            </div>
          </div>
        </button>
        <section class="p-accordion__panel" id="tab4-section" role="tabpanel" aria-hidden="false"
          aria-labelledby="tab1-section">
          <ul class="p-list--divided u-no-margin--bottom">
            <li class="p-list__item">
              description
              <ul class="p-list">
                <li class="p-list__item">Set a value for the pool</li>
              </ul>
            </li>
            <li class="p-list__item">
              params:
              <ul class="p-list">
                <li class="p-list__item">
                  pool-name:
                  <ul class="p-list">
                    <li class="p-list__item">type: string</li>
                    <li class="p-list__item">description: The pool to set this variable on.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </li>
    </ul>
  </aside>
</div>