<div class="row p-tabs__content" id="overview">
  <div class="col-8">
    <h4>This is overview tab</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quisquam? Ducimus distinctio, labore culpa nam
      quod hic rerum reprehenderit, ab, fugiat quaerat cum. Distinctio maiores dolorum quasi odit totam quisquam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat accusamus natus incidunt eos doloribus.
      Distinctio soluta voluptatem pariatur atque, enim veniam quibusdam ducimus quos optio, minima necessitatibus,
      dolores dolor eligendi!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat accusamus natus incidunt eos doloribus.
      Distinctio soluta voluptatem pariatur atque, enim veniam quibusdam ducimus quos optio, minima necessitatibus,
      dolores dolor eligendi!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat accusamus natus incidunt eos doloribus.
      Distinctio soluta voluptatem pariatur atque, enim veniam quibusdam ducimus quos optio, minima necessitatibus,
      dolores dolor eligendi!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat accusamus natus incidunt eos doloribus.
      Distinctio soluta voluptatem pariatur atque, enim veniam quibusdam ducimus quos optio, minima necessitatibus,
      dolores dolor eligendi!</p>
  </div>
  <div class="col-4">
    <h4 class="p-muted-heading">Charm information</h4>
    <p class="u-no-margin--bottom">Latest release</p>
    <p><strong>3 days ago</strong></p>
    <p class="u-no-margin--bottom">Deployments</p>
    <p><strong>6021</strong></p>
    <p class="u-no-margin--bottom">License</p>
    <p><strong>Apache license 2.0</strong></p>
    <div class="p-group">
      <p><a href="#"><i class="p-icon--share"></i>Homepage</a></p>
      <p><a href="#"><i class="p-icon--user"></i>Repository</a></p>
      <p><a href="#"><i class="p-icon--search"></i>Submit a bug</a></p>
      <p><a href="#"><i class="p-icon--code"></i>Contact</a></p>
    </div>
    <h4 class="p-muted-heading">Share this charm</h4>
    <p>Generate an embeddable card to be shared on external websites.</p>
    <p><a class="p-button--neutral">Share this charm</a></p>
  </div>
</div>
