<div class="u-fixed-width p-tabs__content" id="integrations">
  <noscript>
    <hr class="p-separator" />
    <h2>Integrations</h2>
  </noscript>
  {% for integration_category in integrations %}
  <p><strong>{{ integration_category.category }}</strong></p>
  <div class="row u-no-padding--left u-no-padding--right p-heading-icon__group">
    {% for software in integration_category.software %}
    <div class="col-3">
      <div class="p-heading-icon--small">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="{{ software.icon_url }}">
          <p class="p-heading-icon__title">{{ software.name }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <!-- To DO - add functionality to load more -->
  <p><a href="#">View more</a></p>
</div>