<div class="row p-tabs__content" id="overview">
  <div class="col-8">
    <h4>This is overview tab</h4>
    {{ description | safe }}
  </div>
  <div class="col-4">
    <h4 class="p-muted-heading">Charm information</h4>
    <p>Latest release<br /><strong>3 days ago</strong></p>
    <p>Deployments<br /><strong>{{ deployments }}</strong></p>
    <p>License<br /><strong>{{ license }}</strong></p>
    <ul class="p-list">
      <li class="p-list__item">
        <a href="{{ website }}"><i class="p-icon--share"></i>&nbsp;&nbsp;Homepage</a>
      </li>
      <li class="p-list__item">
        <a href="{{ repository_url }}"><i class="p-icon--user"></i>&nbsp;&nbsp;Repository</a>
      </li>
      <li class="p-list__item">
        <!-- TO DO - what if the bugs are submitted to launchpad? -->
        <a href="{{ repository_url }}/issues/new"><i class="p-icon--search"></i>&nbsp;&nbsp;Submit a bug</a>
      </li>
      <li class="p-list__item">
        <a href="{{ contact }}"><i class="p-icon--code"></i>&nbsp;&nbsp;Contact</a>
      </li>
    </ul>
    <h4 class="p-muted-heading">Share this charm</h4>
    <p>Generate an embeddable card to be shared on external websites.</p>
    <!-- TO DO - Needs an embed this charm overlay implemented -->
    <p><a class="p-button--neutral" href="">Share this charm</a></p>
  </div>
</div>