<div class="u-fixed-width p-tabs__content" id="history">
  <p>Displaying release history for the <strong>‘latest/stable’</strong> channel:</p>
  <table class="p-table--mobile-card" role="grid">
    <thead>
      <tr role="row">
        <th>Date</th>
        <th class="u-align--right">hadoop slave (charm)</th>
        <th class="u-align--right">Jdk</th>
        <th class="u-align--right">Imagery</th>
        <th class="u-align--right">Translations</th>
      </tr>
    </thead>
    <tbody>
      <tr role="row">
        <td role="rowheader" aria-label="Date">2019/7/4</td>
        <td role="gridcell" aria-label="hadoop slave (charm)" class="u-align--right">1.8</td>
        <td role="gridcell" aria-label="Jdk" class="u-align--right">12</td>
        <td role="gridcell" aria-label="Imagery" class="u-align--right">14</td>
        <td role="gridcell" aria-label="Translations" class="u-align--right">7</td>
      </tr>
      <tr role="row">
        <td role="rowheader" aria-label="Date">2019/6/12</td>
        <td role="gridcell" aria-label="hadoop slave (charm)" class="u-align--right"><strong>1.7</strong></td>
        <td role="gridcell" aria-label="Jdk" class="u-align--right">12</td>
        <td role="gridcell" aria-label="Imagery" class="u-align--right">14</td>
        <td role="gridcell" aria-label="Translations" class="u-align--right"><strong>6</strong></td>
      </tr>
      <tr role="row">
        <td role="rowheader" aria-label="Date">2019/5/4</td>
        <td role="gridcell" aria-label="hadoop slave (charm)" class="u-align--right">1.7</td>
        <td role="gridcell" aria-label="Jdk" class="u-align--right"><strong>13</strong></td>
        <td role="gridcell" aria-label="Imagery" class="u-align--right"><strong>13</strong></td>
        <td role="gridcell" aria-label="Translations" class="u-align--right">6</td>
      </tr>
      <tr role="row">
        <td role="rowheader" aria-label="Date">2019/4/3</td>
        <td role="gridcell" aria-label="hadoop slave (charm)" class="u-align--right">1.8</td>
        <td role="gridcell" aria-label="Jdk" class="u-align--right">12</td>
        <td role="gridcell" aria-label="Imagery" class="u-align--right">14</td>
        <td role="gridcell" aria-label="Translations" class="u-align--right">7</td>
      </tr>
      <tr role="row">
        <td role="rowheader" aria-label="Date">2019/4/3</td>
        <td role="gridcell" aria-label="hadoop slave (charm)" class="u-align--right">1.7</td>
        <td role="gridcell" aria-label="Jdk" class="u-align--right">13</td>
        <td role="gridcell" aria-label="Imagery" class="u-align--right">13</td>
        <td role="gridcell" aria-label="Translations" class="u-align--right">6</td>
      </tr>
    </tbody>
  </table>
  <!-- TO DO - add functionality -->
  <p><a href="#">View more ‘latest/stable’ history</a></p>
</div>
