{% set section_slug = "docs" %}
{% set section_title = "Docs" %}
{% include "partial/_partial-documentation.html" %}

{#<div class="u-fixed-width p-tabs__content" id="docs">
  <noscript>
    <hr class="p-separator" />
    <h2>Docs</h2>
  </noscript>
  <div class="row">
    <div class="col-3">
      <div class="p-side-navigation" data-js="sub-tabs">
        <ul class="p-side-navigation__list">
          <li class="p-side-navigation__item--title">
            <span class="p-side-navigation__text">Contents</span>
          </li>
          <li class="p-side-navigation__item">
            <a href="#deploying" class="p-side-navigation__link is-active" role="tab" aria-controls="deploying" aria-selected="false">
              Deploying
            </a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#network-restricted-environments" class="p-side-navigation__link" role="tab" aria-controls="network-restricted-environments">
              Network-Restricted Environments
            </a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#status" class="p-side-navigation__link" role="tab" aria-controls="status">
              Status
            </a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#smoke-test" class="p-side-navigation__link" role="tab" aria-controls="smoke-test">
              Smoke test
            </a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#utilities" class="p-side-navigation__link" role="tab" aria-controls="utilities">
              Utilities
            </a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#monitoring" class="p-side-navigation__link" role="tab" aria-controls="monitoring">
              Monitoring
            </a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#logging" class="p-side-navigation__link" role="tab" aria-controls="logging">
              Logging
            </a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#benchmarking" class="p-side-navigation__link" role="tab" aria-controls="benchmarking">
              Benchmarking
            </a>
          </li>
          <li class="p-side-navigation__item">
            <a href="#scaling" class="p-side-navigation__link" role="tab" aria-controls="scaling">
              Scaling
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-7 col-start-large-5">
      <ul class="p-list">
        <li class="p-list__item" id="deploying">
          <h4>Deploying</h4>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <pre><code>juju deploy openstack-dashboard</code></pre>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <pre><code>juju deploy /path/to/bundle.yaml</code></pre>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </li>
        <li class="p-list__item" id="network-restricted-environments">
          <h4>Network-Restricted Environments</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </li>
         <li class="p-list__item" id="status">
          <h4>Status</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto possimus, quibusdam similique, sint minus nihil aliquid voluptatem asperiores, illum optio officia porro tempora. Esse cumque repellat, amet eaque exercitationem distinctio.</p>
          <pre><code>juju run-action namenode/0 smoke-test
    juju run-action resourcemanager/0 smoke-test
    juju run-action slave/0 smoke-test
    juju run-action spark/0 smoke-test</code></pre>
        </li>
        <li class="p-list__item" id="smoke-test">
          <h4>Smoke test</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto possimus, quibusdam similique, sint minus nihil aliquid voluptatem asperiores, illum optio officia porro tempora. Esse cumque repellat, amet eaque exercitationem distinctio.</p>
          <pre><code>juju run-action namenode/0 smoke-test
    juju run-action resourcemanager/0 smoke-test
    juju run-action slave/0 smoke-test
    juju run-action spark/0 smoke-test</code></pre>
        </li>
        <li class="p-list__item" id="utilities">
          <h4>Utilities</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto possimus, quibusdam similique, sint minus nihil aliquid voluptatem asperiores, illum optio officia porro tempora. Esse cumque repellat, amet eaque exercitationem distinctio.</p>
          <pre><code>juju run-action namenode/0 smoke-test
    juju run-action resourcemanager/0 smoke-test
    juju run-action slave/0 smoke-test
    juju run-action spark/0 smoke-test</code></pre>
        </li>
        <li class="p-list__item" id="monitoring">
          <h4>Monitoring</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto possimus, quibusdam similique, sint minus nihil aliquid voluptatem asperiores, illum optio officia porro tempora. Esse cumque repellat, amet eaque exercitationem distinctio.</p>
          <pre><code>juju run-action namenode/0 smoke-test
    juju run-action resourcemanager/0 smoke-test
    juju run-action slave/0 smoke-test
    juju run-action spark/0 smoke-test</code></pre>
        </li>
        <li class="p-list__item" id="logging">
          <h4>Logging</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto possimus, quibusdam similique, sint minus nihil aliquid voluptatem asperiores, illum optio officia porro tempora. Esse cumque repellat, amet eaque exercitationem distinctio.</p>
          <pre><code>juju run-action namenode/0 smoke-test
    juju run-action resourcemanager/0 smoke-test
    juju run-action slave/0 smoke-test
    juju run-action spark/0 smoke-test</code></pre>
        </li>
        <li class="p-list__item" id="benchmarking">
          <h4>Benchmarking</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto possimus, quibusdam similique, sint minus nihil aliquid voluptatem asperiores, illum optio officia porro tempora. Esse cumque repellat, amet eaque exercitationem distinctio.</p>
          <pre><code>juju run-action namenode/0 smoke-test
    juju run-action resourcemanager/0 smoke-test
    juju run-action slave/0 smoke-test
    juju run-action spark/0 smoke-test</code></pre>
        </li>
        <li class="p-list__item" id="scaling">
          <h4>Scaling</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto possimus, quibusdam similique, sint minus nihil aliquid voluptatem asperiores, illum optio officia porro tempora. Esse cumque repellat, amet eaque exercitationem distinctio.</p>
          <pre><code>juju run-action namenode/0 smoke-test
    juju run-action resourcemanager/0 smoke-test
    juju run-action slave/0 smoke-test
    juju run-action spark/0 smoke-test</code></pre>
        </li>
      </ul>
    </div>
  </div>
</div>
#}
