<div class="u-fixed-width p-tabs__content" id="contribute">
  <p>Community participation is welcome on this project, here is how you can get involved&hellip;</p>
  <h4>Github</h4>
  <p>
    We keep our codebase in GitHub in the following repository:
  </p>
  <p>
    <a href="https://github.com/canonical/openstack-dashboard">https://github.com/canonical/openstack-dashboard</a>
  </p>
  <p>
    Feel free to create a PR and our moderators will take care of the rest. Your PR will be reviewed by our development team
    and if the changes are appropriate they will get merged!
  </p>
  <h4>Discourse</h4>
  <p>
    We use Discourse as our chosen community forum, feel free to get involved with discussion or create new topics. Visit
    the following link below to get started:
  </p>
  <p>
    <a href="https://discourse.canonical-openstack.com">https://discourse.canonical-openstack.com</a>
  </p>
</div>
