<div class="u-position--sticky">
  <div class="u-fixed-width">
    <nav class="p-tabs" data-js="tabs">
      <ul class="p-tabs__list" role="tablist">
        <li class="p-tabs__item" role="presentation">
          <a href="#overview" class="p-tabs__link" tabindex="0" role="tab" aria-controls="overview"
            aria-selected="false">Overview</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="#configuration" class="p-tabs__link" tabindex="-1" role="tab"
            aria-controls="configuration">Configuration</a>
        </li>
        {% if package["type"] == "charm" %}
        <li class="p-tabs__item" role="presentation">
          <a href="#actions" class="p-tabs__link" tabindex="-1" role="tab" aria-controls="actions">Actions</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="#integrations" class="p-tabs__link" tabindex="-1" role="tab"
            aria-controls="integrations">Integrations</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="#docs" class="p-tabs__link" tabindex="-1" role="tab" aria-controls="docs">Docs</a>
        </li>
        {% endif %}
        <li class="p-tabs__item" role="presentation">
          <a href="#history" class="p-tabs__link" tabindex="-1" role="tab" aria-controls="history">History</a>
        </li>
        <li class="p-tabs__item" role="presentation">
          <a href="#contribute" class="p-tabs__link" tabindex="-1" role="tab" aria-controls="contribute">Contribute</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
