<div class="p-strip is-shallow u-fixed-width">
  <hr>
</div>
{% if detail_type == "charm" %}
<div class="p-strip is-shallow u-no-padding--top u-fixed-width">
  <h4>Top bundles using this charm</h4>
</div>
{% else %}
<div class="p-strip is-shallow u-no-padding--top row">
  <div class="col-3">
    <h4>11 similar bundles</h4>
  </div>
  <div class="col-3 col-start-large-10 u-align--right">
    <a href="#" class="p-button--neutral">View all similar bundles&hellip;</a>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-4">
    <div class="p-card--bundle">
      <div class="p-card__title">
        <a href="/canonical-kubernetes/bundle/804" class="p-bundle-icons">
          <img src="https://api.jujucharms.com/charmstore/v5/lxd-22/icon.svg" class="p-bundle-icons__image" alt="">
          <img src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-271/icon.svg" class="p-bundle-icons__image" alt=""> +12 </a>
        <h4 class="p-card__title-text">Openstack Lxd</h4>
      </div>
      <div class="p-card__subtitle">
        <ul class="p-inline-list--middot u-no-margin--bottom">
          <li class="p-inline-list__item"> By <a href="/">openstack-charmers</a>
            <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
              <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
              <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
            </span>
          </li>
          <li class="p-inline-list__item">
            <a href="/">Openstack</a>
          </li>
        </ul>
        <div class="series-tags">
          <span class="series-tag"> 18.04 </span>
        </div>
      </div>
      <div class="p-card__content">
        <p>This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block Storage, Object Storage, Identity and Image services.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-card--bundle">
      <div class="p-card__title">
        <a href="/canonical-kubernetes/bundle/804" class="p-bundle-icons">
          <img src="https://api.jujucharms.com/charmstore/v5/lxd-22/icon.svg" class="p-bundle-icons__image" alt="">
          <img src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-271/icon.svg" class="p-bundle-icons__image" alt=""> +12 </a>
        <h4 class="p-card__title-text">Openstack Lxd</h4>
      </div>
      <div class="p-card__subtitle">
        <ul class="p-inline-list--middot u-no-margin--bottom">
          <li class="p-inline-list__item"> By <a href="/">openstack-charmers</a>
            <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
              <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
              <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
            </span>
          </li>
          <li class="p-inline-list__item">
            <a href="/">Openstack</a>
          </li>
        </ul>
        <div class="series-tags">
          <span class="series-tag"> 18.04 </span>
        </div>
      </div>
      <div class="p-card__content">
        <p>This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block Storage, Object Storage, Identity and Image services.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-card--bundle">
      <div class="p-card__title">
        <a href="/canonical-kubernetes/bundle/804" class="p-bundle-icons">
          <img src="https://api.jujucharms.com/charmstore/v5/lxd-22/icon.svg" class="p-bundle-icons__image" alt="">
          <img src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-271/icon.svg" class="p-bundle-icons__image" alt=""> +12 </a>
        <h4 class="p-card__title-text">Openstack Lxd</h4>
      </div>
      <div class="p-card__subtitle">
        <ul class="p-inline-list--middot u-no-margin--bottom">
          <li class="p-inline-list__item"> By <a href="/">openstack-charmers</a>
            <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
              <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
              <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
            </span>
          </li>
          <li class="p-inline-list__item">
            <a href="/">Openstack</a>
          </li>
        </ul>
        <div class="series-tags">
          <span class="series-tag"> 18.04 </span>
        </div>
      </div>
      <div class="p-card__content">
        <p>This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block Storage, Object Storage, Identity and Image services.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-card--bundle">
      <div class="p-card__title">
        <a href="/canonical-kubernetes/bundle/804" class="p-bundle-icons">
          <img src="https://api.jujucharms.com/charmstore/v5/lxd-22/icon.svg" class="p-bundle-icons__image" alt="">
          <img src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-271/icon.svg" class="p-bundle-icons__image" alt=""> +12 </a>
        <h4 class="p-card__title-text">Openstack Lxd</h4>
      </div>
      <div class="p-card__subtitle">
        <ul class="p-inline-list--middot u-no-margin--bottom">
          <li class="p-inline-list__item"> By <a href="/">openstack-charmers</a>
            <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
              <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
              <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
            </span>
          </li>
          <li class="p-inline-list__item">
            <a href="/">Openstack</a>
          </li>
        </ul>
        <div class="series-tags">
          <span class="series-tag"> 18.04 </span>
        </div>
      </div>
      <div class="p-card__content">
        <p>This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block Storage, Object Storage, Identity and Image services.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-card--bundle">
      <div class="p-card__title">
        <a href="/canonical-kubernetes/bundle/804" class="p-bundle-icons">
          <img src="https://api.jujucharms.com/charmstore/v5/lxd-22/icon.svg" class="p-bundle-icons__image" alt="">
          <img src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-271/icon.svg" class="p-bundle-icons__image" alt=""> +12 </a>
        <h4 class="p-card__title-text">Openstack Lxd</h4>
      </div>
      <div class="p-card__subtitle">
        <ul class="p-inline-list--middot u-no-margin--bottom">
          <li class="p-inline-list__item"> By <a href="/">openstack-charmers</a>
            <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
              <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
              <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
            </span>
          </li>
          <li class="p-inline-list__item">
            <a href="/">Openstack</a>
          </li>
        </ul>
        <div class="series-tags">
          <span class="series-tag"> 18.04 </span>
        </div>
      </div>
      <div class="p-card__content">
        <p>This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block Storage, Object Storage, Identity and Image services.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-card--bundle">
      <div class="p-card__title">
        <a href="/canonical-kubernetes/bundle/804" class="p-bundle-icons">
          <img src="https://api.jujucharms.com/charmstore/v5/lxd-22/icon.svg" class="p-bundle-icons__image" alt="">
          <img src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-271/icon.svg" class="p-bundle-icons__image" alt=""> +12 </a>
        <h4 class="p-card__title-text">Openstack Lxd</h4>
      </div>
      <div class="p-card__subtitle">
        <ul class="p-inline-list--middot u-no-margin--bottom">
          <li class="p-inline-list__item"> By <a href="/">openstack-charmers</a>
            <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
              <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
              <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
            </span>
          </li>
          <li class="p-inline-list__item">
            <a href="/">Openstack</a>
          </li>
        </ul>
        <div class="series-tags">
          <span class="series-tag"> 18.04 </span>
        </div>
      </div>
      <div class="p-card__content">
        <p>This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block Storage, Object Storage, Identity and Image services.</p>
      </div>
    </div>
  </div>
</div>