<div class="col-x-small-1 col-small-2 col-medium-2 col-3 u-equal-height" data-js="topic-card" data-filter="topic">
  <a href="/topics/kubernetes" class="p-card--button is-topic-card">
    <div class="p-card__header" style="background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.1) 49.9%, transparent 50%), linear-gradient(to top left, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.1) 49.9%, transparent 50%), linear-gradient(252deg, #014bd1 45%, #4279f4 91%);">
      <div class="">
        <img src="https://assets.ubuntu.com/v1/6c605f4d-Group+27+Copy.svg" alt="" class="p-card__thumbnail">
      </div>
      <h4 class="p-card__title u-no-margin--bottom">Kubernetes</h4>
    </div>
    <div class="p-card__content">
      <p><small>Control large pools of compute, storage and networking in your data centre.</small></p>
    </div>
  </a>
</div>
