{% if charm.icon %}
  {% set icon_url = charm.icon %}
{% else %}
  {% set icon_url = "https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg" %}
{% endif %}

{# Card #}
<div
  class="p-card"
  role="group"
  style="width: 100%; height: 100%; display: flex; flex-direction: column;"
>
  <div class="p-card__content" style="display: flex; flex-direction: column; flex-grow: 1; height: 100%;">
    {# IconCard #}
    <div
      class="p-media-object u-no-margin--bottom"
      style="height: 100%"
    >
      <img
        src="{{ icon_url }}"
        width="48"
        height="48"
        class="p-media-object__image"
        alt="{{ charm.display_name or charm.charm_name }}"
      />
      <div 
        class="p-media-object__details"
        style="height: 100%; width: 100%; display: flex; flex-direction: column; flex-grow: 1;"
      >
        {# InnerCard #}
        <div
          class="sc-package-card"
          style="height: 100%; display: flex; flex-direction: column; flex-grow: 1;"
        >
          <div class="sc-package-card__body" style="display: flex; flex-direction: column; flex-grow: 1;">
            <h2 class="sc-package-card__heading p-heading--5 u-no-margin--bottom">
              <a class="sc-package-card__heading-link" href="/{{ charm.charm_name }}">
                {{ charm.display_name or charm.charm_name }}
              </a>
            </h2>

            <p class="u-text--muted u-no-padding--top">
              <em>{{ charm.publisher["display-name"] }}</em>
            </p>

            <p class="u-line-clamp">
              {{ charm.summary | truncate(50) }}
            </p>

            <div class="sc-package-card__footer" style="margin-top: auto;">
              <hr />
              <div class="sc-package-card__footer-content">
                <div class="sc-platform u-align--right">
                  {% set platforms = charm["deployable-on"] %}
                  {% if platforms | length > 0 and "kubernetes" is in(platforms) %}
                    <img
                      class="sc-platform-icon"
                      src="https://assets.ubuntu.com/v1/f1852c07-Kubernetes.svg"
                      width="24"
                      height="24"
                      alt="Kubernetes"
                    />
                  {% else %}
                    <img
                      class="sc-platform-icon"
                      src="https://assets.ubuntu.com/v1/bf61e269-machine-badge.svg"
                      width="24"
                      height="24"
                      alt="Machine"
                    />
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>