{% extends 'base_layout.html' %}

{% block meta_title %}{{ solution.name }} – Charmhub Solutions{% endblock %}
{% block meta_description %}{{ solution.short_description }}{% endblock %}
{% block meta_image %}{{ solution.documentation.architecture_diagram }}{% endblock %}
{% block meta_image_alt %}{{ solution.name }} logo{% endblock %}

{% block structure_data_markup %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "{{ solution.name }}",
    "description": "{{ solution.short_description }}",
    "icon": "{{ solution.icon }}",
    "brand": "{{ solution.publisher.name }}",
    "version": "{{ solution.version }}",
    "url": "{{ request.url }}"
  }
  </script>
{% endblock %}

{% block content %}
  {% include 'solutions/_header.html' %}
  <div class="p-block"></div>
  <div class="row">
    <div class="col-3">
      {% include '/solutions/_side-nav.html' %}
    </div>
    <div class="col-9">
      {% include '/solutions/solutions_details.html' %}
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
  <script src="{{ versioned_static('js/dist/solutions.js') }}" defer></script>
  {% block solutions_init %}
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      charmhub.solutions.init({{ solution | tojson }});
    });
  </script>
  {% endblock %}
{% endblock %}
