{% extends 'base_layout.html' %}

{% block meta_title %}{% if interface %}{{ interface.name }} interface{% else %}Interface catalogue{% endif %}{% endblock %}

{% set interfaces_description = "Interfaces describe the relation between two charms. This interface catalogue shows opinionated, standardized interface specifications for charm relations." %}

{% set interface_description = "Interfaces describe the relation between two charms. This interface shows opinionated, standardized interface specifications for charm relations." %}

{% block meta_description %}{% if interface %}{{ interface_description }}{% else %}{{ interfaces_description }}{% endif %}{% endblock %}

{% block content %}
<main id="app"></main>
<script>
  window.initialProps = {
    interfacesList: null,
    interfaceItem: null,
  };

  {% if interfaces %}
  window.initialProps.interfacesList = {{ interfaces|safe }};
  {% endif %}

  {% if interface %}
  window.initialProps.interfaceItem = {{ interface|safe }};
  {% endif %}
</script>
{{ vite_import('static/js/src/interfaces/index.tsx') }}
{% endblock %}
