name: PR checks
on:
  pull_request:
  push:
    branches: main

env:
  SECRET_KEY: insecure_test_key

permissions:
  contents: read

jobs:
  run-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build image
        run: DOCKER_BUILDKIT=1 docker build --tag charmhub-io .

      - name: Run image
        run: |
          docker run -d -p 80:80 --env-file .env charmhub-io
          sleep 1
          curl --head --fail --retry-delay 1 --retry 30 --retry-connrefused http://localhost

  run-dotrun:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dotrun
        run: |
          sudo pip3 install dotrun requests==2.31.0 # requests version is pinned to avoid breaking changes, can be removed once issue is resolved: https://github.com/docker/docker-py/issues/3256

      - name: Install dependencies
        run: |
          sudo chmod -R 777 .
          dotrun install

      - name: Build assets
        run: dotrun build

      - name: Test site
        run: dotrun & sleep 60 && curl --head --fail --retry-delay 1 --retry 30 --retry-connrefused http://localhost:8045

  run-cypress:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # START copy of the run-dotrun job
      - uses: actions/checkout@v4

      - name: Install Dotrun
        run: |
          sudo pip3 install dotrun requests==2.31.0 # requests version is pinned to avoid breaking changes, can be removed once issue is resolved: https://github.com/docker/docker-py/issues/3256

      - name: Install dependencies
        run: |
          sudo chmod -R 777 .
          dotrun install

      - name: Build assets
        run: dotrun build

      - name: Test site
        run: dotrun & sleep 60 && curl --head --fail --retry-delay 1 --retry 30 --retry-connrefused http://localhost:8045
      # END copy of the run-dotrun job

      - name: Run Cypress as a Docker container
        run: |
          docker run --network="host" -v .:/app cypress/base:22.18.0 \
            bash "-c" "cd /app && npx cypress install && yarn run test-e2e"

  pack-rock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup LXD
        uses: canonical/setup-lxd@main

      - name: Setup rockcraft
        run: sudo snap install rockcraft --classic

      - name: Pack rock
        run: rockcraft pack

  check-prettier:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn install --immutable

      - name: Check Prettier
        run: yarn check-prettier

  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      py: ${{ steps.filter.outputs.py }}
      js: ${{ steps.filter.outputs.js }}
      scss: ${{ steps.filter.outputs.scss }}
    steps:
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          py:
            - '**/*.py'
            - 'requirements.txt'
            - 'templates/**/*'
          js:
            - '**/*.js'
            - '**/*.ts'
            - '**/*.jsx'
            - '**/*.tsx'
            - 'package.json'
            - 'yarn.lock'
            - 'eslint.config.mjs'
            - 'vitest.config.js'
            - 'vite.config.js'
            - 'tsconfig.json'
          scss:
            - '**/*.scss'
            - '.stylelintrc'
            - 'package.json'
            - 'yarn.lock'

  lint-python:
    needs: changes
    if: ${{ needs.changes.outputs.py == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint Python
        run: yarn lint-python

  lint-scss:
    needs: changes
    if: ${{ needs.changes.outputs.scss == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install SCSS dependencies
        run: yarn install --immutable

      - name: Lint SCSS
        run: yarn lint-scss

  lint-js:
    needs: changes
    if: ${{ needs.changes.outputs.py == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install JS dependencies
        run: yarn install --immutable

      - name: Lint JS
        run: yarn lint-js

  test-python:
    needs: changes
    if: ${{ needs.changes.outputs.py == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install coverage

      - name: Run Python tests with coverage
        run: |
          SECRET_KEY=insecure_secret_key coverage run  --source=. -m unittest discover tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: python

  test-js:
    needs: changes
    if: ${{ needs.changes.outputs.py == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install --immutable

      - name: Test JS
        run: |
          yarn test-js --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: javascript

  check-inclusive-naming:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check inclusive naming
        uses: canonical-web-and-design/inclusive-naming@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail-on-error: true
